.catalog-b-list.new{
	margin-top:2.5rem;
	margin-left:0;
}#new_special_elements .bx_catalog_list_home{
	margin:0 -1.5rem;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item{
	position:relative;
	background:#fff;
	padding:0;
	height:37.7rem;
	text-align:center;
	box-shadow:0 3px 3px #d2d2d2;
}
@media (min-width: 767px){
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		margin-bottom:3rem;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover{
		box-shadow:none;
		overflow:unset;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
		background: #fff;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		z-index: 99;
		box-shadow: 0 3px 3px #d2d2d2;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_price.top{
		display:block;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_price.bottom{
		display:none;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container .goods-action{
		display:block;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-name a:hover{
		color: #71a53b;
		text-decoration: underline;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container a .more{
		display:inline;
	}
}
#new_special_elements .bx_catalog_list_home .bx_catalog_item a{
	box-shadow:none;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item a .more{
	position: absolute;
	top: 11.25rem;
	right: 0;
	left: 0;
	margin: auto 20%;
	background: rgba(255,255,255,.7);
	color: #000;
	font-size:1.6em;
	padding: 1.4rem 2.4rem;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	display:none;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-pic{
	position:relative;
	height:26.5rem;
	overflow:hidden;
	border: 1px solid #bbbbbb;
	padding: 1px;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-info{
	margin:1.9rem 0 0.9rem 0;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-name a{
    color: #000;
    font-size: 1.8em;
    font-weight: 400;
	text-transform: uppercase;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.top{
	display:none;
	background:#71a53b;
	color:#fff;
	padding:5px 0;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price .item_current_price{
	font-size: 1.6em;
	color: #fff;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.bottom .item_current_price{
	color: #000;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price .item_current_price .action-price{
	font-size: 1.6em;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.bottom .item_current_price .action-price{
	color:#cc0001;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-action{
	margin-top:0.5rem;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .p-quantity{
	display:inline-block;
	margin-top: 1rem;
	margin-bottom: 1.9rem;
	overflow: hidden;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .p-quantity a{
    color: #656565;
	border:1px solid #b7b7b7;
    display: inline-block;
    font: 300 3.2em/2.6rem sans-serif;
	width: 3rem;
    height: 2.6rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
	color: #000;
    outline: none;
	-moz-border-radius: 1px; /* Firefox */
	-webkit-border-radius: 1px; /* Safari, Chrome */
	-khtml-border-radius: 1px; /* KHTML */
	border-radius: 1px; /* CSS3 */
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .p-quantity a.btn-decrease{
	margin:0 0.5rem;
}#new_special_elements .bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
    font: 600 1.4em/2.6rem sans-serif;
    height: 2.6rem;
    line-height: 3.1rem;
    padding: 0 0.7rem;
    text-align: left;
    vertical-align: middle;
    width: 4.2rem;
    color: #000;
    outline: none;
	border:1px solid #b7b7b7;
	-moz-border-radius: 1px; /* Firefox */
	-webkit-border-radius: 1px; /* Safari, Chrome */
	-khtml-border-radius: 1px; /* KHTML */
	border-radius: 1px; /* CSS3 */
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-action{
	background:#fff;
	display:none;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .btn.action-addtocart{
    background: #ad1b34;
	width:100%;
    color: #fff;
	font-size:1.6em;
    padding: 1.4rem 1.6rem;
	border-radius: 0;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .btn.action-addtocart:hover{
	background: #d84406;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .btn.action-addtofavourite{
	color: #7abc58;
    border-radius: 0;
    display: inline-block;
	width:100%;
    padding: 1.4rem 1.6rem;
	font-size:1.6em;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item_images_double, #new_special_elements.bx_catalog_list_home .bx_catalog_item_images{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 26.3rem;
    position: relative;
    webkit-background-size: contain;
    width: 100%;
    z-index: 91;
	overflow:hidden;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item_images{
    position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    margin: auto;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item_images img{
    position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    margin: auto;
    max-width: 25.8rem;
    max-height: 26.3rem;
}#new_special_elements .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls_blocktwo{
	overflow: hidden;
	margin-bottom:1.9rem;
	padding: 0 1.8rem;
}#new_special_elements .not_found{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.4em;
    padding: 3rem 0;
    text-transform: uppercase;
    font-weight: bold;
}
@media (max-width: 767px){
	#new_special_elements .bx_catalog_list_home{
		padding:0;
		margin:0;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		width:100%;
		min-width:30rem;
		height:auto;
		padding:0;
		margin: 0;
		margin-bottom: 1.5rem;
		box-shadow:none;
		border: 1px solid #bbbbbb;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-pic{
		border:none;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-action{
		display:block;
		padding-bottom: 2rem;
		padding-top: 1.5rem;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .btn.action-addtofavourite{
		background: #7abc58;
		color:#fff;
		border-radius: 0;
		display: inline-block;
		width:100%;
		padding: 1.4rem 1.6rem;
		font-size:1.6em;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
		position:static;
		padding:0;
		box-shadow:none;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container.bx_catalog_list_home .bx_catalog_item .goods-action{
		display:block;
		padding-bottom: 2rem;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .goods-action a.btn {
		display:inline-block;
		height: 5rem;
		line-height: 5rem;
		border: none;
		width: 100%;
		min-width: auto;
		overflow: hidden;
		padding: 0;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .p-quantity{
		margin-bottom:1.5rem;
	}#new_special_elements .bx_catalog_list_home .bx_catalog_item .p-quantity a{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}#new_special_elements .bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}.catalog-b-list{
		padding: 0 1rem;
		margin: 0 0 2.5rem 0;
		margin-bottom:0;
	}
}
@media (min-width: 1200px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.8em;
	}
}@media (min-width: 2400px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item .p-quantity a{
		border:2px solid #b7b7b7;
	}#new_special_elements .bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
		border:2px solid #b7b7b7;
	}
}
@media (min-width: 1600px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.9em
	}
}
@media (min-width: 1800px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.8em
	}
}
@media (min-width: 2048px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.8em
	}
}
@media (min-width: 2160px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.8em
	}
}
@media (min-width: 2400px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.9em
	}
}
@media (min-width: 2880px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.9em
	}
}
@media (min-width: 3200px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.9em
	}
}
@media (min-width: 4096px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.9em
	}
}
@media (min-width: 4320px) {
	#new_special_elements .bx_catalog_list_home .bx_catalog_item{
		font-size:.8em
	}
}