.catalog-b-list{
	margin-top:2.5rem;
}.bx_catalog_list_home{
	margin:0 -1.5rem;
}.bx_catalog_list_home .bx_catalog_item{
	position:relative;
	background:#fff;
	padding:0;
	height:37.7rem;
	text-align:center;
	box-shadow:0 3px 3px #d2d2d2;
}
@media (min-width: 767px){
	.bx_catalog_list_home .bx_catalog_item{
		margin-bottom:3rem;
	}.bx_catalog_list_home .bx_catalog_item:hover{
		box-shadow:none;
		overflow:unset;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
		background: #fff;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		z-index: 99;
		box-shadow: 0 3px 3px #d2d2d2;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_price.top{
		display:block;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_price.bottom{
		display:none;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container .goods-action{
		display:block;
	}.bx_catalog_list_home .bx_catalog_item .goods-name a:hover{
		color: #71a53b;
		text-decoration: underline;
	}
}
.bx_catalog_list_home .bx_catalog_item a{
	box-shadow:none;
}.bx_catalog_list_home .bx_catalog_item .goods-pic{
	position:relative;
	height:26.5rem;
	overflow:hidden;
	border: 1px solid #bbbbbb;
	padding: 1px;
}.bx_catalog_list_home .bx_catalog_item .goods-info{
	margin:1.9rem 0 0.9rem 0;
}.bx_catalog_list_home .bx_catalog_item .goods-name a{
    color: #000;
    font-size: 1.8em;
    font-weight: 400;
	text-transform: uppercase;
}.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.top{
	padding:4px 0;
	display:none;
}.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.top, .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.top .action-price{
	background:#71a53b;
	color:#fff;
}.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.top .item_current_price{
	font-size: 1.6em;
	color: #fff;
}.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price.bottom .item_current_price{
	font-size: 1.6em;
	color: #000;
}.bx_catalog_list_home .bx_catalog_item .item_current_price .action-price{
	font-size: 2.4em;
	font-weight:bold;
	color:#cc0001;
	text-decoration:none;
}.bx_catalog_list_home .bx_catalog_item .goods-action{
	margin-top:0.5rem;
}.bx_catalog_list_home .bx_catalog_item .p-quantity{
	display:inline-block;
	margin-top: 1rem;
	margin-bottom: 1.9rem;
	overflow: hidden;
}.bx_catalog_list_home .bx_catalog_item .p-quantity a{
    color: #656565;
	border:1px solid #b7b7b7;
    display: inline-block;
    font: 300 3.2em/2.6rem sans-serif;
	width: 3rem;
    height: 2.6rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
	color: #000;
    outline: none;
	-moz-border-radius: 1px; /* Firefox */
	-webkit-border-radius: 1px; /* Safari, Chrome */
	-khtml-border-radius: 1px; /* KHTML */
	border-radius: 1px; /* CSS3 */
}.bx_catalog_list_home .bx_catalog_item .p-quantity a.btn-decrease{
	margin:0 0.5rem;
}.bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
    font: 600 1.4em/2.6rem sans-serif;
    height: 2.6rem;
    line-height: 3.1rem;
    padding: 0 0.7rem;
    text-align: left;
    vertical-align: middle;
    width: 4.2rem;
    color: #000;
    outline: none;
	border:1px solid #b7b7b7;
	-moz-border-radius: 1px; /* Firefox */
	-webkit-border-radius: 1px; /* Safari, Chrome */
	-khtml-border-radius: 1px; /* KHTML */
	border-radius: 1px; /* CSS3 */
}.bx_catalog_list_home .bx_catalog_item .goods-action{
	background:#fff;
	display:none;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtocart{
    background: #ad1b34;
    border-radius: 0;
    color: #fff;
	font-size:1.6em;
    display: inline-block;
    padding: 1.4rem 1.6rem;
	margin: .25rem;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtocart:hover{
	background: #d84406;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtofavourite{
    color: #7abc58;
    border-radius: 0;
    display: inline-block;
    padding: 6px;
	font-size:1.6em;
	margin: .25rem;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtofavourite:hover{
	text-decoration:underline;
}.bx_catalog_list_home .bx_catalog_item_images_double, .bx_catalog_list_home .bx_catalog_item_images{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 26.3rem;
    position: relative;
    webkit-background-size: contain;
    width: 100%;
    z-index: 91;
	overflow:hidden;
}.bx_catalog_list_home .bx_catalog_item_images img{
    position: absolute;
    left: -50%;
    right: -50%;
    top: -50%;
    bottom: -50%;
    margin: auto;
    max-width: 25.8rem;
    max-height: 26.3rem;
}.bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls_blocktwo{
	margin-bottom:1.9rem;
}
@media (max-width: 767px){
	.bx_catalog_list_home{
		padding:0;
		margin:0;
	}.bx_catalog_list_home .bx_catalog_item{
		width:100%;
		min-width:30rem;
		height:auto;
		padding:0;
		margin: 0;
		margin-bottom: 1.5rem;
		box-shadow:none;
		border: 1px solid #bbbbbb;
	}.bx_catalog_list_home .bx_catalog_item .goods-pic{
		border:none;
	}.bx_catalog_list_home .bx_catalog_item .goods-action{
		display:block;
		padding-bottom: 2rem;
		padding-top: 1.5rem;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
		position:static;
		padding:0;
		box-shadow:none;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container.bx_catalog_list_home .bx_catalog_item .goods-action{
		display:block;
		padding-bottom: 2rem;
	}.bx_catalog_list_home .bx_catalog_item .goods-action .btn.action-addtocart span{
		display:none;
	}.bx_catalog_list_home .bx_catalog_item .goods-action .btn.action-addtofavourite span{
		display:none;
	}.bx_catalog_list_home .bx_catalog_item .goods-action a.btn {
		display:inline-block;
		height: 5rem;
		line-height: 5rem;
		border: none;
		width: 5rem;
		min-width: auto;
		overflow: hidden;
		padding: 0;
		margin: 1rem;
	}.bx_catalog_list_home .bx_catalog_item a.btn.action-addtocart:before{
		content:"\f217";
		font: normal normal normal 1.8em/40px FontAwesome;
	}.bx_catalog_list_home .bx_catalog_item a.btn.action-addtofavourite:before{
		content:"\f08a";
		font: normal normal normal 1.8em/40px FontAwesome;
	}.bx_catalog_list_home .bx_catalog_item .p-quantity{
		margin-bottom:1.5rem;
	}.bx_catalog_list_home .bx_catalog_item .p-quantity a{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}.bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}.primary-menu{
		display:none;
	}.catalog-b-list{
		padding: 0 1.5rem;
		margin: 3rem 0;
	}
}
@media (min-width: 1200px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.8em;
	}
}@media (min-width: 2400px) {
	.bx_catalog_list_home .bx_catalog_item .p-quantity a{
		border:2px solid #b7b7b7;
	}.bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
		border:2px solid #b7b7b7;
	}
}
@media (min-width: 1600px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.7em
	}
}
@media (min-width: 1800px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.7em
	}
}
@media (min-width: 2048px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.7em
	}
}
@media (min-width: 2160px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.7em
	}
}
@media (min-width: 2400px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.7em
	}
}
@media (min-width: 2880px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.7em
	}
}
@media (min-width: 3200px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.6em
	}
}
@media (min-width: 4096px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.6em
	}
}
@media (min-width: 4320px) {
	.bx_catalog_list_home .bx_catalog_item{
		font-size:0.6em
	}
}