.b-header-cart__counter .num_products{
	float: right;
	text-align: center;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.3em;
	line-height: 2.2rem;
	margin-right: -1rem;
	margin-top: -0.5rem;
	background: #71a53b;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
}.b-header-favourite__icon{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: url(images/избранное.png) no-repeat;
	background-size: 100%;
	background-position: 50%;
	width: 4.3rem;
	height: 4.3rem;
}.b-header-cart__icon{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: url(images/корзина.png) no-repeat;
	background-size: 100%;
	background-position: 50%;
	width: 4.3rem;
	height: 4.3rem;
	margin-left: 2rem;
}
 