.bx-searchtitle-m{
	padding:0 1.5rem;
}.bx-searchtitle-m .bx-block-title {
	font-family: sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 0.9rem;
	font-weight: 600;
}
.bx-searchtitle-m .bx-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-searchtitle-m .bx-input-group {}
.bx-searchtitle-m .bx-input-group .bx-form-control {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	display: block;
	width: 100%;
	height: 3.4rem;
	padding: 0.6rem 1.2rem;
	font-size: 1.4em;
	line-height: 1.42857143;
	color: #555;
	background-color: #f8fafc;
	border: 1px solid #d5dadc;
	border-right: none;
	border-radius: 2px 0 0 2px;
	outline: none;
	box-shadow: none !important;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bx-ios .bx-searchtitle-m .bx-input-group .bx-form-control {
	/* Fix of input shadow for IOS browsers. */
	background-image: -webkit-linear-gradient(#f8fafc 0%, #f8fafc 100%);
	background-image: linear-gradient(#f8fafc 0%, #f8fafc 100%);
}
.bx-searchtitle-m .bx-input-group-btn {
	position: relative;
	font-size: 0;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}
.bx-searchtitle-m .bx-searchtitle-m .bx-input-group-btn button {
	position: relative;
	border: none;
	background: #95a1a8;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	padding:0.6rem 1.2rem;
	border-radius: 0 2px 2px 0;
	color: #fff;
	font-size: 1.6em;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.bx-searchtitle-m .bx-searchtitle-m .bx-input-group-btn button:hover {
	background: #1484CE;
}


.bx-searchtitle-m div.title-search-result-mobile {
	display:none;
	overflow:hidden;
	z-index:999;
	margin-top:-0.3rem;
	background-color: #FFF;
}

.bx-searchtitle-m div.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}

.bx-searchtitle-m p.title-search-preview {
	font-size:1.2em;
}
.bx-searchtitle-m div.title-search-result-mobile td.title-search-price span {
	font-size: 2.6em;
}

/*========================*/
.bx-searchtitle-m .bx_searche_mobile{overflow:auto;}
.bx-searchtitle-m .bx_searche_mobile .bx_img_element{
	float: left;
	width: 11rem;
	position: absolute;
	top: 0;
	bottom: 0;
}
.bx-searchtitle-m .bx_searche_mobile .bx_item_block{
	min-height: 11rem;
	margin: 1.5rem 0;
	position: relative
}
.bx-searchtitle-m .bx_searche_mobile .bx_image{
	width: 11rem;
	height: 11rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e8e8e8;
}
.bx-searchtitle-m .bx_searche_mobile .bx_item_element{
	/*float: left;*/
	padding-left: 1rem;
	margin-left: 12rem;
}
.bx-searchtitle-m .bx_searche_mobile .bx_item_element hr{
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.bx-searchtitle-m .bx_searche_mobile .bx_item_element a{
	margin-top: 1rem;
	display: inline-block;
	color: #71a53b;
	font-size: 1.4em;
	text-decoration: none;
}
.bx-searchtitle-m .bx_searche_mobile .bx_item_element a b{color: #000;font-weight: normal;}
.bx-searchtitle-m .bx_searche_mobile .bx_item_element a:hover,
.bx-searchtitle-m .bx_searche_mobile .bx_item_element a:hover b{text-decoration: underline;}
.bx-searchtitle-m .bx_searche_mobile .bx_price{
	font-weight:bold;
	font-size:1.3em;
}
.bx-searchtitle-m .bx_searche_mobile .bx_price .old{
	font-weight:normal;
	text-decoration: line-through;
	color: #636363
}
.bx-searchtitle-m .bx_item_block.all_result{min-height:0}
.bx-searchtitle-m .bx_item_block.others_result{
	min-height: 0;
	padding: 0 0 1.2em;
	line-height: 1.2rem;
}
.bx-searchtitle-m .bx_item_block.all_result .all_result_title{
	display: block;
	font-size: 1.2em;
	color: #a7a7a7;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.bx-searchtitle-m .bx_item_block.all_result .all_result_title a{color: #a7a7a7}
.bx-searchtitle-m .bx_item_block.all_result .all_result_title a:hover{color: #4788cb}
.bx-searchtitle-m .bx_item_block.all_result a{
	margin-top: 0;
}
.bx-searchtitle-m .search-form {
    position: relative;
    margin: 1.5rem 0 0.5rem;
}
.bx-searchtitle-m .search-form input[type=text] {
    border: 1px solid #50A62C;
    height: 5.3rem;
    padding: 0 1.5rem;
    border-radius: 0;
    width: 100%;
    background: none;
}
.bx-searchtitle-m .search-form input[type=submit]:hover {
    background: #4b9a2a;
}
.bx-searchtitle-m .search-form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    height: 4.3rem;
    background: #50A62C;
    color: #fff;
    border: none;
    padding: 0 1.7rem;
    border-radius: 0 5px 5px 0;
}