/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}body.noscroll{
	overflow:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
	height: 100%;
	font-size:10px;
}body{
	background: #fff;
	color: #636363;
	font-family: Arial, sans-serif;
	padding-top: 3.7rem;
	background: #F6F6F6;
	min-width:32rem;
}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}.bx-404-container{
	font-size:1.8em;
}.bx-404-block img{
	width:34.9rem;
}.ui-widget-content{
	background:none !important;
}header{
	background:#fff;
}.header{
	max-width:120rem;
	margin:0 auto;
}section.main{
	max-width:120rem;
	min-width:32rem;
	margin:0 auto;
}a{
	color: #71a53b;
}a:hover{
	color: #71a53b;
	text-decoration: inderline;
}a:focus{
	outline:none;
	text-decoration:none;
}p.p{
	line-height: 1.5;
	margin: 0;
	text-indent: 40px;
}dt, dd, dl{
	font-weight: normal;
	line-height: inherit;
	margin: 0;
}ul{
	margin: 0;
	padding: 0;
}ul li{
	list-style: none;
}label{
	font-weight: normal;
	padding: 0;
}.label{
	font-weight: normal;
	line-height: inherit;
	padding: 0;
}.clear{
	clear: both;
}.not-output{
	margin:0 important;
	padding:0 !important;
}font.errortext{
	color: red;
	font-size:1.8em;
	font-weight:normal;
}div.mf-ok-text{
	color: green;
	font-weight: bold;
	padding-bottom: 1rem;
}.btn.btn-primary{
	background: #71A43B;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	height: auto;
	outline: none;
	padding: 1rem 2rem;
	text-decoration: none;
	outline:none;
}.btn.btn-primary:hover{
	background: #4b9a2a;
}.btn.btn-primary:focus{
	background: #71A43B;
	outline:none;
	box-shadow:none;
}.btn.btn-link{
	background: #71A43B;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: auto;
	outline: none;
	padding: 1rem 2rem;
	text-decoration: none;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
}#not_autoriz{
	padding: 1.5rem;
}.ui-selectmenu-menu{
	background:#fff;
	font-size:1.6em;
}.ui-selectmenu-button.ui-button{
	color:#454545;
	outline:none;
}.ui-selectmenu-button.ui-button:active{
	color:#454545;
}.top-bar .ui-selectmenu-button.ui-button{
	border: none;
	height: 30px;
	text-align: left;
	white-space: nowrap;
	width: 100px;
}.top-bar .ui-selectmenu-button.ui-button:hover,.top-bar .ui-selectmenu-button.ui-button:focus{
	background: none;
	outline: none;
}.top-bar .currency{
	display: inline-block;
	margin: 0 0.8rem 0 2rem;
	vertical-align: top;
}.top-bar .currency a{
	margin: 0;
	padding: 0.5rem;
}.top-bar .lang{
	display: inline-block;
	margin: 0 0.8rem 0 2rem;
	vertical-align: top;
}.top-bar .lang a{
	margin: 0;
	padding: 0.5rem;
}.top-bar .lang a img{
	vertical-align: text-top;
	width:2.2rem;
}#bx-panel.bx-panel-fixed{
	top: 3.6rem !important;
}body{
	line-height: normal;
}.container{
	width:100%;
	max-width:120rem;
}.alert{
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding: 1.5rem;
}.thumbnail{
	border: 0;
	height: auto;
	line-height: auto;
	padding: 0;
	width: auto;
}.row{
	margin-left: 0;
	margin-right: 0;
}.no-indent{
	margin: 0 !important;
	padding: 0 !important;
}.out-indent-default{
	margin:0 -1.5rem;
}.btn{
	line-height: 1;
	padding: 1.2rem;
}.carousel{
	min-height: 48.8rem;
	overflow:hidden;
}.box_loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	height: 100%;
	z-index: 995;
	width: 300px;
	height: 200px;
	margin: auto;
}.loader,.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}.loader {
	margin: 60px auto;
	font-size: 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(113, 165, 58, 0.2);
	border-right: 1.1em solid rgba(113, 165, 58, 0.2);
	border-bottom: 1.1em solid rgba(113, 165, 58, 0.2);
	border-left: 1.1em solid rgba(113, 165, 58, 1);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}.caret{
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-top: 0.4rem dashed;
	display: inline-block;
	height: 0;
	margin-left: 0.2rem;
	/* margin-top: 0.4rem; */
	vertical-align: middle;
	width: 0;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
}.fancybox-skin{
	background: #fff !important;
	border-radius: 0 !important;
	padding: 0 !important;
}.bx_item_detail .item_current_price{
	background: none;
}.btn .caret{
	margin-left: 0.4rem;
}.basket-link{
	margin: 0 0 0 2.6rem;
}.heart-ico{
	background: url(images/static/like-1.png);
	display: inline-block;
	height: 1.3rem;
	margin: 0 0.6rem 0 0;
	vertical-align: middle;
	width: 1.4rem;
}.logo-b{
	padding: 1rem 0 0 1.6rem;
}.logo-b span{
	display: inline-block;
	margin: 4rem 0 0;
	vertical-align: top;
}.logo-link{
	float:left;
	width:11.1rem;
	max-width:11.1rem;
	min-width:10rem;
}.logo-link img{
	width:11.1rem;
}#main_slogan{
	font-size:2.4em;
	margin-left:12.1rem;
	display:block;
	text-align:center;
}.search-form-wrp{
	width:100%;
	max-width:51.3rem;
	float:right;
}.search-form{
	margin: 2.3rem 0 0.5rem;
	position: relative;
}.search-form input[type=text]{
	background: url(images/static/loupe.png) 1.3rem center no-repeat;
	background-size:1.3rem;
	border: 2px solid #71a53b;
	border-radius: 5px;
	height: 4.3rem;
	outline: none;
	padding: 0 10rem 0 5rem;
	width: 100%;
	font-size:1.8em;
}.search-form input[type=submit]{
	background: #71a53b;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	height: 4.3rem;
	padding: 0 1.8em;
	position: absolute;
	right: 0;
	top: 0;
	font-size:1.8em;
	outline:none;
}.search-form input[type=submit]:hover{
	background: #4b9a2a;
}.search-form-sub-text{
	color: #b7b7b7;
	font-size:1.8em;
}#mobile_search_box, #mobile_language_select{
	display:none;
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 100%;
	z-index: 1030;
	border-bottom: 1px solid #c1c4bd;
	overflow:auto;
}#mobile_search_box button.cross, #mobile_language_select button.cross{
    outline: none;
    border: none;
    background: none;
    color: #71a53b;
    font-size: 2.8em;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 1;
}#mobile_search_box li, #mobile_language_select li {
    position: relative;
    height: 5.7rem;
    line-height: 5.7rem;
    border-bottom: 1px solid #c1c4bd;
}#mobile_language_select .mobile_list_language li a{
	display: block;
	color: #000;
	font-size: 1.4em;
	height: 5.7rem;
	line-height: 5.7rem;
	padding: 0 2rem;
	margin-bottom: -1px;
}#mobile_language_select .mobile_list_language li a.active{
	background: #71a53b;
	color:#fff;
}#mobile_language_select .mobile_list_language li a img{
	vertical-align:middle;
	margin-right: 1rem;
}#popupbutton{
	color: #fff;
	display: inline-block;
	float: right;
	margin: 0 2em;
	line-height:4rem;
	vertical-align: top;
	font-size:1.8em;
}#popupbutton:hover{
	color: #000;
	text-decoration: none;
}#popupform{
	display: none;
}.mfeedback{
	padding: 2rem 1.5rem;
}#form-feedback{
	margin: 0;
}#popupform .error{
	color: #c00000;
}#popupform h2{
	color: #353535;
	font: 1.714em/1em sans-serif;
	margin-bottom: 0.8rem;
}#popupform .comment{
	background: #71A43B;
	color: #fff;
	font: 1.6em sans-serif;
	margin: -2rem -1.5rem 2rem;
	padding: 1.4rem 4.5rem 1rem 1.7rem;
}#popupform label{
	display: block;
	padding: 1.6rem 0 0.4rem;
}#popupform .input_text{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	font-size: 1.6em;
	height: 5.3rem;
	line-height: 3.3rem;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	width: 100%;
}#popupform .text_area{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #777B83;
	display: block;
	font-size: 1.6em;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	resize: none;
	width:100%;
}#popupform .button{
	background: #71A43B;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1.4em;
	height: 3.4rem;
	outline: none;
	padding: 0.2rem 1.6rem;
	width: 18.5rem;
}#popupform .button:hover{
	background: #8bc151;
}#window{
	width: 40rem;
}#window .comment{
	background: #71A43B;
	color: #fff;
	font: 0.928em 'sans-serif';
	margin: -2rem -1.5rem 2rem;
	padding: 1.4rem 4.5rem 1rem 1.7rem;
}#popAddCommentForm{
	display: none;
}#popAddCommentForm .error{
	color: #c00000;
}#popAddCommentForm h2{
	color: #353535;
	margin-bottom: 0.8rem;
}#popAddCommentForm .comment{
	color: #717171;
	margin-bottom: 0.3rem;
}#popAddCommentForm label{
	padding: 1.6rem 0 0.4rem;
}#popAddCommentForm .input_text{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	height: 5.3rem;
	line-height: 3.3rem;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	width: 40rem;
}#popAddCommentForm .text_area{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	resize: none;
	width: 40rem;
}#popAddCommentForm .button{
	background: #71A43B;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 3.4rem;
	outline: none;
	padding: 0.2rem 1.6rem;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
	width: 18.5rem;
}#popAddCommentForm .button:hover{
	background: #8bc151;
}.filter-container input[type=submit]{
	background: #71a53b;
	border: none;
	border-radius: 5px;
	color: #fff;
	height: 4.0rem;
	padding: 0 1.5rem;
}.menu-wrp{
	background: #71a53b;
	color: #fff;
	height:4rem;
	margin:1.2rem 0 0;
}.primary-menu{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width:17.6rem;
}.primary-menu__trigger{
	background-color: #59832d;
	color: #fff;
	cursor: pointer;
	height: 4rem;
	width: 100%;
	padding-left: 2.4em;
	line-height: 4rem;
}.primary-menu.contracted .primary-menu__trigger{
	background-color: transparent;
}.primary-menu.contracted:hover .primary-menu__trigger,
.primary-menu.contracted:focus .primary-menu__trigger{
	background-color: #59832d;
}.primary-menu__trigger span{
	display: inline-block;
	margin: 0 0 0 1.1em;
	vertical-align: middle;
	font-size:1.8em;
}.menu-ico{
	background: url(images/static/menu.png) no-repeat 50%;
	background-size:1.6rem;
	display: inline-block;
	height: 1.5rem;
	vertical-align: middle;
	width: 1.6rem;
}.primary-menu__cont{
	background: #EDEDED;
	outline: 1px solid #D2D2D2;
	height: 48.8rem;
	left: 0;
	position: absolute;
	top: -48.8rem;
	z-index: 994;
	width:17.6rem;
	min-width:14rem;
	overflow:hidden;
}.primary-menu__cont.secondary{
	height: auto;
	max-height: 48.8rem;
	position: absolute;
	left: 17.6rem;
	bottom: 0;
	top: auto;
	display:none;

}.primary-menu.contracted .primary-menu__cont{
	display: none;
}.primary-menu__cont ul{
	margin: 0;
	padding: 0;
}.primary-menu__cont ul li{
	list-style: none;
	height: 4.88rem;
	overflow:hidden;
}.primary-menu__cont ul li a{
	color: #000;
	display: block;
	outline: none;
	padding: 0 1.1em;
	height: 4.88rem;
	line-height:4.88rem;
	font-size:1.6em;
}.primary-menu__cont ul li a:hover{
	background: #71a53b;
	color: #fff;
	text-decoration: none;
}.dropdown-menu{
	position: absolute;
}.dropdown-submenu{
	position: relative;
}.dropdown-submenu > a{
	position: relative;
}.dropdown-submenu.isset_child > a:after{
	border: 5px solid transparent;
	border-left: 5px solid #000;
	border-width: 3px 5px;
	content: '';
	margin: -0.5rem 0 0;
	position: absolute;
	right: 1.2rem;
	top: 50%;
}.dropdown-submenu:hover > a{
	background: #71a53b;
	color: #fff;
	text-decoration: none;
}.dropdown-submenu:hover > a:after{
	border-left-color: #fff;
}.dropdown-submenu:hover .dropdown-menu{
	background: #EDEDED;
	display: block;
	left: 17.5rem;
	top: 0;
}.main_top_menu{
	display: inline-block;
	margin: 0;
	height: 4rem;
	line-height: 4rem;
	overflow:hidden;
	vertical-align: top;
}.secondary-menu{
	display: inline-block;
	margin: 0;
	line-height:3.8rem;
	vertical-align: top;
}.secondary-menu li{
	display: inline-block;
	list-style: none;
	margin-left:2.4em;
	vertical-align: top;
}.secondary-menu li a{
	color: #fff;
	font-size:1.8em;
	line-height:4rem;
}.secondary-menu li a:hover,
.secondary-menu li a.active{
	color: #000;
	text-decoration: none;
}section.main{
	background: #F6F6F6;
	max-width: 120rem;
	min-height: 100%;
}.catalog-nav {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 4.9rem;
	left:-6rem;
	text-align: center;
	margin:4rem 0;
	z-index:100;
}.catalog-nav li {
	list-style: none;
	border-bottom: 1px solid #E3E3E3;
}.catalog-nav li a img{
	width:1.7rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}.catalog-nav li a{
	position:relative;
	width:4.4rem;
	height:3.7rem;
	display:block;
	line-height:3.7rem;
}.catalog-nav li a:hover{
	background: #eaeaea;
}.catalog-nav li a.active{
	background: #eaeaea;
}.catalog-nav-ico {
	display: inline-block;
	background: url(images/static/catalog-nav-ico.png);
}
.catalog-nav--ico-1 {
	width: 1.1rem;
	height: 2.8rem;
}
.catalog-nav--ico-1:hover,
.catalog-nav--ico-1.active {
	background-position: 0 -28px;
}
.catalog-nav--ico-2 {
	width: 1.9rem;
	height: 1.9rem;
	background-position: -21px 0;
}
.catalog-nav--ico-2:hover,
.catalog-nav--ico-2.active {
	background-position: -21px -23px;
}
.catalog-nav--ico-3 {
	width: 1.7rem;
	height: 2.9rem;
	background-position: -52px -1px;
}
.catalog-nav--ico-3:hover,
.catalog-nav--ico-3.active {
	background-position: -52px -32px;
}
.catalog-nav--ico-4 {
	width: 1.1rem;
	height: 2.8rem;
	background-position: -84px -3px;
}
.catalog-nav--ico-4:hover,
.catalog-nav--ico-4.active {
	background-position: -84px -33px;
}
.catalog-nav--ico-5 {
	width: 2.2rem;
	height: 2.1rem;
	background-position: -110px -6px;
}
.catalog-nav--ico-5:hover,
.catalog-nav--ico-5.active {
	background-position: -110px -33px;
}
.catalog-nav--ico-6 {
	width: 2.5rem;
	height: 1rem;
	background-position: -5px -71px;
}
.catalog-nav--ico-6:hover,
.catalog-nav--ico-6.active {
	background-position: -5px -89px;
}
.catalog-nav--ico-7 {
	width: 1rem;
	height: 2.7rem;
	background-position: -51px -67px;
}
.catalog-nav--ico-7:hover,
.catalog-nav--ico-7.active {
	background-position: -51px -100px;
}
.catalog-nav--ico-8 {
	width: 2.5rem;
	height: 1.2rem;
	background-position: -77px -69px;
}
.catalog-nav--ico-8:hover,
.catalog-nav--ico-8.active {
	background-position: -77px -89px;
}
.catalog-nav--ico-9 {
	width: 1.4rem;
	height: 2.1rem;
	background-position: -118px -65px;
}
.catalog-nav--ico-9:hover,
.catalog-nav--ico-9.active {
	background-position: -118px -92px;
}
.catalog-nav--ico-10 {
	width: 1.6rem;
	height: 1.6rem;
	background-position: -11px -113px;
}
.catalog-nav--ico-10:hover,
.catalog-nav--ico-10.active {
	background-position: -11px -134px;
}.catalog-list{
	display: table-cell;
	vertical-align: top;
}.product-item{
	background: #fff;
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	float: left;
	height: 22.3rem;
	width: 25%;
}.product-item a:hover{
	text-decoration: none;
}.product-item a:hover .product-item-title{
	text-decoration: underline;
}.product-item-preview{
	height: 16.3rem;
	position: relative;
}.product-item-preview img{
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}.catalog-preview-text{
	background: #00cbf7 url(images/static/pattern.png) bottom left no-repeat;
	color: #fff;
	height: 10.5rem;
	overflow: hidden;
	padding: 1.5rem 1.4rem 1.5rem;
	text-align: center;
}.catalog-preview-text strong{
	display: block;
}.catalog-preview-text span{
	display: block;
	line-height: 1.2;
}.product-item-title{
	display: block;
	height: 1.4rem;
	line-height: 1;
	margin: 0.7rem 0;
	overflow: hidden;
}.product-item-price{
	color: #cc0001;
	display: block;
	padding: 0 0 0 1.8rem;
}.product-item-price span{
	text-decoration: line-through;
}footer{
	margin: 1.6rem 0 0;
	position: relative;
}footer:before{
	background: url(images/static/pattern-green.png) center top repeat-x;
	content: '';
	height: 1.6rem;
	left: 0;
	position: absolute;
	top: -1.6rem;
	width: 100%;
}.footer{
	max-width:120rem;
	min-width:32rem;
	margin:0 auto;
}.footer-main{
	background: #c81e3a;
	color: #fff;
	padding: 0 0 2.6rem;
}.footer-main ul{
	display: inline-block;
	margin: 2.6rem 5.2rem 0 0;
	padding: 0;
	vertical-align: top;
}.footer-main ul li{
	color: #fff;
	line-height: 1.35rem;
	list-style: none;
}.footer-main ul li a{
	color: #fff;
}.footer-line{
	background: #ad1b34;
	color: #fff;
	padding: 0 0 0.3rem;
}.footer-copyright{
	display: block;
	margin: 1.5rem 0 0.5rem 0.8rem;
	font-size:1.4em;
}.footer .our_app{
	margin:2.6rem 0 0 0;text-align:left;
}.footer .our_app a img{
	height:4rem;
}.bottom-line-links{
	margin: 1.5rem 0 0;
	padding: 0;
}.bottom-line-links li{
	display: inline-block;
	list-style: none;
	margin: 0 0 0 1.5rem;
	vertical-align: top;
}.bottom-line-links li a{
	color: #fff;
	vertical-align: top;
	font-size:1.4em;
}.table-f{
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}.cell-f{
	display: table-cell;
	vertical-align: middle;
}.right-bar{
	background: #5e524b;
	color: #fff;
	height: 100%;
	padding: 3.7rem 0 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 3.5rem;
	z-index: 1;
	z-index: 100;
}.right-bar a{
	color: #fff;
}
.top-btn{
	width: 65.99px;
	height: 65.99px;
	border-radius: 50%;
	background: rgba(93, 181, 229, 0.2);
	color: #000;
	position: fixed;
	bottom: 50px;
	left: 50px;
	cursor:pointer;
	display:none;
	z-index:110;
}.top-btn-inner{
	width: 56.08px;
	height: 56.08px;
	border-radius: 50%;
	background: #5db5e5;
	color: #000;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	margin:auto;
	cursor:pointer;
	z-index:110;
}.top-btn-inner:after{
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 19.7'%3E%3Cpath fill='%23fff' d='M7 19.7c-.6 0-1-.4-1-1v-16c0-.6.4-1 1-1s1 .4 1 1v16c0 .6-.4 1-1 1z'/%3E%3Cpath fill='%23fff' d='M13 7.5c-.2 0-.5-.1-.7-.3L7 2.3 1.7 7c-.5.4-1.1.4-1.4 0-.4-.4-.3-1 .1-1.4l6-5.3c.4-.3 1-.3 1.3 0l6 5.5c.4.4.4 1 .1 1.4-.3.2-.5.3-.8.3z'/%3E%3C/svg%3E") no-repeat;
	background-size: 100%;
	background-position: 50%;
	width: 1.4rem;
	height: 1.97rem;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}.widget-links-top{
	position: absolute;
	right: 0;
	top: 4.3rem;
	width: 100%;
	z-index: 1;
}.widget-links-middle{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}.widget-links-middle ul{
	margin: 0;
	padding: 0;
}.widget-links-middle ul li{
	position:relative;
	list-style: none;
	margin: 0.5rem 0;
}.widget-links-middle ul li a{
	display: block;
    height: 2.5rem;
    width: 100%;
    line-height: 2.5rem;
}.widget-links-middle ul li img{
	width: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}.widget-links-middle ul li a:hover{
	background: #4b9a2a;
}.qr-right{
	background: url(images/static/right-bg.png);
	display: none;
	height: 362px;
	margin: -17.1rem 0 0;
	padding: 14.5rem 0 0 2.6rem;
	position: absolute;
	right: 3.5rem;
	top: 50%;
	width: 11.5rem;
}.qr-right-ins span{
	color: #fff;
	display: block;
	margin: 1rem 0 0;
	text-align: center;
}.widget-links-bottom{
	bottom: 0;
	cursor: pointer;
	padding: 2rem 0 1rem;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 1;
	font-size:1em;
}.up-arrow{
	background: url(images/static/top-arrow.png) no-repeat 50%;
	background-size: 1.4rem;
	display: inline-block;
	width: 1.4rem;
	height: 0.8rem;
	margin: 0 0 0.3rem;
}.basket-widget-link{
	display: block;
}.ico-card-red{
	background: url(images/static/cart-2.png) no-repeat 50%;
	background-size: 1.6rem;
	display: inline-block;
	height: 1.5rem;
	width: 1.6rem;
}.goods-count{
	background: #EE0000;
	border-radius: 2px;
	font-weight: 700;
	padding: 0.1rem 0.5rem;
	text-align: center;
}.goods-count:hover{
	text-decoration: none;
}#box li, #box li a{
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
}#box{
	display: none;
	left: 5rem;
	position: fixed;
	top: 16rem;
}#box ul li{
	border-bottom: 1px dotted #DADADA;
	height: 3.8rem;
	text-align: center;
	width: 3rem;
}#box ul li.last{
}#box ul li .num{
	color: #2828AC;
	line-height: 3.8rem;
}#box ul li .word{
	background: rgb(203, 28, 57);
	color: white;
	display: none;
}#mobile_logo{
	background-image: url(images/mobile/sprite.png);
    background-position: -54px -5px;
    display: inline-block;
    width: 22.3rem;
    height: 2.7rem;
    position: absolute;
    top: 1.6rem;
    left: 6rem;
    margin: 0 auto;
}#mobile_title{
	color:#fff;
	margin-left:7rem;
	font-size:1.6em;
}


/*=================STATIC PAGES========================*/

		#contacts h1{
			font-size:2.4em;
			padding:0 1.5rem;
			margin:5rem 0;
		}#contacts .top_data{
			padding:0 1.5rem;
		}#contacts .contact{
			border-bottom:0.9rem solid #71a53a;
			margin: 4.8rem 0;
		}#contacts .contact .contact_name{
			font-size:2.4em;
			font-weight:bold;
			color:#71a53a;
		}#contacts .contact .contact_post{
			font-size:2em;
			color:#71a53a;
		}#contacts .contact .body_data{
			background:#e2e2e2;
			font-size:1.8em;
			margin-top: 2rem;
		}#contacts .contact .body_data .photo{
			display:inline-block;
			vertical-align:top;
		}#contacts .contact .body_data .photo img{
			width: 100%;
			max-width: 26.8rem;
		}#contacts .contact .body_data .info{
			display:inline-block;
			vertical-align:top;
			padding:3rem 0;
		}#contacts .contact .body_data .info .data{
			position:relative;
			padding:1rem 1rem 1rem 9.8rem;
		}#contacts .contact .body_data .info .data::before{
			content:" ";
			position:absolute;
			left:3.5rem;
			top:0;
			bottom:0;
			margin:auto;
			background-image:url(images/static/sprite.png);
			background-repeat:no-repeat;
			background-size:cover;
			width: 2.9rem;
			height: 2.8rem;
			vertical-align: middle;
		}#contacts .contact .body_data .info .number::before{
			background-position: 0 0;
		}#contacts .contact .body_data .info .mail::before{
			background-position: 0 -2.5rem;
			height: 2.7rem;	
		}#contacts .contact .body_data .info .skype::before{
			background-position: 0 -4.8rem;
		}#contacts .contact .body_data .info .www::before{
			background-position: 0 -7.3rem;
			height: 2.5rem;			
		}#contacts .contact .body_data .info .address::before{
			background-position: 0 -9.8rem;
		}#contacts .map{
			margin:4.8rem 0;
		}
		@media (max-width: 767px){
			#contacts .contact .body_data .photo{
				margin-top: 3.5rem;
				margin-left: 3.5rem;
				margin-right: 3.5rem;
			}
		}
		
/*===================================================*/
@media (max-width: 767px){
	html, body{
		height:auto;
		font-size:8px;
	}
	body{
		padding-top:6.5rem;
	}a:hover{
		text-decoration:none;
	}.container.output{
		padding:0 1.5rem;
	}.mobile-top-bar{
		display:block;
	}#top-bn-wrp,.right-bar,.top-bar,.menu-wrp,.carousel,.main-b{
		display:none;
	}.list-elements{
		width:100%;
		padding: 1.5rem;
	}.list-sections{
		width:100%;
	}.bottom-line-links{
		float:none !important;
		text-align:center;
	}
	.bottom-line-links li{
		display:block;
		margin:2rem 0;
	}.footer-copyright{
		text-align:center;
	}.footer_contact{
		text-align:center;
	}.footer .our_app{
		text-align:center;
	}
}
/*@media (min-width: 480px) and (max-width: 767px){
	.container {
		max-width: 768px;
	}body{
		font-size:6px;
	}#main_slogan{
		font-size:3em;
	}.search-form-wrp{
		float:none;
		margin: 0 auto;
		max-width:inherit;
	}.primary-menu{
		max-width:50px;
	}.primary-menu__trigger span{
		display:none;
	}.secondary-menu li{
		margin-left: 1.6em;
	}#popupbutton{
		margin: 0 1.6em;
	}.catalog-preview{
		display:none;
	}#mobile_left_menu{
		display:none !important;
	}
}*/
@media (min-width: 768px) and (max-width: 991px) {
	body{
		font-size:7px;
	}#main_slogan{
		font-size:2.2em;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		font-size:8px;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 1200px) {
	body{
		font-size:10px;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 1440px) {
	body{
		font-size:10px;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 1600px) {
	body{
		font-size:11px;
	}
}
@media (min-width: 1800px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2048px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2160px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2400px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2880px) {
	body{
		font-size:13px;
	}
}
@media (min-width: 3200px) {
	body{
		font-size:14px;
	}
}
@media (min-width: 4096px) {
	body{
		font-size:14px;
	}
}
@media (min-width: 4320px) {
	body{
		font-size:14px;
	}
}
@media (min-width: 4800px) {
	body{
		font-size:20px;
	}
}
