.out-bx-newslist{
	margin: 2.5rem 0 0 0;
	padding-left:0 !important;
	padding-right:0 !important;
}
.bx-newslist {
	background: #fff;
	padding: 0 1.5rem;
	margin: 0 0 0 1.5rem;
	box-shadow: 0 3px 3px #d2d2d2;
}
.bx-newslist .grinch{
	color:#71a53b;
}.bx-newslist h1{
	font-size:2.4em;
	font-weight:400;
	padding:3rem 1.5rem;
	text-transform:uppercase;
}.title_link{
	position:relative;
	color:#636363;
}.title_link:after{
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	cursor: pointer;
	z-index: 1;
	padding-left: 1rem;
}.title_link:hover{
	text-decoration: none;
}.bx-newslist p{
	font-size:1.8em;
}.bx-newslist img.img1{
	width:100%;
	margin:0 auto;
	max-width:300px;
	display:block;
}.bx-newslist img.img2{
	width:100%;
	margin:0 auto;
	max-width:1000px;
	display:block;
}.bx-newslist img.img3{
	width:100%;
	margin:0 auto;
	max-width:550px;
	display:block;
}
.bx-newslist-block {
	margin-bottom: 2rem;
	padding:0 1rem;
}
.bx-newslist .btn.btn-primary{
	font-size: 1.4em;
	text-transform: uppercase;
}
.bx-newslist .bx-newslist-block-media{
	position:relative;
}
.bx-newslist .bx-newsdata{
	position: absolute;
	width: 73%;
	right: 0;
	bottom: 3.8rem;
	background:rgba(121,168,72,0.9);
	padding:1.3rem;
}
/* POST FORMATS */
.bx-newslist-img,
.bx-newslist-audio,
.bx-newslist-youtube,
.bx-newslist-slider {
	position: relative;
	text-align: center;
}
.bx-newslist-slider img,
.bx-newslist-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%
}
.bx-newslist-video {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: 1;
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
	background: url("images/bx-video.png") no-repeat center;
}
.bx-newslist-video:hover {
	opacity: 1;
}
/* POST FORMATS /// SLIDER */
.bx-newslist-slider {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.bx-newslist-slider-container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.bx-newslist-slider-slide {
	float: left;
	z-index: 100;
}
.bx-newslist-slider-arrow-container-left,
.bx-newslist-slider-arrow-container-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	cursor: pointer;
}
.bx-newslist-slider-arrow-container-left {
	left: 0;
}
.bx-newslist-slider-arrow-container-right {
	right: 0;
}
.bx-newslist-slider-arrow {
	position: absolute;
	line-height: 34px;
	vertical-align: middle;
	color: #fff;
	cursor: pointer;
	font-size: 48px;
	height: 48px;
	width: 20px;
	top: 50%;
	margin-top: -24px;
	z-index: 110;
	opacity: .5;
	text-shadow:0 0 2px rgba(0,0,0,.5);
}
.bx-newslist-slider-arrow-container-left:hover .bx-newslist-slider-arrow,
.bx-newslist-slider-arrow-container-right:hover .bx-newslist-slider-arrow {
	color: #FFF;
	display: block;
	opacity: 1;
}
.bx-newslist-slider-arrow-container-left .bx-newslist-slider-arrow {
	left: 20px;
}
.bx-newslist-slider-arrow-container-right .bx-newslist-slider-arrow {
	right: 20px;
}
.bx-newslist-slider-control {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 110;
	text-align: center;
	word-spacing: -4px;
}
.bx-newslist-slider-control li {
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	width: 10px;
	height: 10px;
	word-spacing: -4px;
	margin: 0 3px;
	opacity: .5;
}
.bx-newslist-slider-control li:hover,
.bx-newslist-slider-control li.current {
	background: #FFF;
	opacity: 1;
}
bx-newslist-slider-arrow,
.bx-newslist-slider-control li {
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.bx-newslist-title{
	color: #fff;
	margin: 0;
	font-weight: 400;
	font-size: 1.6em;
}
.bx-newslist-title a{
	color:#fff;
}
.bx-newslist-title a:hover {
	color:#fff;
	text-decoration: underline;
}
.bx-lg .bx-newslist-title {
	font-size: 24pt;
}
.bx-md .bx-newslist-title {
	font-size: 20pt;
}
.bx-xs .bx-newslist-title {
	font-size: 18pt;
}
.bx-newslist-view,
.bx-newslist-date,
.bx-newslist-comments,
.bx-newslist-author,
.bx-newslist-other {
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	padding-bottom: 1.5rem;
	white-space: nowrap;
	margin: 0 -1.5rem;
}
.bx-newslist-view i.fa,
.bx-newslist-date i.fa,
.bx-newslist-comments i.fa,
.bx-newslist-author i.fa,
.bx-newslist-tags i.fa,
.bx-newslist-other i.fa {
	width: 13px;
	color: #b4b4b4;
}
.bx-newslist-tags {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
}
.bx-newslist-content {
	font-size: 1.4em;
	line-height: 1.42857143;
	margin-bottom: 5px;
}
.bx-newslist-more {
	margin: 4.8rem -1.5rem 0 -1.5rem;;
}.bx-newslist-block .overbn{
	background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bx-newslist-block .slick-slider{
	padding:0 1rem;
}.bx-newslist .slick-list{
	margin:0 2rem;
}.bx-newslist-block .slick-slide{
	margin:0 1.2rem;
}.bx-newslist-block .slick-slide:hover .overbn{
	display:none;
}.bx-newslist .slick-arrow{
	font-size: 0;
	color: #000;
	border: none;
	background: none;
	outline:none;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}.bx-newslist .slick-arrow:before{
    content: "\f104";
	font-family: FontAwesome;
	font-size:45px;
    cursor: pointer;
    z-index: 1;
	margin: -1rem;
}.bx-newslist .slick-arrow.slick-prev{
	left: .6rem;
}.bx-newslist .slick-arrow.slick-next{
	right:.6rem;
}.bx-newslist .slick-next:before{
	content: "\f105";
}.bx-newslist .slick-initialized .slick-slide{
	display: inline-block;
}.bx-newslist .slick-slide{
	outline:none;
	float:none;
	display: inline-block;
	vertical-align: middle;
}.bx-newslist .slick-slide img{
	display:block;
	margin:0 auto;
}
@media (max-width: 767px){
	.bx-newslist{
		margin:0;
		box-shadow:none;
	}.out-bx-newslist{
		margin-top:0;
	}
}