#personal_menu{
    padding-bottom: 6rem;
    width: 30rem;
    position: absolute;
    left: 0;
	background:#fff;
	z-index:1;
	padding:1.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	box-shadow: 2px 3px 9px #d2d2d2;
}#personal_menu .wrap-sidebar-menu{
	width: 30rem;
}#personal_menu .wrap-sidebar-menu ul li{
	margin:1rem 0;
}#personal_menu .wrap-sidebar-menu a{
	color: #636363;
	font-size:1.6em;
}#personal_menu .wrap-sidebar-menu .head{
	color: #6c6c6c;
	display: block;
	margin-bottom: 1.9rem;
}#personal_menu .wrap-sidebar-menu a:hover{
	color: #71a53b;
	text-decoration: none;
}#personal_menu .wrap-sidebar-menu a.active{
	color: #71a53b;
	text-decoration: none;
}#personal_menu .wrap-sidebar-menu .sidebar-menu{
	list-style: none;
	padding: 0;
}#personal_menu .wrap-sidebar-menu{
	position: relative;
	vertical-align: top;
}#personal_menu .wrap-sidebar-menu.fixed{
	left: 0;
	position: fixed;
	top: 0;
}
@media (max-width: 767px){
	#personal_menu{
		background:#eaeaea;
	}#personal_menu .wrap-sidebar-menu{
		width:100%;
	}#personal_menu .wrap-sidebar-menu ul li{
		margin:2rem 0;
	}
}




