.main_catalog{
    background:#fff;
    padding:0;
}
.main_catalog_item{
	width:100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: relative;
	margin:20px 0;
	padding:0 20px !important;
	border-bottom:1px solid #ccc;
}
.main_catalog_item.last_item{
	border-bottom:none;
}
.main_catalog_item_img{
    display:block;
    overflow:hidden;
    height:147px;
    width:147px;
    position:relative;
}
.data_item{
	margin-left:159px;
}
.main_catalog_item>a>span{
    display:block;
    text-align:center;
    width:500px;
    left:50%;
    position:absolute;
    margin-left:-250px;
}
.main_catalog_item img{
	display: block;
	margin: auto;
	padding: 0;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.main_catalog_item h2{
    overflow:hidden;
    line-height:12px;
}
.main_catalog_item h2 a{
    color:#71a53b;
    font-size:14px;
    line-height:14px;
    text-decoration:none;
    font-weight:bold;
}
.main_catalog_item .item_info_section{
	font-size: 14px;
	margin: 15px 0;
}
.main_catalog_item .item_info_section li{
	margin: 5px 0;
	list-style:none;
}
.main_catalog_item .detail_item_description_text {
    overflow: hidden;
    color: #000;
    line-height: 20px;
    font-size: 14px;
}
.wrap_control_btn{
	text-align:center;
	margin: 30px auto;
}
.main_item_buy {
    position: relative !important;
    display: inline-block;
    background: #59832d !important;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center !important;
	padding:14px 25px 14px 69px;
}
.main_item_buy:hover{
	color:#fff;
	text-decoration:none;
}
.main_item_buy:after {
    content: "";
    position: absolute;
    width: 44px;
	left:0;
	top:0;
	bottom:0;
    background: #71a53b url(images/cart.png) no-repeat center;
}
.main_catalog_item.add2cart .main_item_buy {
    display: none;
}
a.main_catalog_item_cartlink{display: none}
.main_catalog_item .main_catalog_item_cartlink{
	position: relative;
	background: #59832d;
	color: #fff;
	padding: 14px 25px 14px 25px;
	text-decoration: none;
	text-align: center;
}
.main_catalog_item_price{
	font-size:14px;
}
.empty_list_text{
	color: #a3a3a3;
	font-weight: bold;
	font-size: 18px;
	padding: 35px 0;
	text-align: center;
}
.empty_list_text .listitem-carousel{
	font-size: 16px;
}
.detail_item_img_container {
    width: 147px;
    height: 147px;
    float: left;
    overflow: hidden;
    position: relative;
    border: 1px solid #c9c9c9;
}
.page_title{
    color:#071c27;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    text-shadow:0 1px 0 #fff;
}
.detail_item_count {
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 40px;
    display: inline-block;
    left: 0;
    font-size: 14px;
}
.detail_item_count .count_plus, .detail_item_count .count_minus {
    display: inline-block;
    width: 19px;
    height: 19px;
    text-decoration: none;
    color: #000;
    border: 1px solid #c9c9c9;
}
.detail_item_count input[type="number"] {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    border: 1px solid #c9c9c9;
    margin: 0 -1px;
    line-height: 19px;
}
.detail_item_count .count_plus span, .detail_item_count .count_minus span {
    display: block;
    width: 18px;
    height: 18px;
    background-size: 19px;
    text-decoration: none;
    text-align: center;
}