.maxwIn{
	position:relative;
}.catRec{
	padding-bottom: 6rem;
	width: 17.5rem;
	position: absolute;
	left: 0;
}.catSec{
	width: 100%;
	float:right;
}
@media (max-width: 767px){
	.catRec{
		display:none;
	}.catSec{
		width:100%;
		max-width:100%;
		padding:0;
	}
}