div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:100%;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; margin-bottom: 20px;}
div.mf-error-text {color:green; font-weight:bold; margin-bottom: 20px;}
