.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}

.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}

div.bx-auth-profile input.bx-auth-input {vertical-align:middle;}
div.bx-auth-profile span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-profile div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-profile div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}


.profile.my-data{font-size:14px;}
.profile.my-data input[type="text"],input[type="password"]{
	outline:none;
	border: 1px solid #8a8a8a;
	padding:0 4px;
	box-sizing: border-box;
	margin-top:5px;
}
.profile.my-data input[type="submit"]{
	background: #4b9a2a;
	border: none;
	outline: none;
	width: 100%;
	color: #fff;
	font-size: 18px;
	margin-top:20px;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
}
.profile.my-data textarea{
	width:100%;
	padding:4px;
	outline:none;
	margin-top:5px;
	box-sizing: border-box;
}
.profile.my-data .title_data{
	
}
.profile.my-data select{
	width:100%;
	height:25px;
	border: 1px solid #8a8a8a;
	background:none;
	outline:none;
	margin-top:5px;
}
.profile.my-data{
	padding:10px 10px 30px 10px;
}
.profile.my-data table{
	width:100%;
}
.profile.my-data table tr{
	width:100%;
	margin-top:10px;
}
.profile.my-data table td{
	width:100%;
	font-weight: bold;
    font-size: 14px;
	padding-top:10px;
}
.profile.my-data table td input{
	width:100%;
	height: 25px;
}
.profile.my-data .profile-user-div{
	margin: 10px 0 0 0;
	border: 1px solid #71a53b;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.profile.my-data .user-div-title{
	font-size:18px;
	color:#000;
	text-decoration:none;
}
#PERSONAL_PHOTO_del{
	width: 20px;
    vertical-align: middle;
}