.maxPath{margin:0px auto 0px auto; overflow:hidden;min-height:20px;color:#999;}
.basic-ex-breadcrumbs{line-height:4.5rem;font-weight:normal;padding-left:0px;margin: 1.5rem 0;overflow:hidden;}
.basic-ex-breadcrumbs .beb-current{font-weight:normal; color:#f60;padding:0 1.3rem 0 0.3rem;}
.basic-ex-breadcrumbs a{position:relative;color:#666;}
.basic-ex-breadcrumbs span {
	margin-left: 0.8rem;
}
.basic-ex-breadcrumbs a:hover{color:#71a53b;text-decoration:underline;}
.basic-ex-breadcrumbs dt{padding:0 1rem;background:url(maxmain.gif) no-repeat right 20px;float:left}
.basic-ex-breadcrumbs dd{float:left;font-size: 1.6em;}
.basic-ex-breadcrumbs .bed1{color:#333}

.bx-breadcrumb-item{position:relative;color:#666;padding: 0 0.8rem 0 1.5rem;}
.bx-breadcrumb-item:before{
	content: "\f104";
	font: normal normal normal 14px/1 FontAwesome;
	margin: auto;
}

@media (max-width: 767px){
	.basic-ex-breadcrumbs{
		padding:0;
	}.basic-ex-breadcrumbs .bx-breadcrumb-item{
		display:none;
	}.basic-ex-breadcrumbs .bx-breadcrumb-item:nth-last-child(2){
		display:block
	}.basic-ex-breadcrumbs dd{
		font-size:1.6em;
	}
}