.item_comments{
	display: block;
	padding-left: 0;
}
.item_comments li{
	display: block;
	padding-bottom: 10px;
}
.item_comments_username{
	display: inline-block;
	color: #5d90bd;
	font-size: 14px;
}
.item_comments_date{
	display: inline-block;
	color: #b8b8b8;
	font-size: 14px;
	margin-left: 10px;
}
.item_comments_container p{
	margin-top: 5px;
	color: #3f3f3f;
	font-size: 14px;
}

div.blog-comment-form {width: 100% !important;}

div.blog-comment .blog-author {
    font-size: 0.85em;
}

.blog-comment-content {
    font-size: 13px;
    overflow: hidden!important;
    padding-top: 0 !important;
}

div.blog-comment-buttons input {
    font-size: 13px !important;
    padding: 0 3px !important;
}

.blog-post-rating {
    padding: 10px 0 0 0;
}

@media (max-width:540px){
	.bx_soc_comments_div .bx-catalog-tab-list li a{
		font-size:11px;
	}
}

.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button,
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button  	{
	height:40px;
	line-height:40px;
	text-align: center;
    padding-top: 0em;
    padding-bottom: 1.5em;
    background: #c81e3a;
    width: 23%;
	display:block;
	color:#fff;
	font-weight:normal;
}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:hover  {text-decoration:none;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8520e),color-stop(100%,#d84406));
    background-image: -webkit-linear-gradient(#e8520e,#d84406);
    background-image: -moz-linear-gradient(#e8520e,#d84406);
    background-image: linear-gradient(#e8520e,#d84406);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFE8520E',endColorstr='#FFD84406') \9;}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:active {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:hover {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:active{}

.bx_soc_comments_div.bx_important .blog-comment-nav {

}

.bx_soc_comments_div.bx_important .blog-comment-nav a,
.bx_soc_comments_div.bx_important .blog-comment-nav a:link,
.bx_soc_comments_div.bx_important .blog-comment-nav a:visited,
.bx_soc_comments_div.bx_important .blog-comment-info a,
.bx_soc_comments_div.bx_important .blog-comment-info a:link,
.bx_soc_comments_div.bx_important .blog-comment-info a:visited {
	text-decoration: none;
	color: #969696 !important;
}

.bx_soc_comments_div.bx_important .blog-comment-nav a:hover,
.bx_soc_comments_div.bx_important .blog-comment-nav a:active,
.bx_soc_comments_div.bx_important .blog-comment-info a:hover,
.bx_soc_comments_div.bx_important .blog-comment-info a:active {
	text-decoration: underline;
	color: #969696 !important;
}

.bx_soc_comments_div.bx_important .blog-comment-info a,
.bx_soc_comments_div.bx_important .blog-comment-info a:link,
.bx_soc_comments_div.bx_important .blog-comment-info a:visited {
	font-size: 0.85em;
}

.bx_soc_comments_div.bx_important .blog-comment-info a:hover,
.bx_soc_comments_div.bx_important .blog-comment-info a:active {
	font-size: 0.85em;
}

.bx_soc_comments_div .bx-catalog-tab-section-container{position: relative;}

.bx_soc_comments_div .bx-catalog-tab-list{
	text-align: left;
	padding: 0;
	vertical-align: bottom;
	margin: 0 0 16px 0;
	display:none;
}

.bx_soc_comments_div .bx-catalog-tab-list li{
	border-bottom: none;
	display: inline-block;
	background: #f7f7f7;
}

.bx_soc_comments_div .bx-catalog-tab-section-container .bx-catalog-tab-list li:before{
	content: none;
}

.bx_soc_comments_div .bx-catalog-tab-list li a,
.bx_soc_comments_div .bx-catalog-tab-list li>span{
	display: block;
	cursor: pointer;
	line-height: 30px;
	height: 30px;
	color: #999;
	text-decoration: none;
	font-size: 13px;
	padding: 0 20px;
	box-shadow: none;
}

.bx_soc_comments_div .bx-catalog-tab-list li:hover,
.bx_soc_comments_div .bx-catalog-tab-list li.active{
	background: #fff;
}

.bx_soc_comments_div .bx-catalog-tab-list li.active a,
.bx_soc_comments_div .bx-catalog-tab-list li.active>span{
	background: #fff;
	line-height: 35px;
	height: 35px;
	color: #3f3f3f;
	position: relative;
}

.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div.tab-off{
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}

.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div{
	opacity: 1;
	-webkit-transition:all 0.6s ease-out;
	-ms-transition:all 0.6s ease-out;
	-moz-transition:all 0.6s ease-out;
	-o-transition:all 0.6s ease-out;
	transition:all 0.6s ease-out;
	padding: 0 10px;
}

.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container .hidden{
	display: none;
}