
.item_listcategory ul{
    display:block;
    margin:0;
    padding:0;
}
.item_listcategory ul li{
    position:relative;
    display:block;
    padding:0;
    margin:0;
    border-bottom:1px solid #d0d0d0;
    box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.1);
    background:url(images/arrow_categoryl.png)no-repeat 97% center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(63%,rgba(254,254,254,1)), color-stop(100%,rgba(244,244,244,1)));
    background:url(images/arrow_categoryl.png)no-repeat 97% center,-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 63%,rgba(244,244,244,1) 100%);
    background:url(images/arrow_categoryl.png)no-repeat 97% center,linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 63%,rgba(244,244,244,1) 100%);
    background-size:12px auto, auto;
}
.item_listcategory ul li:last-child{border-bottom:none}
.item_listcategory ul li a{
    display:block;
    padding-left:70px;
    text-decoration:none;
    color:#000;
    font-size:16px;
    text-shadow:0 1px 1px #fff;
    font-weight:bold;
    line-height:60px;
}
.item_listcategory ul li a .item_listcategory_img{
    max-width:50px;
    height:50px;
    border:1px solid #f2f2f2;
    border-radius:4px;
    height:auto;
    width:auto;
    position:absolute;
    top:50%;
    margin-top:-25px;
    left:10px;
}

.item_list_component{}
.item_list_component ul{display:block}
.item_list_component>ul>li{
    display:block;
    border-bottom:1px solid #dbdbdb;
    padding:10px 30px 10px 10px ;
    position:relative;
    box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.17);
    background:url(images/arrow_categoryl.png)no-repeat 97% center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(63%,rgba(254,254,254,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background:url(images/arrow_categoryl.png)no-repeat 97% center,-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 63%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background:url(images/arrow_categoryl.png)no-repeat 97% center,linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 63%,rgba(244,244,244,1) 100%); /* W3C */
    background-size:10px auto, auto;
}
.item_list_component>ul>li:first-child{box-shadow:none}
.item_list_img{
    width:67px;
    height:67px;
    overflow:hidden;
    padding: 0;
    display:block;
    text-align:center;
    margin-right: 15px;
    border-radius:4px;
    border:1px solid #cfcfcf;
    position: relative;
}
.item_list_img span{
    display: block;
    width: 500px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}
.item_list_img span img{
    border-radius:5px;
    /*max-width:67px;*/
    height:67px;
    width:auto;
}
.item_list_title_lable{
    font-size: 12px;
    color: #bc8753;
    line-height: 10px;
}
.item_list_title{
    max-height:37px;
    overflow:hidden;
}
.item_list_title a{
    text-decoration:none;
    color:#000;
    font-size:15px;
    font-weight:bold;
}


.item_item_description_text ul{
    display:block;
    line-height:10px;
    padding:0;
}
.item_item_description_text ul li{
    font-size:9px;
    font-style:italic;
    color:#585858;
    display:inline;
    line-height:10px;
}
.item_item_description_text ul li:after{content:", " }
.item_item_description_text ul li:last-child:after{content:none}



.item_item_description_text{
    max-height: 28px;
    overflow: hidden;
}


.main_catalog{
    background:#fff;
    padding:0;
}
.main_catalog_item{
	width:100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: relative;
	margin: 20px 0;
    padding: 0 20px !important;
	border-bottom:1px solid #ccc;
}

.main_catalog_item_img{
    display:block;
    overflow:hidden;
    height:147px;
    width:147px;
    position:relative;
}
.data_item{
	margin-left:159px;
	margin-bottom: 20px;
}
.main_catalog_item>a>span{
    display:block;
    text-align:center;
    width:500px;
    left:50%;
    position:absolute;
    margin-left:-250px;
}
.main_catalog_item img{
	max-height: 147px;
	display: block;
	margin: auto;
	height: 147px;
	width: 100%;
	padding: 0;
}
.main_catalog_item h2{
    overflow:hidden;
    line-height:12px;
}
.main_catalog_item h2 a{
    color:#71a53b;
    font-size:14px;
    line-height:14px;
    text-decoration:none;
    font-weight:bold;
}
.wrap_control_btn{
    text-align: center;
    margin: 30px auto;
	clear:both;
}
.main_item_buy {
	position: relative !important;
	display: inline-block;
	background: #59832d !important;
	color: #fff !important;
	text-decoration: none !important;
	text-align: center !important;
	padding: 14px 25px 14px 69px;
}
.main_item_buy:hover{
	color:#fff;
	text-decoration:none;
}
.main_item_buy:after {
	content: "";
	position: absolute;
	width: 44px;
	left: 0;
	top: 0;
	bottom: 0;
    background: #71a53b url(images/cart.png) no-repeat center;
}
.main_catalog_item.add2cart .main_item_buy {
    -webkit-animation: buy_detail_item_buykey 1s 1;
    display: none;
}
.main_catalog_item_price{
	font-size:14px;
}
.detail_item_img_container {
    width: 147px;
    height: 147px;
    float: left;
    overflow: hidden;
    position: relative;
    border: 1px solid #c9c9c9;
	margin-bottom: 20px;
}
.page_title{
    color:#071c27;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    text-shadow:0 1px 0 #fff;
}
.detail_item_count {
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 40px;
    display: inline-block;
    left: 0;
    font-size: 14px;
}
.detail_item_count .count_plus, .detail_item_count .count_minus {
    display: inline-block;
    width: 19px;
    height: 19px;
    text-decoration: none;
    color: #000;
    border: 1px solid #c9c9c9;
}
.detail_item_count input[type="number"] {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    border: 1px solid #c9c9c9;
    margin: 0 -1px;
    line-height: 19px;
}
.detail_item_count .count_plus span, .detail_item_count .count_minus span {
    display: block;
    width: 18px;
    height: 18px;
    background-size: 19px;
    text-decoration: none;
    text-align: center;
}