#wrap_order{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 2.5rem;
	margin-top: 1.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	overflow:hidden;
}
#basket_form{
	background:#fff;
	padding:1.5rem 0;
	overflow:hidden;
}
.cart_item_list_top_container {
    border-bottom:1px solid #c2c2c2;
    height:3.6rem;
    width:100%;
    position:relative;
    padding:0.2rem 0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(228,228,228,1)));
    background:-webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(228,228,228,1) 100%);
    background:linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(228,228,228,1) 100%);
}
.cart_item_list_top_container ul{
    padding:0;
    margin:0;
    border-radius:5px;
    overflow:hidden;
    border:1px solid #989898;
    display:inline-block;
    position:absolute;
    top:0.5rem;
    left:0.5rem;
}
.cart_item_list_top_container ul li{
    float:left;
    margin:0;
    padding:0 2rem;
    list-style:none;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#c5c5c5));
    background-image:-webkit-linear-gradient(#f1f1f1 0%, #c5c5c5 100%);
    background-image:linear-gradient(#f1f1f1 0%, #c5c5c5 100%);
    box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.2)
}
.cart_item_list_top_container ul li:first-child{border-radius:3px 0 0 3px}
.cart_item_list_top_container ul li:last-child{border-radius:0 3px 3px 0}
.cart_item_list_top_container ul li:last-child a{
    padding-left:2rem;
    background:url(images/delayed2.png) no-repeat center left;
    background-size:14px auto
}
.cart_item_list_top_container ul li.current{
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#858585), to(#999));
    background-image:-webkit-linear-gradient(#858585 0%, #999 100%);
    background-image:linear-gradient(#858585 0%, #999 100%);
    color:#fff;
    text-shadow:0 1px 1px #858585;
}
.cart_item_list_top_container ul li a{
    color:#000;
    display:block;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 1px 1px #fff;
    font-size:1.4em;
    line-height:2.8rem;
}
.cart_item_list_top_container ul li.current a{
    color:#fff;
    text-shadow:0 1px 1px #858585;
}
.cart_item_list_filter_button{
    position:absolute;
    right:0;
    top:0.1rem;
    height:3.1rem;
    display:block;
    /*margin:5px;*/
    background:url(images/cartedit.png) no-repeat center;
    background-size:35px 31px;
    padding:5px;
    width:35px;
}.cart_item_list h1 {
    line-height: 1;
    text-transform: uppercase;
    font-size: 2.4em;
	margin: 1.5rem;
}.cart_item_list h1.b-cart-empty__title{
	text-align:center;
}
.cart_item_list{overflow:hidden;}
.cart_item_list>ul{display:block}
.cart_item_list>ul>li{
    display:block;
    border-bottom:1px solid #d0d0d0;
    padding:1.5rem;
    position:relative;
    min-height:5.8rem;
}
.cart_item_list>ul>li.last{
	border-bottom:none;
}
/**/
.cart_item_list_img{
	position:relative;
    width:11rem;
    height:11rem;
    overflow:hidden;
    background:#fff;
    text-align:center;
	border:1px solid #c9c9c9;
	float:left;
}

.cart_item_list_img img{
    border-radius:5px;
    width:11rem;
    position:absolute;
	left:-50%;
	right:-50%;
	top:-50%;
	bottom:-50%;
	margin:auto;
}
/**/
.cart_item_list_title a{
    color: #71a53b;
    font-size:1.6em;
    overflow:hidden;
}
.b-cart-product__info{
	padding-left:12.5rem;
}
/**/
.cart_item_list_description_text{
    overflow:hidden;
    height:1rem;
    text-overflow:ellipsis;
    padding:0.5rem 7rem 0.5rem 6rem;
}
.cart_item_list_description_text ul{display:block;line-height:1rem}
.cart_item_list_description_text ul li{
    font-size:1rem;
    color:#000;
    display:inline;
    line-height:1rem;
    font-style:italic;
}
.cart_item_list_description_text ul li:after{content:", "}
.cart_item_list_description_text ul li:last-child:after{content:none}
/**/

/*.main_item_price.oldprice>span:last-child {
	color:#565656;
	text-decoration:line-through;
}
*//**/
.cart_item_count>span{

}
.cart_price_conteiner{
	font-size:1.4em;
}


.cart_item_count input[type="number"][disabled="disabled"]{color:#000}
.cart_item_bottom{background:#fff;color:#000;padding-bottom:1.4em;padding-bottom:2rem;border-top:1px solid #d0d0d0;}
.cart_item_total_price{
    padding:1rem 1.5rem 0.5rem;
    background:#fff;
	font-size:1.4em;
}
.cart_item_total_price span{color:#000}
.cart_item_total_price strong{
    font-weight:bold;
    font-size:2.1em;
    color:#000;
}
.cart_item_hr{
    border:none;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #fff;
    margin:0.5rem 0;
}
.cart_item_refresh{margin:0 1rem}
.cart_item_checkout{
    position:relative;
    display:inline-block;
}
.cart_item_coupon{padding-bottom:5px}
.cart_item_coupon span{
    font-size:1.4em;
    font-weight:bold;
    text-shadow:0 1px 1px #fff;
    float:left;
    padding-left:1rem;
    line-height:3rem;

}
.cart_item_list_search_input_container{
    display:block;
    position:relative;
    border-radius:5px;
    border:1px solid #979797;
    margin-left:7rem;
    margin-right:1rem;
    background:#fff;
    -webkit-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.3), 0 1px 1px 0 #fff;
    box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.3), 0 1px 1px 0 #fff;
}
.cart_item_list_search_input_container input[type=text]{
    line-height:3rem;
    border:none;
    border-radius:1.4em;
    display:block;
    background:transparent;
    width:100%;

}
.empty_cart_text {
    font-size: 1.8em;
    text-align: center;
    display: block;
}.simple_cart_text{
	font-size: 1.8em;
	    margin: 1.5rem 1.5rem 0 1.5rem;
}#backet_controll{
	margin: 1.5rem;
	text-align: center;
	height: 17.8rem;
	padding-top: 13.7rem;
}#backet_controll .cart_item_all_remove {
	background: #71a53b;
	color: #fff;
	font-size: 1.6em;
	height: 4.4rem;
	line-height: 4.4rem;
	padding: 0 2rem;
	position: relative;
	margin-top: 0;
	position: relative;
	display: inline-block;
}#backet_controll .cart_item_all_remove:hover{
	text-decoration:none;
	background: #4b9a2a;
}#backet_controll .cart_item_all_remove:before{
	content: " ";
	position: absolute;
	top: -10.7rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: url(images/icon_clear_basket.png) no-repeat;
	background-size: contain;
	width: 100%;
	height: 10.7rem;
	background-position: top center;
	display: block;
}

@-webkit-keyframes   EDIT_cart_item_count_a{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes NOEDIT_cart_item_count_a{0%{opacity:1}100%{opacity:0}}
body.noedit .cart_item_count>span,
body.edit 	.cart_item_remove,
body.edit 	.cart_item_delayed,
body.noedit .cart_item_list_img img,
body.edit   .cart_item_count>a{-webkit-animation:EDIT_cart_item_count_a 0.5s 1;opacity:1}
body.edit   .cart_item_count>span,
body.noedit .cart_item_remove,
body.noedit .cart_item_delayed,
body.edit   .cart_item_list_img img,
body.noedit .cart_item_count>a{-webkit-animation:NOEDIT_cart_item_count_a 0.5s 1;opacity:0}


@-webkit-keyframes   EDIT_cart_item_count{0%{bottom:0.2rem}100%{top:0.6rem}}
@-webkit-keyframes NOEDIT_cart_item_count{0%{top:0.6rem;width:3.5rem}100%{bottom:0.2rem}}
body.edit .cart_item_count{-webkit-animation:EDIT_cart_item_count 0.5s 1;
    height:9rem}


@-webkit-keyframes   EDIT_cart_item_count_input{0%{bottom:0.5rem;right:1.1rem;background:#fff}100%{bottom:3.5rem;/*right:6px;*/background:#f9dbab}}
@-webkit-keyframes NOEDIT_cart_item_count_input{0%{right:0.5rem;bottom:3.5rem;background:#f9dbab}100%{bottom:0.5rem;/*right:10px;*/background:#fff}}
body.edit   .cart_item_count input[type="number"]{-webkit-animation:EDIT_cart_item_count_input 0.5s 1}
body.noedit .cart_item_count input[type="number"]{-webkit-animation:NOEDIT_cart_item_count_input 0.5s 1}
.cart_item_count input[type="number"]{
	display: inline-block;
	vertical-align: top;
	width: 3rem;
	height: 3rem;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	border: 1px solid #c9c9c9;
	margin: 0 -0.1rem;
	line-height: 3rem;
	text-align:center;
}
.cart_item_count{
	display: inline-block;
	font-size:1.4em;
	margin:1rem 0;
}
.cart_item_count>a{text-decoration:none;color:#000;	text-align:center;}
.cart_item_count>span{right:-2.5rem;bottom:-0.2rem;}
.cart_item_count .count_plus,
.cart_item_count .count_minus{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	text-decoration: none;
	color: #000;
	border: 1px solid #c9c9c9;
	line-height: 3rem;
	text-align:center;
}
.cart_item_control{
	width: 100%;
	display: inline-block;
	text-align: right;
}
.cart_item_count .count_plus{right:0;top:0}
.cart_item_count .count_minus{right:0;bottom:0}
.cart_item_remove{
	color:#c81e3a;
	font-size:1.8em;
	display: inline-block;
	margin: 0 0 0 2rem;
}
.cart_item_delayed{
	color:#c81e3a;
	font-size:1.8em;
	display: inline-block;
	margin: 0 2rem 0 2rem;
}
.cart_item {
    background: url(images/cart.png) no-repeat center;
    background-size: 100%;
    width: 1.6rem;
    height: 1.5rem;
    display: inline-block;
    margin: 0 2rem 0 2rem;
}
#wrap_basketOrderButton2{
	text-align:center;
}
#basketOrderButton2{
	background: #ad1b34;
	color: #fff;
	height: 4.4rem;
	line-height: 4.4rem;
	font-size: 1.6em;
	text-align:center;
	margin: 1.5rem auto 0 auto;
	padding:0 2rem;
	text-decoration:none;
	cursor:pointer;
}#basketOrderButton2:hover{
	background:#d84406;
}
body.noedit .cart_item_remove,
body.noedit .cart_item_delayed{display:none}
body.edit .cart_item_delayed{
    background:#fff url("images/delayed.png") no-repeat center;
    background-size:27px 21px;
    width:2.7rem;
    height:2.6rem;
    position:absolute;
    top:50%;
    margin-top:-1rem;
    display:block;
    left:98%;
    margin-left:-2.7rem;
}
body.edit.delayed .cart_item_delayed{
    background:#fff url("images/undelayed.png") no-repeat center;
    background-size:16px auto
}
.cart_item_count .plus, .cart_item_count .minus {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: #000;
    border: 1px solid #c9c9c9;
    text-align: center;
    line-height: 2.5rem;
}
.cart_item_count input.quantity_input {
    display: inline-block;
    vertical-align: top;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    border: 1px solid #c9c9c9;
    margin: 0 -1px;
    line-height: 2.5rem;
	outline:none;
}
@media (max-width: 767px){
	#wrap_order{
		box-shadow:none;
		margin:0;
	}.cart_item_count .plus, .cart_item_count .minus{
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
	}.cart_item_count input.quantity_input{
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
	}
}
