/* item_detail_v2 */
#detail_item .bx_item_title{
	padding-bottom:14px;
	border-bottom:1px solid #e5e5e5;
	margin-bottom: 16px;
	min-height: 24px
}

#detail_item .bx_item_title h1{
	font-size:24px;
	border-bottom:0 none transparent;
	margin-bottom: 0;
	padding-bottom: 0;
}
#detail_item h1 span{color:#000}
#detail_item .bx_item_container{}
#detail_item .bx_item_container .bx_lt{
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:75px;
	vertical-align:top;
	width: 320px;
}
#detail_item .bx_item_container .bx_rt{
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:750px;
	vertical-align:top;
}
#detail_item .bx_item_container .bx_md{clear:both}
#detail_item .bx_item_container .bx_lb{
	float:left;
	margin-right:2%;
	width:48%;
}
#detail_item .bx_item_container .bx_rb{
	float:right;
	margin-left:2%;
	width:48%;
}
#detail_item .bx_optionblock{
	float:right;
	margin-left:10px;
	width:120px;
}

/* Item info */
#detail_item .item_name{
	margin:0;
	padding:0;
}
#detail_item .item_name a{
	color:#000;
	text-decoration:none;
	font-size:23px;
}
#detail_item .item_old_price{
	padding:0 10px;
	color:#b8b8b8;
	text-decoration:line-through;
	font-weight:bold;
	font-size:16px;
	line-height:24px;
}
#detail_item .item_current_price{
	color:#cf1515;
	font-weight:bold;
	font-size:21px;
	line-height:24px;
}
#detail_item .item_economy_price{
	display:inline-block;
	color:#b8b8b8;
	font-weight:bold;
	font-size:14px;
	line-height:24px;
}

#detail_item .item_info_section{
	margin:20px 0;
	font-size:16px;
	line-height:19px;
}
#detail_item .item_info_section .props .prop{
	margin:20px 0;
}
#detail_item .item_section_name_gray{
	color: #636363;
	font-size:16px;
}
#detail_item .item_info_section dl{
	margin: 20px 0;
	overflow: hidden;
	padding:0;
}
#detail_item .item_info_section dl dt{
	clear: both;
	float: left;
}
#detail_item .item_info_section dl dd{
	float: left;
	margin: 0 5px;
}
#detail_item .item_buttons{
	margin-top:25px;
	margin-bottom:25px;
}
#detail_item .item_buttons_counter_block{
	display:inline-block;
	margin-right:10px;
	vertical-align: baseline;
	color: #3f3f3f;
	font-size: 13px;
	text-align: left;
	margin-bottom:10px;
}
#detail_item .item_buttons_counter_block a{
	vertical-align: baseline;
}
#detail_item .bx_cnt_desc{vertical-align: baseline;}
/* Item SET */

#detail_item .transparent_input{
	background:none;
	color:#636363;
	font-weight:bold;
	font-size:14px;
	display: inline-block;
	width: 30px;
	height: 22px;
	text-align: center;
	border-color:#c9c9c9;
	border-width:1px 0;
	height: 23px;
    line-height: 21px;
}






/*tab-section-container*/
#detail_item .tab-section-container{position:relative;}
#detail_item .tab-list{
	padding:0;
	border-bottom:1px solid #d9e1e3;
	vertical-align:bottom;
	text-align:left;
}
#detail_item .tab-list li{
	display:inline-block;
	border:1px solid #d9e1e3;
	border-bottom:none;
	border-radius:3px 3px 0 0;
	background:#f7f7f7;
	box-shadow:inset 0 -10px  5px -10px rgba(0,0,0,.12);
	vertical-align:bottom;

}
#detail_item .tab-list li a{
	display:block;
	padding:0 10px;
	height:30px;
	box-shadow:none;
	color:#999;
	text-decoration:none;
	font-size:13px;
	line-height:30px;
}

#detail_item .tab-list li:hover,
#detail_item .tab-list li.active{
	background:#fff;
}

/*.tab-list li:hover a,*/
#detail_item .tab-list li.active a{
	position:relative;
	bottom:-2px;
	height:35px;
	background:#fff;
	color:#3f3f3f;
	line-height:35px;
}
#detail_item .tab-boby-container .container>div.tab-off{display:none;}
#detail_item .tab-boby-container .container>div{

}
#detail_item .item_comments{
	display:block;
	padding-left:10px;
}
#detail_item .item_comments li{
	display:block;
	padding-bottom:10px;
}
#detail_item .item_comments_username{
	display:inline-block;
	color:#5d90bd;
	font-size:14px;
}
#detail_item .item_comments_date{
	display:inline-block;
	margin-left:10px;
	color:#b8b8b8;
	font-size:14px;
}
#detail_item .item_comments_container p{
	margin-top:5px;
	color:#3f3f3f;
	font-size:14px;
}

#detail_item .bx_notavailable{
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	border: 1px solid #E4E4E4;
	background: #F3F3F3;
	white-space: normal;
	line-height: normal;
	padding: 5px 15px;
	margin-bottom: 10px;
}
.bx_notavailable_subscribe
{
	background: none !important;
	border: none !important;
	padding-left: 0 !important;
}

#detail_item .bx_bt_button,
#detail_item .bx_bt_button_type_2{
	display:inline-block;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}
#detail_item .bx-catalog-subscribe-button{
	background-image: linear-gradient(#7abc58,#7abc58);
    background-image: -webkit-linear-gradient(#7abc58,#7abc58);
    background-image: -moz-linear-gradient(#7abc58,#7abc58);
    background-image: linear-gradient(#7abc58,#7abc58);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
	width:160px;
	height:65px;
	line-height:65px;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	color:#fff;
}
#detail_item .bx_shadow.bx_bt_button,
#detail_item .bx_shadow.bx_bt_button_type_2{box-shadow:0 1px 1px 0 rgba(0,0,0,.2)}
#detail_item .bx_shadow.bx_bt_button:active,
#detail_item .bx_shadow.bx_bt_button_type_2:active{box-shadow:none}

#detail_item .bx_bt_button  				{
	background: #ad1b34;
	color:#fff;
	margin-right: 15px;
}
#detail_item .bx_bt_button.bx_bue{
	background-image: linear-gradient(#7abc58,#7abc58);
    background-image: -webkit-linear-gradient(#7abc58,#7abc58);
    background-image: -moz-linear-gradient(#7abc58,#7abc58);
    background-image: linear-gradient(#7abc58,#7abc58);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');

}
#detail_item .bx_bt_button.bx_bue:hover {
    background-image: linear-gradient(#6BA723,#6BA723);
    background-image: -webkit-linear-gradient(#6BA723,#6BA723);
    background-image: -moz-linear-gradient(#6BA723,#6BA723);
    background-image: linear-gradient(#6BA723,#6BA723);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF6BA723',endColorstr='#FF6BA723');
}
#detail_item .bx_bt_button:hover  		{
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8520e),color-stop(100%,#d84406));
    background-image: -webkit-linear-gradient(#e8520e,#d84406);
    background-image: -moz-linear-gradient(#e8520e,#d84406);
    background-image: linear-gradient(#e8520e,#d84406);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFE8520E',endColorstr='#FFD84406') \9;
}
#detail_item .bx_bt_button:active  		{
	background:#006fcb;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGEyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#006fcb), color-stop(100%,#00a2df));
	background:-webkit-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:   -moz-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:    -ms-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:     -o-linear-gradient(top, #006fcb 0%,#00a2df 100%);
	background:        linear-gradient(to bottom, #006fcb 0%,#00a2df 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fcb', endColorstr='#00a2df',GradientType=0 );
	box-shadow:inset 0 3px 5px 0 rgba(0,0,0,.21);
}

#detail_item .bx_bt_button_type_2 		{
	border:1px solid #c9c9c9;
	color:#656565;
	text-shadow:0 1px 0 #fff;
	height: 23px;
    line-height: 21px;
}
#detail_item .bx_bt_button_type_2:hover 	{
	background:#fff;
}
#detail_item .bx_bt_button_type_2:active {
	background:#f1f1f1;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfcfc));
	background:-webkit-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:   -moz-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:    -ms-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:     -o-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:        linear-gradient(to bottom, #f1f1f1 0%,#fcfcfc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fcfcfc',GradientType=0 );
	box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
}


#detail_item .bx_small.bx_bt_button,
#detail_item .bx_small.bx_bt_button_type_2{
	display:inline-block;
	min-width:20px;
	line-height:20px;
}
#detail_item .bx_small.bx_bt_button  		{}
#detail_item .bx_small.bx_bt_button:hover  {}
#detail_item .bx_small.bx_bt_button:active {}
#detail_item .bx_small.bx_bt_button_type_2 		{}
#detail_item .bx_small.bx_bt_button_type_2:hover {}
#detail_item .bx_small.bx_bt_button_type_2:active{}

#detail_item .bx_medium.bx_bt_button:hover  {}
#detail_item .bx_medium.bx_bt_button:active {}
#detail_item .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
#detail_item .bx_medium.bx_bt_button_type_2:hover {}
#detail_item .bx_medium.bx_bt_button_type_2:active{}

#detail_item .bx_big.bx_bt_button,
#detail_item .bx_big.bx_bt_button_type_2	{
	height:34px;
	font-weight:bold;
	line-height:34px;
}
#detail_item .bx_big.bx_bt_button  	{
	width: 160px;
    height: 65px;
	line-height:65px;
	font-size:16px;
}
#detail_item .bx_big.bx_bt_button:hover  {}
#detail_item .bx_big.bx_bt_button:active {}
#detail_item .bx_big.bx_bt_button_type_2 	  {}
#detail_item .bx_big.bx_bt_button_type_2:hover {}
#detail_item .bx_big.bx_bt_button_type_2:active{}





@media (min-width:981px){}
@media (max-width:740px){
	#detail_item .bx_optionblock{display:none}
	/*#detail_item .item_buttons_counter_block{margin-bottom:10px}*/
	#detail_item .bx_item_container .bx_lb,
	#detail_item .bx_item_container .bx_rb{width:48%}
}
@media (min-width:640px) and (max-width:980px){}
@media (min-width:480px) and (max-width:639px){}
@media (max-width:480px) {
	.bx-touch #detail_item .bx_item_container .bx_lt,
	.bx-touch #detail_item .bx_item_container .bx_rt,
	.bx-touch #detail_item .bx_item_container .bx_md,
	.bx-touch #detail_item .bx_item_container .bx_lb,
	.bx-touch #detail_item .bx_item_container .bx_rb{
		float:none;
		margin:0;
		padding:0;
		width:100%;
	}
	.bx-touch #detail_item .item_info_section{padding-left:0}

}
@media (max-width:319px){}

/* item_detail_slider */
#detail_item .bx_item_slider{
	position: relative;
	margin-bottom: 10px;
}
#detail_item .bx_item_slider .bx_bigimages {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	width: 320px;
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	background: #fff;
	text-align: center;
	height: 420px;
}
#detail_item .bx_item_slider .bx_bigimages .bx_bigimages_imgcontainer{

}
#detail_item .bx_item_slider .bx_bigimages .bx_bigimages_imgcontainer .bx_bigimages_aligner {
	text-align: center;
}

#detail_item .bx_item_slider .bx_bigimages .bx_bigimages_imgcontainer img {
	display: inline-block;
	max-width: 100% !important;
	max-height: 100% !important;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
/*----*/

#detail_item .bx_item_slider .bx_slider_conteiner{
	position: relative;
	margin-bottom: 10px;
	max-width: 100%;
	width: 100%;
}
.bx-no-touch #detail_item .bx_item_slider .bx_slider_conteiner.full {
	position: relative;
	margin-left: -5%;
	padding: 20px 5% 0
}

/*----*/

#detail_item .bx_item_slider .bx_slider_scroller_container{position: relative}

#detail_item .bx_item_slider .bx_slide{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}
.bx-touch #detail_item .bx_item_slider .bx_slide{overflow-x: auto}

#detail_item .bx_item_slider .bx_slide ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap
}
.bx-touch #detail_item .bx_item_slider .bx_slide ul{margin-left: 0 !important}
#detail_item .bx_item_slider .bx_slide ul li{
	position: relative;
	display: block;
	float: left;
	height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
#detail_item .bx_item_slider .bx_slide ul li.bx_active .cnt{
	border: 1px solid #cc0001;
}
#detail_item .bx_item_slider .bx_slide ul li .cnt{
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 4px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #b8b8b8;
	background: #fff;
}
.bx-retina #detail_item .bx_item_slider .bx_slide ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}
#detail_item .bx_item_slider .bx_slide ul li:hover .cnt{border: 1px solid #cc0001}
#detail_item .bx_item_slider .bx_slide ul li:active .cnt,
#detail_item .bx_item_slider .bx_slide ul li.bx_active .cnt{
	padding: 3px;
	border: 2px solid #bbbbbb;
}
.bx-retina #detail_item .bx_item_slider .bx_slide ul li.bx_active .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
#detail_item .bx_item_slider .bx_slide ul li .cnt .cnt_item{
	position: absolute;
	top:   6%;
	right: 6%;
	bottom:6%;
	left:  6%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50%;
}
#detail_item .bx_item_slider .bx_slide ul li .cnt .cnt_item img{
	width: auto;
	height: 25px;
}

/*----*/

.bx-no-touch #detail_item .bx_item_slider .bx_slide_left,
.bx-no-touch #detail_item .bx_item_slider .bx_slide_right  	  {opacity:0.8}
.bx-no-touch #detail_item .bx_item_slider .bx_slide_left:hover,
.bx-no-touch #detail_item .bx_item_slider .bx_slide_right:hover{opacity:1.0}
#detail_item .bx_item_slider .bx_slider_conteiner.full .bx_slide_left,
#detail_item .bx_item_slider .bx_slider_conteiner.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}
.bx-no-touch #detail_item .bx_item_slider .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.bx-no-touch #detail_item .bx_item_slider .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}
.bx-touch 	 #detail_item .bx_item_slider .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y   left  center;background-size: 100% auto}
.bx-touch 	 #detail_item .bx_item_slider .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y   right center;background-size: 100% auto}

#detail_item .bx_item_slider_lupe_small{
	position: absolute;
	background: rgba(0, 0, 0, 0.18);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(255,255,255,.5);
	cursor: pointer;
}

#detail_item .bx_item_slider_lupe{
	position: absolute;
	border: 1px solid #b2b2b2;
	left:105%;
	top: 0;
	bottom:4px;
	margin: 0;
	background: #fff url(images/wait.gif) no-repeat scroll center center;
	z-index: 120;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

#detail_item .bx_item_slider_lupe img {
	max-width: 99999px !important;
	max-height: 99999px !important;
}

/* Stickers */
#detail_item .bx_bigimages .bx_stick{
	position: absolute;
	width: 123px;
	height: 35px;
	background: url(images/stick.png) left center no-repeat;
	color: #fff;
	text-align: center;
	text-shadow:0 1px 0 #ba3434;
	line-height: 35px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
#detail_item .bx_bigimages .bx_stick.short {font-weight:  bold;font-size:18px}
#detail_item .bx_bigimages .bx_stick.average {font-weight:  bold;font-size:13px}
#detail_item .bx_bigimages .bx_stick.long {font-weight:normal;font-size:11px}
#detail_item .bx_bigimages .bx_stick_disc{
	position: absolute;
	width: 72px;
	height: 74px;
	background: url(images/stick_disc.png) no-repeat center;
	color: #fff;
	text-align: center;
	text-shadow:0 1px 0 #ba3434;
	font-weight: bold;
	font-size: 23px;
	line-height: 74px;
}
#detail_item .bx_bigimages .bx_stick.left,
#detail_item .bx_bigimages .bx_stick_disc.left{left:-2px;}
#detail_item .bx_bigimages .bx_stick.right,
#detail_item .bx_bigimages .bx_stick_disc.right{right: 0;}
#detail_item .bx_bigimages .bx_stick.top,
#detail_item .bx_bigimages .bx_stick_disc.top{top: 15px;}
#detail_item .bx_bigimages .bx_stick.bottom,
#detail_item .bx_bigimages .bx_stick_disc.bottom{bottom: 5px;}
#detail_item .bx_bigimages .bx_stick.middle,
#detail_item .bx_bigimages .bx_stick_disc.middle{top: 49%;}
@media (min-width:641px) and (max-width:960px){
	#detail_item .bx_bigimages .bx_stick{
		width: 90px;
		height: 30px;
		background-size: 100%;
		line-height: 30px;
	}
	#detail_item .bx_bigimages .bx_stick.short {font-weight:normal;font-size:14px}
	#detail_item .bx_bigimages .bx_stick.average {font-weight:normal;font-size:11px}
	#detail_item .bx_bigimages .bx_stick.long{font-weight:normal;font-size:11px}
	#detail_item .bx_bigimages .bx_stick_disc{
		width: 64px;
		height: 65px;
		background-size: 100%;
		font-size: 	20px;
		line-height: 65px;
	}
}
@media (max-width:640px) {
	.bx-touch #detail_item .bx_bigimages .bx_stick{
		width: 70px;
		height: 30px;
		background-size: 100%;
		font-size: 	11px;
		line-height: 30px;
	}
	.bx-touch #detail_item .bx_bigimages .bx_stick_disc{
		width: 48px;
		height: 49px;
		background-size: 100%;
		font-size: 	16px;
		line-height: 49px;
	}
}
@media (max-width:479px) {
	.bx-touch #detail_item .bx_bigimages .bx_stick{
		width: 70px;
		height: 30px;
		background-size: 100%;
		font-size: 	11px;
		line-height: 30px;
	}

	.bx-touch #detail_item .bx_bigimages .bx_stick_disc{
		width: 37px;
		height: 38px;
		background-size: 100%;
		font-size: 13px;
		line-height: 38px;
	}
}

/* scu_detail_size */
#detail_item #detail_item_size{
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	max-width: 100%;
	width: 100%;
}
.bx-no-touch #detail_item #detail_item_size.full {
	position: relative;
	margin-left: -5%;
	padding: 0 5%;
}

/*----*/

#detail_item #detail_item_size .bx_item_section_name_gray{
	color: #9e9e9e;
	vertical-align: middle;
	font-size: 11px;
	line-height: 11px;
}

/*----*/

#detail_item #detail_item_size .bx_size_scroller_container{position: relative}

#detail_item #detail_item_size .bx_size{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}
#detail_item #detail_item_size ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}
.bx-touch 	 #detail_item #detail_item_size .bx_size{overflow-x: auto;}
#detail_item #detail_item_size ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}
.bx-touch 	#detail_item #detail_item_size .bx_size ul{margin-left: 0 !important;}
#detail_item #detail_item_size ul li{
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 25px;
}
#detail_item #detail_item_size ul li .cnt{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 2px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #c0cfda;
	background: #fff;

	color: #3f3f3f;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-size: 10px;
	line-height: 22px;
}
.bx-retina #detail_item #detail_item_size ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}
#detail_item #detail_item_size ul li:hover .cnt{border: 1px solid #006cc0}
#detail_item #detail_item_size ul li:active .cnt,
#detail_item #detail_item_size ul li.bx_active .cnt{
	border: 2px solid #006cc0;
}
.bx-retina #detail_item #detail_item_size ul li.bx_active .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}

#detail_item #detail_item_size .bx_size ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
#detail_item #detail_item_size .bx_size ul li.bx_missing>i{
	cursor: not-allowed;
	position: absolute;
	display: block;
	top: 0;
	right: 2px;
	bottom: 2px;
	left:2px;
	z-index:11;
	background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}
/*----*/

.bx-no-touch #detail_item #detail_item_size .bx_slide_left,
.bx-no-touch #detail_item #detail_item_size .bx_slide_right  		{opacity:0.8}
.bx-no-touch #detail_item #detail_item_size .bx_slide_left:hover,
.bx-no-touch #detail_item #detail_item_size .bx_slide_right:hover {opacity:1.0}

#detail_item #detail_item_size.full .bx_slide_left,
#detail_item #detail_item_size.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}
.bx-no-touch #detail_item #detail_item_size .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat left  center;background-size: 100% auto}
.bx-no-touch #detail_item #detail_item_size .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat right center;background-size: 100% auto}
.bx-touch 	 #detail_item #detail_item_size .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y left  center;background-size: 100% auto}
.bx-touch 	 #detail_item #detail_item_size .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y right center;background-size: 100% auto}

/* scu_detail_scu */
#detail_item #detail_item_scu{
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	max-width: 100%;
	width: 100%;
}
.bx-no-touch #detail_item #detail_item_scu.full {
	position: relative;
	margin-left: -5%;
	padding: 0 5%
}

/*----*/

#detail_item #detail_item_scu .bx_item_section_name_gray{
	color: #9e9e9e;
	vertical-align: middle;
	font-size: 11px;
	line-height: 11px;
}

/*----*/

#detail_item #detail_item_scu .bx_scu_scroller_container{position: relative}

#detail_item #detail_item_scu .bx_scu{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}
.bx-touch 	 #detail_item #detail_item_scu .bx_scu{overflow-x: auto}

#detail_item #detail_item_scu .bx_scu ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap
}
.bx-touch 	#detail_item #detail_item_scu .bx_scu ul{margin-left: 0 !important}
#detail_item #detail_item_scu .bx_scu ul li{
	position: relative;
	display: block;
	float: left;
	height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#detail_item #detail_item_scu .bx_scu ul li .cnt{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 4px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #c0cfda;
	background: #fff;
	z-index:10;
}
.bx-retina #detail_item #detail_item_scu .bx_scu ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}
#detail_item #detail_item_scu .bx_scu ul li:hover .cnt{border: 1px solid #006cc0}
#detail_item #detail_item_scu .bx_scu ul li:active .cnt,
#detail_item #detail_item_scu .bx_scu ul li.bx_active .cnt{
	padding: 3px;
	border: 2px solid #006cc0;
}
#detail_item #detail_item_scu .bx_scu ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
#detail_item #detail_item_scu .bx_scu ul li.bx_missing>i{
	cursor: not-allowed;
	position: absolute;
	display: block;
	top: 0;
	right: 2px;
	bottom: 4px;
	left: 2px;
	z-index:11;
	background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}

.bx-retina #detail_item #detail_item_scu .bx_scu ul li.bx_active .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
#detail_item #detail_item_scu .bx_scu ul li .cnt .cnt_item{
	position: absolute;
	top:   6%;
	right: 6%;
	bottom:6%;
	left:  6%;
	background-size:contain;
	background-repeat: no-repeat;
}
#detail_item #detail_item_scu .bx_scu ul li .cnt .cnt_item img{
	width: auto;
	height: 25px;
}

/*----*/

.bx-no-touch #detail_item #detail_item_scu .bx_slide_left,
.bx-no-touch #detail_item #detail_item_scu .bx_slide_right  	  {opacity:0.8}
.bx-no-touch #detail_item #detail_item_scu .bx_slide_left:hover,
.bx-no-touch #detail_item #detail_item_scu .bx_slide_right:hover{opacity:1.0}

#detail_item #detail_item_scu.full .bx_slide_left,
#detail_item #detail_item_scu.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}
.bx-no-touch #detail_item #detail_item_scu .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.bx-no-touch #detail_item #detail_item_scu .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}
.bx-touch 	 #detail_item #detail_item_scu .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y   left  center;background-size: 100% auto}
.bx-touch 	 #detail_item #detail_item_scu .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y   right center;background-size: 100% auto}

/* item_detail_description */
#detail_item .bx_item_description p{font-size: 13px;}
#detail_item .bx_item_description .bx_item_section_name_gray{
	color: #9e9e9e;
	font-size: 13px;
}
#detail_item .bx_item_description .bx_specifications_table{
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}
#detail_item .bx_item_description .bx_specifications_table tr:nth-child(odd){background: #f2f2f2;}
#detail_item .bx_item_description .bx_specifications_table tr:nth-child(even){ }
#detail_item .bx_item_description .bx_specifications_table tr td{
	padding: 3px 10px;
	font-size: 12px;
}
#detail_item .bx_item_description .bx_specifications_table tr td:first-child{font-weight: bold;}