.bx-authform-social-popup{
	display: none;
	background: #fff;
	width: auto;
	padding: 1.5rem;
	font-size: 1.4em;
	white-space: nowrap;
}

.bx-authform-social-popup form{margin-bottom: 0;}

.bx-authform-social-popup input[type="text"] {
	display: inline-block;
	max-width: 15rem;
	font-size: 1.8em;
	height: 3rem;
	margin: 0;
	padding: 0 0.4rem;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bx-authform-social{
	margin:2rem 0;
}

.bx-authform-social ul {
  	display: block;
}

.bx-authform-social ul li {
	position: relative;
	display: inline-block;
	width: 57px;
	height: 57px;
	margin-right: 0.5rem;
}
.bx-authform-social ul li .bx-authform-social-icon {
	display: block;
	width: 57px;
	height: 57px;
	background-image: url(images/sprite_r.png);
	background-repeat: no-repeat;
	border-bottom: none;
}
.bx-authform-social ul li .bx-authform-social-icon:hover{opacity: .9;}
.bx-authform-social ul li .bx-authform-social-icon.box {background-position: 0 0;}
.bx-authform-social ul li .bx-authform-social-icon.dropbox {background-position: -44px 0;}
.bx-authform-social ul li .bx-authform-social-icon.bitrix24 {background-position: -88px 0;}
.bx-authform-social ul li .bx-authform-social-icon.yandex {background-position:-132px 0;}
.bx-authform-social ul li .bx-authform-social-icon.openid {background-position:-176px 0;}
.bx-authform-social ul li .bx-authform-social-icon.odnoklassniki {background-position:-220px 0;}
.bx-authform-social ul li .bx-authform-social-icon.google {background-position:0 0;}
.bx-authform-social ul li .bx-authform-social-icon.mymailru {background-position:-308px 0;}
.bx-authform-social ul li .bx-authform-social-icon.livejournal {background-position:-352px 0;}
.bx-authform-social ul li .bx-authform-social-icon.openid-mail-ru {background-position:-440px 0;}
.bx-authform-social ul li .bx-authform-social-icon.liveid {background-position:-484px 0;}
.bx-authform-social ul li .bx-authform-social-icon.liveinternet {background-position:-528px 0;}
.bx-authform-social ul li .bx-authform-social-icon.blogger {background-position:-572px 0;}
.bx-authform-social ul li .bx-authform-social-icon.vkontakte {background-position:-616px 0;}
.bx-authform-social ul li .bx-authform-social-icon.twitter {background-position:-268px 0;}
.bx-authform-social ul li .bx-authform-social-icon.facebook {background-position:-180px 0;}
.bx-authform-social ul li .bx-authform-social-icon.google-plus {background-position:-91px 0;}
.bx-authform-social ul li .bx-authform-social-icon.office365 {background-position:-792px 0;}
