/* catalog.section */
.bx_item_list_you_looked_horizontal{
    margin-bottom:2rem;
    border-bottom:1px solid #e5e5e5;
	padding:0 2.5rem;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item{
    position:relative;
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:#fff;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
    margin-bottom:3rem;
	width:28.5rem;
	height:31.5rem;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item.last{
	border-right:none;
}
.popup-window-buttons .bx_item_list_you_looked_horizontal {
    border: none !important;
}

.bx-no-touch  .bx_item_list_you_looked_horizontal .bx_catalog_item:hover{border:none;}
.bx-no-touch  .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_container{
	border-left:none;
	border-top:none;
	position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
	box-shadow:none;
	animation: inherit;
}
.bx-no-touch  .bx_item_list_you_looked_horizontal .bx_catalog_item.last:hover .bx_catalog_item_container{
	border-right:none;
}
@keyframes borderview {from {border:1px solid #fdfdfd;box-shadow:0 0 0 0 rgba(0,0,0,0);} to {border:1px solid #d3d3d3;box-shadow:0 2px 5px 0 rgba(0,0,0,.18);}}
@-webkit-keyframes borderview {from {border:1px solid #fdfdfd;box-shadow:0 0 0 0 rgba(0,0,0,0);} to {border:1px solid #d3d3d3;box-shadow:0 2px 5px 0 rgba(0,0,0,.18);}}

.bx_item_list_you_looked_horizontal .bx_catalog_item_articul{
    color:#a5a5a5;
    font-size:1.3em;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_title{
	overflow:hidden;
	height:5.6rem;
	text-align:center;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_title{
    height:5.6rem !important;
}
#recommend.bx_item_list_you_looked_horizontal .bx_catalog_item_title a{
    color: #3f3f3f;
    text-decoration: none;
    font-size: 1.6em;
}
#recommend.bx_item_list_you_looked_horizontal .bx_catalog_item_title a:hover{
    color: #71a53b;
    text-decoration: underline;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_price{
    color:#3f3f3f;
    font-weight:bold;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls{
    padding-top:1rem;
    text-align:center;
    opacity:0;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone{
    width:100%;
    white-space:nowrap;
    text-align:center;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone span{
    color:#3f3f3f;
    font-size:1.3em;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone .bx_notavailable{
    text-align:left;
    font-size:1.2em;
    line-height:3rem;
    font-weight:bold;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo{
    width:100%;
    text-align:center;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a{
    margin:1%;
	width:60%;
	min-width:7.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.5rem;
    height: 2.5rem;
	text-shadow:none;
	overflow:hidden;
}
.bx-touch .bx_item_list_you_looked_horizontal .bx_catalog_item_controls,
.bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_controls{opacity:1}
.bx_item_list_you_looked_horizontal .bx_cnt_desc{
    text-align:left;
    position:absolute;
    right:-4.5rem;
    top:0.2rem;
    width:4rem;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls a{margin-bottom:1rem;}
.bx_item_list_you_looked_horizontal .bx_catalog_item_price .bx_price{font-size:1.5em;padding-top: 0.5rem;color:#cc0001;}
.bx_item_list_you_looked_horizontal .bx_catalog_item_images_double,
.bx_item_list_you_looked_horizontal .bx_catalog_item_images{
    position:relative;
    z-index:99;
    display:block;
    width:18rem;
	height:19.5rem;
	margin:auto;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_images_double{
    z-index:900;
    margin-top:-135%;
    opacity:0;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item.double:hover .bx_catalog_item_images{
    opacity:1;
    -webkit-animation:none;
    animation:nonr;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item.double:hover .bx_catalog_item_images_double{
    opacity:1;
    -webkit-animation:rotateimglast 0.5s;
    animation:rotateimglast 0.5s;
}
@keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@-webkit-keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_controls,
.bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_articul,
.bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_scu{display:none}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_controls,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_articul,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_scu{display:block}
.bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_scu{padding-top:1rem}
.bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_scu>div{margin:0 auto}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_controls.touch,
.bx-touch    .bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_controls.no_touch{display:none !important;}

/* Stickers */
.bx_item_list_you_looked_horizontal .bx_stick{
    position:absolute;
    width:12.3rem;
    height:3.5rem;
    background:url(images/stick.png) left center no-repeat;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 0 #ba3434;
    line-height:3.5rem;
    white-space:nowrap;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}
/* buttons */
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #a9a9a9;
	text-align: center;
	font: 1.4em/2.5rem simsun,serif;
	line-height: 2.5rem !important;
	background: none;
}

.bx_item_list_you_looked_horizontal .bx_bt_button_type_2 				{
    border:1px solid #e9e9e9;
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),to(#f1f1f1));
    background-image:-webkit-linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    background-image:   -moz-linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    background-image:     -o-linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    background-image:        linear-gradient(#fcfcfc 0%,#f1f1f1 100%);
    color:#656565;
    text-shadow:0 1px 0 #fff;
}
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2:hover{background:#fff;}
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2:active 	{
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#f1f1f1),to(#fcfcfc));
    background-image:-webkit-linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    background-image:   -moz-linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    background-image:     -o-linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    background-image:        linear-gradient(#f1f1f1 0%,#fcfcfc 100%);
    box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
}
#recommend.bx_item_list_you_looked_horizontal .bx_bt_button{
    background: #ad1b34;
}
#recommend.bx_item_list_you_looked_horizontal .bx_bt_button:hover{
    background:#21afe4;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8520e),color-stop(100%,#d84406));
	background-image: -webkit-linear-gradient(#e8520e,#d84406);
	background-image: -moz-linear-gradient(#e8520e,#d84406);
	background-image: linear-gradient(#e8520e,#d84406);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFE8520E',endColorstr='#FFD84406') \9;
}
#recommend.bx_item_list_you_looked_horizontal .bx_bt_button:active{
	background: #ad1b34;
}
#recommend.bx_item_list_you_looked_horizontal .bx_bt_button.favourite {
    background-image: linear-gradient(#7abc58,#7abc58);
    background-image: -webkit-linear-gradient(#7abc58,#7abc58);
    background-image: -moz-linear-gradient(#7abc58,#7abc58);
    background-image: linear-gradient(#7abc58,#7abc58);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
}
#recommend.bx_item_list_you_looked_horizontal .bx_bt_button.favourite:hover {
    background-image: linear-gradient(#6BA723,#6BA723);
    background-image: -webkit-linear-gradient(#6BA723,#6BA723);
    background-image: -moz-linear-gradient(#6BA723,#6BA723);
    background-image: linear-gradient(#6BA723,#6BA723);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF6BA723',endColorstr='#FF6BA723');
}

.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button{
    display:inline-block;
    min-width:2rem;
    line-height:2rem;
}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2{
    display:inline-block;
    min-width:1.8rem;
    line-height:1.8rem;
}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2:hover 	{}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2:active 	{}


.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button{
    padding:0 1.3rem;
    height:2.5rem;
    line-height:2.5rem;
}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2		{
    padding:0 1.3rem;
    height:2.3rem;
    line-height:2.3rem;
}

.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button,
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2:hover  {}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2:active {}

.bx_item_list_you_looked_horizontal .bx_col_input{
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0;
	vertical-align: middle;
	border: 1px solid #a9a9a9;
	border-width: 1px 0;
	text-align: center;
	vertical-align: top;
	font-size: 1.4em;
	outline:none;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size{
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch 	 .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size{overflow-x: auto;}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch 	.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size ul{margin-left: 0 !important;}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li{
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.5rem;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0.2rem;
    bottom: 0.2rem;
    left:0.2rem;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;

    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    line-height: 2.2rem;
}
.bx-touch	.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -moz-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:active .cnt,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: 2px solid #006cc0;
}
.bx-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border_active.png) 2 stretch;
    -moz-border-image: url(images/x2border_active.png) 2 stretch;
    -o-border-image: url(images/x2border_active.png) 2 stretch;
    border-image: url(images/x2border_active.png) 2 fill stretch;
}

/*----*/

.bx_item_list_you_looked_horizontal {
    position: relative;
    margin-bottom: 2rem;
    border-radius: 3px;
	background: #fff;
	height:42rem;
	overflow:hidden;
}
.bx_item_list_you_looked_horizontal .bx_item_list_title {
    font-weight: bold;
	background: #fff;
	color: #71a53b;
    vertical-align: middle;
    height: 3.8rem;
    text-align: left;
    line-height: 3.8rem;
    font-size: 1.4em;
}.bx_item_list_you_looked_horizontal .bx_item_list_section{
	position: relative;
	padding:0 1.2rem;
}.bx_item_list_you_looked_horizontal .bx_item_list_section .bx_item_list_slide {
    /*height: auto !important;*/
	width:9999px;
	min-height:32.6rem;
}.arrow{
	border: none;
	outline:none;
    height: 1.9rem;
    width: 1.2rem;
    padding: 0;
	z-index:101;
}.arrow.next{
	background:url(images/arr_right.png) no-repeat;
	background-size:1.2rem;
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}.arrow.prev{
	background:url(images/arr_left.png) no-repeat;
	background-size:1.2rem;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.bx_item_list_you_looked_horizontal .bx_catalog_item{
		
	}
	.bx_item_list_you_looked_horizontal .bx_catalog_item:nth-child(5){
		
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.bx_item_list_you_looked_horizontal .bx_catalog_item{
		
	}
	.bx_item_list_you_looked_horizontal .bx_catalog_item:nth-child(5){
		
	}
}
@media (min-width: 1200px) {
	.bx_item_list_you_looked_horizontal .bx_catalog_item{
		
	}
}