.wrap_pagenavi{
	margin:3rem 1.5rem;
}
.page_item{
	background:#fff;
	width:3.5rem;
	height:3.5rem;
	display: inline-block;
	text-align: center;
	color: #3f3f3f;
	border:1px solid #8b8b8b;
	border-radius: 2px;
	vertical-align: middle;
	font-size:1.6em;
    line-height: 3.5rem;
}.page_item a{
	display:block;
	width:3.5rem;
	height:3.5rem;
	color:#636363;
}.page_item.active{
	background: #71a53b;
}.page_item a:hover {
    color: #71a53b;
    text-decoration: none;
}a.rt_arrow, span.rt_arrow{
	font-size: 2em;
    height: 3.5rem;
    width: 2.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5rem;
}a.lt_arrow, span.lt_arrow{
	font-size: 2em;
    height: 3.5rem;
    width: 2.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5rem;
}.page_item.active a, .page_item.active b{
	color:#fff;
}
