.bx_catalog_list_home {
	margin:0 -1%;
}.bx_catalog_list_home .bx_catalog_item{
	position:relative;
	background:#fff;
	margin: 0 1% 2% 1%;
	height:25rem;
	text-align:center;
	box-shadow: 1px 3px 3px #d2d2d2;
}.bx_catalog_list_home .bx_catalog_item:hover{
	box-shadow:none;
}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container {
    background: #fff;
	top: 0;
    left: 0;
	right: 0;
    position: absolute;
    z-index: 99;
	box-shadow: 1px 3px 3px #d2d2d2;
	padding-right: 1.5rem;
    padding-left: 1.5rem;
}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container .goods-action{
	display:block;
}.bx_catalog_list_home .bx_catalog_item a{
	box-shadow:none;
}.bx_catalog_list_home .bx_catalog_item .goods-pic{
	position:relative;
	overflow:hidden;
}.bx_catalog_list_home .bx_catalog_item .goods-info{
	padding:1rem 0 0 0;
}.bx_catalog_list_home .bx_catalog_item .goods-name a {
    color: #636363;
    font-size: 1.6em;
    font-weight: 400;
}.bx_catalog_list_home .bx_catalog_item .goods-name a:hover {
    color: #71a53b;
    text-decoration: inderline;
}.bx_catalog_list_home .bx_catalog_item .goods-action{
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}.bx_catalog_list_home .bx_catalog_item .p-quantity {
    display: block;
    margin: 0 auto 1rem auto;
    margin-bottom: 0.5rem;
    padding-left: 0px;
}.bx_catalog_list_home .bx_catalog_item .p-quantity a {
    border: 1px solid #a9a9a9;
    color: #656565;
    display: inline-block;
    font: 1.4em/2.5rem sans-serif;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 2.5rem;
    text-decoration: none;
}.bx_catalog_list_home.grid .bx_catalog_item .p-quantity input {
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px 0;
    font: 1.4em/2.5rem sans-serif;
    height: 2.5rem;
    line-height: 3.1rem;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 2.5rem;
}.bx_catalog_list_home .bx_catalog_item .goods-action{
	background:#fff;
	display:none;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtocart {
    background: #ad1b34;
    border-radius: 0;
    color: #fff;
    display: block;
    margin: 0.5rem auto 0 auto;
    padding: 6px;
    width: 60%;
	font-size:1.4em;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtocart:hover{
	background: #d84406;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtofavourite {
    background: #7abc58;
    border-radius: 0;
    color: #fff;
    display: block;
    margin: 0.5rem auto;
    padding: 6px;
    width: 60%;
	font-size:1.4em;
}.bx_catalog_list_home .bx_catalog_item .btn.action-addtofavourite:hover{
	background: #6BA723;
}.bx_catalog_list_home .bx_catalog_item_images_double, .bx_catalog_list_home .bx_catalog_item_images {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 16.3rem;
    margin-bottom: 0.3rem;
    position: relative;
    webkit-background-size: contain;
    width: 100%;
    z-index: 91;
}.bx_catalog_list_home .bx_catalog_item_images img {
    position: absolute;
    left: -50%;
    right: -50%;
    top: -50%;
    bottom: -50%;
    margin: auto;
    max-width: 20rem;
    max-height: 16.3rem;
}
@media (max-width: 767px){
	.bx_catalog_list_home{
		padding:0;
		margin:0;
	}.bx_catalog_list_home .bx_catalog_item{
		width:100%;
		min-width:30rem;
		height:auto;
		padding:0;
		margin: 0;
		box-shadow:none;
		border-bottom: 1px solid #E4E4E4;
	}.bx_catalog_list_home .bx_catalog_item .goods-action{
		display:block;
		padding-bottom: 2rem;
		padding-top: 1.5rem;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
		position:static;
		padding:0;
		box-shadow:none;
	}.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container.bx_catalog_list_home .bx_catalog_item .goods-action{
		display:block;
		padding-bottom: 2rem;
	}.bx_catalog_list_home .bx_catalog_item .goods-action .btn.action-addtocart span{
		display:none;
	}.bx_catalog_list_home .bx_catalog_item .goods-action .btn.action-addtofavourite span{
		display:none;
	}.bx_catalog_list_home .bx_catalog_item .goods-action a.btn {
		display:inline-block;
		height: 5rem;
		line-height: 5rem;
		border: none;
		width: 5rem;
		min-width: auto;
		overflow: hidden;
		padding: 0;
		margin: 1rem;
	}.bx_catalog_list_home .bx_catalog_item a.btn.action-addtocart, .bx_catalog_list_home .bx_catalog_item a.btn.action-addtocart:hover{
		background: #ad1b34 url(images/cart.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 2rem;
	}.bx_catalog_list_home .bx_catalog_item a.btn.action-addtofavourite, .bx_catalog_list_home .bx_catalog_item a.btn.action-addtofavourite:hover{
		background: #7abc58 url(images/like.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 2rem;
	}.bx_catalog_list_home .bx_catalog_item .p-quantity{
		margin-bottom:1.5rem;
	}.bx_catalog_list_home .bx_catalog_item .p-quantity a{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}.bx_catalog_list_home.grid .bx_catalog_item .p-quantity input{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.bx_catalog_list_home .bx_catalog_item{
		width:31%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.bx_catalog_list_home .bx_catalog_item{
		width:31%;
	}
}
@media (min-width: 1200px) {
	.bx_catalog_list_home .bx_catalog_item{
		width:23%;
	}
}