.bx-authform {
    margin: 2.5rem 0 2.5rem;
    max-width: 50rem;
}
.bx-authform-link-container, .bx-authform-description-container, .bx-authform-content-container{
    padding-bottom: 1rem;
    font-size: 1.8em;
}
.bx-authform .bx-title {
    font-size: 2.4em;
}
.bx-authform-content-container, .bx-authform-label-container {
    font-size: 1.8em;
    color: #5a6c77;
    padding: 1rem 0;
}
.bx-authform-formgroup-container {
    margin-bottom: 2.5rem;
}
.bx-authform-input-container input[type="text"], .bx-authform-input-container input[type="password"] {
    display: block;
    width: 100%;
    font-size: 1.8em;
    height: 5rem;
    margin: 0;
    padding: 0 1rem;
    border: 1px solid #777B83;
    border-radius: 2px;
    background: #f8fafc;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bx-authform .btn.btn-primary {
    height: 5rem;
    width: 15rem;
    text-transform: uppercase;
    font-size: 1.4em;
}
@media (max-width: 767px){
	.bx-authform{
		margin: 2.5rem 1.5rem;
		max-width: 100%;
	}
}