.page_item{
	background:#fff;
	width:35px;
	height:35px;
	display: inline-block;
	text-align: center;
	color: #3f3f3f;
	border:1px solid #8b8b8b;
	border-radius: 2px;
	vertical-align: middle;
    line-height: 35px;
}
.page_item.active{
	background: #71a53b;
}
.page_item a{
	color: #3f3f3f;
	background: #fff;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.page_item a:hover {
    color: #71a53b;
    text-decoration: none;
}
a.rt_arrow, span.rt_arrow{
	background:url('images/rt_arrow.png');
	width:8px;
	height:14px;
	display:inline-block;
	vertical-align: middle;
	margin-left:5px;
}
a.lt_arrow, span.lt_arrow{
	background:url('images/lt_arrow.png');
	width:8px;
	height:14px;
	display:inline-block;
	vertical-align: middle;
	margin-right:5px;
}
.page_item.active a, .page_item.active b{
	color:#fff;
}
