.catalog-nav {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 4.9rem;
	left:-6rem;
	text-align: center;
	margin:4rem 0;
	z-index:100;
}.catalog-nav li {
	list-style: none;
	border-bottom: 1px solid #E3E3E3;
}.catalog-nav li a img{
	width:1.7rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}.catalog-nav li a{
	position:relative;
	width:4.4rem;
	height:3.7rem;
	display:block;
	line-height:3.7rem;
}.catalog-nav li a:hover{
	background: #eaeaea;
}.catalog-nav li a.active{
	background: #eaeaea;
}.catalog-nav-ico {
	display: inline-block;
	background: url(images/static/catalog-nav-ico.png);
}
.catalog-nav--ico-1 {
	width: 1.1rem;
	height: 2.8rem;
}
.catalog-nav--ico-1:hover,
.catalog-nav--ico-1.active {
	background-position: 0 -28px;
}
.catalog-nav--ico-2 {
	width: 1.9rem;
	height: 1.9rem;
	background-position: -21px 0;
}
.catalog-nav--ico-2:hover,
.catalog-nav--ico-2.active {
	background-position: -21px -23px;
}
.catalog-nav--ico-3 {
	width: 1.7rem;
	height: 2.9rem;
	background-position: -52px -1px;
}
.catalog-nav--ico-3:hover,
.catalog-nav--ico-3.active {
	background-position: -52px -32px;
}
.catalog-nav--ico-4 {
	width: 1.1rem;
	height: 2.8rem;
	background-position: -84px -3px;
}
.catalog-nav--ico-4:hover,
.catalog-nav--ico-4.active {
	background-position: -84px -33px;
}
.catalog-nav--ico-5 {
	width: 2.2rem;
	height: 2.1rem;
	background-position: -110px -6px;
}
.catalog-nav--ico-5:hover,
.catalog-nav--ico-5.active {
	background-position: -110px -33px;
}
.catalog-nav--ico-6 {
	width: 2.5rem;
	height: 1rem;
	background-position: -5px -71px;
}
.catalog-nav--ico-6:hover,
.catalog-nav--ico-6.active {
	background-position: -5px -89px;
}
.catalog-nav--ico-7 {
	width: 1rem;
	height: 2.7rem;
	background-position: -51px -67px;
}
.catalog-nav--ico-7:hover,
.catalog-nav--ico-7.active {
	background-position: -51px -100px;
}
.catalog-nav--ico-8 {
	width: 2.5rem;
	height: 1.2rem;
	background-position: -77px -69px;
}
.catalog-nav--ico-8:hover,
.catalog-nav--ico-8.active {
	background-position: -77px -89px;
}
.catalog-nav--ico-9 {
	width: 1.4rem;
	height: 2.1rem;
	background-position: -118px -65px;
}
.catalog-nav--ico-9:hover,
.catalog-nav--ico-9.active {
	background-position: -118px -92px;
}
.catalog-nav--ico-10 {
	width: 1.6rem;
	height: 1.6rem;
	background-position: -11px -113px;
}
.catalog-nav--ico-10:hover,
.catalog-nav--ico-10.active {
	background-position: -11px -134px;
}