#wrap_section_list{
	margin-bottom:2rem;
}.order_itemlist_item_container{
	margin-bottom:2rem;
}.sale-order-title{
	color:#000;
	font:2.4em sans-serif;
	padding:0 1.5rem;
	margin: 1rem 0;
}.sale-order-list-container{
	margin: 0 0 0.5rem 0;
	background: #fff;
	padding: 1rem;
	border: 1px solid #E4E4E4;
}.sale-order-list-title-container{
	background:#71a53b;
}.sale-order-list-inner-row{
	margin-top:1rem;
	font-size:1.6em;
}.sale-order-list-title-container .sale-order-list-title{
	color:#fff;
	font:1.6em sans-serif;
	margin:0;
	padding:1rem 0;
	text-transform: uppercase;
}.sale-order-list-inner-title-line{
	display:block;
	margin:2.5rem 0;
}.sale-order-list-inner-title-line-item{
	font-size: 1.4em;
	color: #8a8a8a;
	margin: 2rem 0;
	text-transform:uppercase;
}.sale-order-list-container .status_payment, .sale-order-list-container .status_delivery{
	display:inline-block;
}.sale-order-list-container .status_payment.unpaid span,.sale-order-list-container .status_delivery.not.shipped span{
	background: #e9c1c8;
	border: 1px solid #ffbaba;
	color: #e9070e;
	font-size: 1.2em;
	border-radius: 3px;
	padding: 0.6rem;
	font-weight: bold;
}.sale-order-list-container .status_payment.paid span, .sale-order-list-container .status_delivery.shipped span{
    background: #71a53b;
    border: 1px solid #4b9a2a;
    color: #fff;
    font-size: 1.2em;
    border-radius: 3px;
    padding: 0.6rem;
	font-weight: bold;
}.main_button_component a, .main_button_component span {
    display: block;
    position: relative;
    width: 25%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 1.4em;
    font-weight: normal;
    vertical-align: top;
	padding: 2.2rem 0;
}.main_button_component a.current, .main_button_component span{
	color:#71a53b;
}.sale-order-list-repeat-container{
	position:relative;
	padding-left:1.8rem;
}.sale-order-list-repeat-container:before{
}.sale-order-list-about-container, .sale-order-list-repeat-container, .sale-order-list-cancel-container{
	float:left;
	padding:0 !important;
	text-align:center;
}.sale-order-list-about-container a, .sale-order-list-repeat-container a, .sale-order-list-cancel-container a{
	padding:1rem;
}