.bx_item_list_slide .bx_catalog_item{
	background:#fff;
	box-shadow: 1px 3px 3px #d2d2d2;
	margin-bottom:2rem;
	text-align:center;
	height:17.7rem;
	position:relative;
}.bx_item_list_slide .bx_catalog_item:hover{
	box-shadow:none;
}.bx_item_list_slide .bx_catalog_item:hover .bx_catalog_item_controls{
	display:block;
}.bx_item_list_slide .bx_catalog_item:hover .bx_catalog_item_container {
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 99;
    box-shadow: 1px 3px 3px #d2d2d2;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_title a{
	color: #636363;
	font-size: 1.2em;
	font-weight: 400;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_title a:hover{
	color: #71a53b;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_pic{
	padding:1rem 0;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_images img{
	max-width:14.9rem;
	width:100%;
}.bx_item_list_slide .bx_catalog_item .bx_col_input{
	outline:none;
	border-color: #a9a9a9;
	border-style: solid;
	border-width: 1px 0;
	font: 1.4em/2rem sans-serif;
	height: 2rem;
	line-height: 3.1rem;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 2rem;
}.bx_item_list_slide .bx_catalog_item .bx_bt_button_type_2 {
    border: 1px solid #a9a9a9;
    color: #656565;
    display: inline-block;
    font: 1.4em/2rem sans-serif;
    height: 2rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    text-decoration: none;
}.bx_catalog_item_controls{
	padding-top: 0.5rem;
	display:none;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_controls_blocktwo{
	padding-bottom: 0.5rem;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_controls_blocktwo a{
	background: #ad1b34;
	color: #fff;
	border-radius: 0;
	color: #fff;
	display: block;
	margin: 0.5rem auto 0 auto;
	padding: 0.6rem;
	width: 60%;
	text-decoration:none;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_controls_blocktwo a:hover{
	background:#d84406;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_controls_blocktwo a.favourite{
	background: #7abc58;
	color: #fff;
}.bx_item_list_slide .bx_catalog_item .bx_catalog_item_controls_blocktwo a.favourite:hover{
	background: #6BA723;
}