.bx-sort-section{
	background:#fff;
	margin-bottom: 3rem;
	padding: 1.5rem;
	-webkit-box-shadow: 1px 3px 3px #d2d2d2;
	-moz-box-shadow: 1px 3px 3px #d2d2d2;
	box-shadow: 1px 3px 3px #d2d2d2;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	font-size: 1.6em;
}.bx-sort-section .wrap_data_form{
	display:inline-block;
	margin-right:1rem;
}.bx-sort-section .wrap_data_form label{
	padding:0.5rem 0;
}.bx-sort-section .ui-selectmenu-button.ui-button{
	background:none;
	border-radius:0;
	border:1px solid #8b8b8b;
	padding:0.4rem;
	outline:none;
}.bx-sort-section .ui-button .ui-icon{
	width: 0.6rem;
	height: 1.8rem;
	background-image: url(images/arrow_b.png);
	background-position: 50%;
}.bx-sort-section .ui-state-hover .ui-icon, .bx-sort-section .ui-state-focus .ui-icon, .bx-sort-section .ui-button:hover .ui-icon, .bx-sort-section .ui-button:focus .ui-icon{
	width: 0.6rem;
	height: 1.8rem;
	background-image: url(images/arrow_b.png);
	background-position: 50%;
}.bx-sort-section .grid-show, .bx-sort-section .list-show{
	color: #636363;
	margin:0 0.5rem;
}.bx-sort-section .grid-show span, .bx-sort-section .list-show span{
	vertical-align:middle;
}.bx-sort-section .grid-show, .bx-sort-section .list-show:hover{
	text-decoration:none;
}.bx-sort-section .grid-show .icon{
	background:url(images/grid.png) no-repeat;
	background-size:1.5rem;
	width:1.5rem;
	height:1.5rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
}.bx-sort-section .grid-show.active .icon{
	background:url(images/grid2.png) no-repeat;
	background-size:1.5rem;
}.bx-sort-section .list-show .icon{
	background:url(images/list.png) no-repeat;
	background-size:1.5rem;
	width:1.5rem;
	height:1.5rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
}.bx-sort-section .list-show.active .icon{
	background:url(images/list2.png) no-repeat;
	background-size:1.5rem;
}.bx-sort-section .ui-menu .ui-menu-item{
	font-size:1.6em;
}
@media (max-width: 767px){
	.bx-sort-section .wrap_data_form{
		display:block;
		margin-bottom:2rem;
		margin-right:0;
	}.bx-sort-section{
		box-shadow:none;
		margin:0;
		border-bottom: 1px solid #E4E4E4;
	}.bx-sort-section .ui-selectmenu-button.ui-button{
		width:100%;
		padding:1rem;
	}
}