.bx-searchtitle .bx-block-title {
	font-family: sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 0.9rem;
	font-weight: 600;
}.bx-searchtitle .bx-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}.bx-searchtitle .bx-input-group .bx-form-control {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	display: block;
	width: 100%;
	height: 3.4rem;
	padding: 0.6rem 1.2rem;
	font-size: 1.4em;
	line-height: 1.42857143;
	color: #555;
	background-color: #f8fafc;
	border: 1px solid #d5dadc;
	border-right: none;
	border-radius: 2px 0 0 2px;
	outline: none;
	box-shadow: none !important;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}.bx-ios .bx-searchtitle .bx-input-group .bx-form-control {
	/* Fix of input shadow for IOS browsers. */
	background-image: -webkit-linear-gradient(#f8fafc 0%, #f8fafc 100%);
	background-image: linear-gradient(#f8fafc 0%, #f8fafc 100%);
}.bx-searchtitle .bx-input-group-btn {
	position: relative;
	font-size: 0;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}.bx-searchtitle .bx-input-group-btn button {
	position: relative;
	border: none;
	background: #95a1a8;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	padding:0.6rem 1.2rem;
	border-radius: 0 2px 2px 0;
	color: #fff;
	font-size: 1.6em;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}.bx-searchtitle .bx-input-group-btn button:hover {
	background: #1484CE;
}div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:999;
	min-width: 37rem;
	margin-top:-0.3rem;
	background-color: #FFF;
}div.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}p.title-search-preview {
	font-size:1.2em;
}div.title-search-result td.title-search-price span {
	font-size: 2.6em;
}
/*========================*/
.bx_searche .bx_img_element{
	background: #fafafa;
	float: left;
	width: 6.7rem;
	padding: 0.5rem 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
}.bx_searche .bx_item_block{
	min-height: 6.5rem;
	position: relative
}.bx_searche .bx_image{
	width: 4.5rem;
	height: 4.5rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e8e8e8;
}.bx_searche .bx_item_element{
	/*float: left;*/
	padding-left: 1rem;
	margin-left: 7rem;
}.bx_searche .bx_item_element hr{
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}.bx_searche .bx_item_element a{
	margin-top: 1rem;
	display: inline-block;
	color: #71a53b;
	font-size: 1.3em;
	text-decoration: none;
}.bx_searche .bx_item_element a b{color: #000;font-weight: normal;}
.bx_searche .bx_item_element a:hover,
.bx_searche .bx_item_element a:hover b{text-decoration: underline;}
.bx_searche .bx_price{
	font-weight:bold;
	font-size:1.3em;
}.bx_searche .bx_price .old{
	font-weight:normal;
	text-decoration: line-through;
	color: #636363
}.bx_item_block.all_result{min-height:0}
.bx_item_block.others_result{
	min-height: 0;
	padding: 0 0 1.2em;
	line-height: 1.2rem;
}.bx_item_block.all_result .all_result_title{
	display: block;
	color: #a7a7a7;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}.bx_item_block.all_result .all_result_title a{color: #a7a7a7}
.bx_item_block.all_result .all_result_title a:hover{color: #71a53b}
.bx_item_block.all_result a{
	margin-top: 0;
}.search-form-wrp{
	width:100%;
	max-width:51.3rem;
	float:right;
	margin: 5.2rem 0 0 0;
}.search-form{
	position: relative;
}.search-form input[type=submit]{
	background: #71a53b;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	width: 10rem;
    height: 4.3rem;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	font-size:1.8em;
	outline:none;
}.search-form input[type=submit]:hover{
	background: #4b9a2a;
}.search-form-sub-text{
	color: #b7b7b7;
	font-size:1.8em;
}.search-form{
    position: relative;
}.search-form input[type=text]{
    border: 2px solid #50A62C;
    height: 4.3rem;
    padding: 0 11.5rem 0 4.7rem;
    width: 100%;
	outline:none;
	font-size:1.8em;
}.search-form .fa.fa-search{
	position: absolute;
	top: 0;
	bottom: 0;
    left: 1.5rem;
    font-size: 1.8em;
    line-height: 1.8rem;
    color: #b6b6b6;
    margin: auto;
    display: block;
    height: 1.8rem;
}
		