body, section.main{
	background:#fff !important;
}
.bx-newsdetail {margin-bottom:4rem;}
.bx-newsdetail-block {
	margin-top: 1rem;
	margin-bottom: 4rem;
}
@media (min-width: 992px) {
	.bx-newsdetail .bx-newsdetail-container:nth-child(3n+1) {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.bx-newsdetail .bx-newsdetail-container:nth-child(2n+1) {
		clear: both;
	}
}
/* POST FORMATS */
.bx-newsdetail-img,
.bx-newsdetail-audio,
.bx-newsdetail-youtube,
.bx-newsdetail-slider {
	position: relative;
	text-align: center;
	margin-bottom: .6rem;
}
.bx-newsdetail-img img{
	width:100% !important;
}
.bx-newsdetail-slider img,
.bx-newsdetail-img img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.bx-newsdetail-video {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: 1;
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
	background: url("images/bx-video.png") no-repeat center;
}
.bx-newsdetail-video:hover {
	opacity: 1;
}
/* POST FORMATS /// SLIDER */
.bx-newsdetail-slider {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.bx-newsdetail-slider-container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.bx-newsdetail-slider-slide {
	float: left;
	z-index: 100;
}
.bx-newsdetail-slider-arrow-container-left,
.bx-newsdetail-slider-arrow-container-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	cursor: pointer;
}
.bx-newsdetail-slider-arrow-container-left {
	left: 0;
}
.bx-newsdetail-slider-arrow-container-right {
	right: 0;
}
.bx-newsdetail-slider-arrow {
	position: absolute;
	line-height: 34px;
	vertical-align: middle;
	color: #fff;
	cursor: pointer;
	font-size: 48px;
	height: 48px;
	width: 20px;
	top: 50%;
	margin-top: -24px;
	z-index: 110;
	opacity: .5;
	text-shadow:0 0 2px rgba(0,0,0,.5);
}
.bx-newsdetail-slider-arrow-container-left:hover .bx-newsdetail-slider-arrow,
.bx-newsdetail-slider-arrow-container-right:hover .bx-newsdetail-slider-arrow {
	color: #FFF;
	display: block;
	opacity: 1;
}
.bx-newsdetail-slider-arrow-container-left .bx-newsdetail-slider-arrow {
	left: 20px;
}
.bx-newsdetail-slider-arrow-container-right .bx-newsdetail-slider-arrow {
	right: 20px;
}
.bx-newsdetail-slider-control {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 110;
	text-align: center;
	word-spacing: -4px;
}
.bx-newsdetail-slider-control li {
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	width: 10px;
	height: 10px;
	word-spacing: -4px;
	margin: 0 3px;
	opacity: .5;
}
.bx-newsdetail-slider-control li:hover,
.bx-newsdetail-slider-control li.current {
	background: #FFF;
	opacity: 1;
}
.bx-newsdetail-slider-arrow,
.bx-newsdetail-slider-control li {
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
/* /// */
.bx-newsdetail-title,
.bx-newsdetail-title a {
	color: #71a53b;
	margin: 0;
	font-weight: 600;
	padding: 2px 0 15px;
	font-size: 1.8em;
	border-bottom: none;
}
.bx-newsdetail-title a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
.bx-lg .bx-newsdetail-title {
	font-size: 24pt;
}
.bx-md .bx-newsdetail-title {
	font-size: 20pt;
}
.bx-xs .bx-newsdetail-title {
	font-size: 18pt;
}
.bx-newsdetail-separator,
.bx-newsdetail-view,
.bx-newsdetail-date,
.bx-newsdetail-comments,
.bx-newsdetail-author,
.bx-newsdetail-other {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
	white-space: nowrap;
}
.bx-newsdetail-rating,
.bx-newsdetail-separator,
.bx-newsdetail-date{
	display: inline-block;
	color:#000;
	font-size:1.8em;
}
.bx-newsdetail-separator {
	margin: 0 10px;
}
.bx-newsdetail-view i.fa,
.bx-newsdetail-date i.fa,
.bx-newsdetail-comments i.fa,
.bx-newsdetail-author i.fa,
.bx-newsdetail-tags i.fa,
.bx-newsdetail-other i.fa {
	width: 13px;
	color: #b4b4b4;
}
.bx-newsdetail-tags {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
}
.bx-newsdetail-content {
	font-size: 1.8em;
	line-height: 1.42857143;
	color:#777b83;
	margin-bottom: 5px;
}
.bx-newsdetail-content p {
	text-indent: 3rem;
}
.bx-newsdetail .gallery a img{
	width:100%;
}
.bx-newsdetail .gallery .item{
	margin-bottom:.6rem;
}
.bx-newsdetail .gallery .item:nth-child(1n) {
	padding-left: 0;
	padding-right: .3rem;
}
.bx-newsdetail .gallery .item:nth-child(2n) {
	padding-left: .3rem;
	padding-right: 0;
}
.wrap_ya{
	margin-top:5rem;
}
@media (max-width: 767px){
	.bx-newsdetail .data{
		margin-top: 2rem;
	}
}
