/* catalog.section */
.bx_item_list_you_looked_horizontal{
	height:46.5rem;
    margin-bottom:20px;
    border-bottom:1px solid #e5e5e5;
	background:#fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	z-index:1;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item{
    position:relative;
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:#fff;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
	text-align:center;
	border-right:1px solid #eaeaea;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section{
	padding:0 3rem;
}
.popup-window-buttons .bx_item_list_you_looked_horizontal {
    border: none !important;
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_container{
    z-index: 10;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_container {
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	margin: 0 -1px;
    z-index:190;
    top:0;
    left:0;
    right:0;
    background:#fff;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_articul{
    color:#a5a5a5;
    font-size:13px;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_title a{
	color: #000;
	font-size: 1.8em;
	font-weight: 400;
	text-transform: uppercase;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_title a:hover{
	color: #71a53b;
    text-decoration: inderline;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_price{
    color:#3f3f3f;
    font-weight:bold;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_price span{
    color:#a5a5a5;
    font-size:12px;
    font-weight:normal;
    white-space:nowrap;
    text-decoration:line-through;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls{
    text-align:center;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone{
    width:100%;
    white-space:nowrap;
    text-align:center;
	margin-top: 1rem;
	margin-bottom: 1.9rem;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone span{
    color:#3f3f3f;
    font-size:13px;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone .bx_notavailable{
    text-align:left;
    font-size:12px;
    line-height:30px;
    font-weight:bold;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo{
    width:100%;
    text-align:center;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a{
	background: #ad1b34;
	width: 100%;
	color: #fff;
	font-size: 1.6em;
	padding: 1.4rem 1.6rem;
	border-radius: 0;
	outline:none;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a:hover {
    background: #ec3046;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a.action-addtofavourite{
	background:none;
	color: #7abc58;
	border-radius: 0;
	display: inline-block;
	padding: 1.4rem 1.6rem;
	font-size: 1.6em;
	margin: .25rem;
	box-shadow: none;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_controls a, .bx_item_list_you_looked_horizontal .bx_catalog_item_controls input{}
.bx_item_list_you_looked_horizontal .bx_catalog_item_price .bx_price{font-size:15px;padding-top: 5px;}
.bx_item_list_you_looked_horizontal .bx_catalog_item_images{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 26.3rem;
	position: relative;
	webkit-background-size: contain;
	width: 100%;
	z-index: 91;
	overflow: hidden;
}

.bx_catalog_list_home .bx_catalog_item_images{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_images img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display:block;
	margin:auto;
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_controls,
.bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_articul,
.bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_scu{display:none}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_controls,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_articul,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_scu{display:block}
.bx_item_list_you_looked_horizontal .bx_catalog_item 	  .bx_catalog_item_scu{padding-top:10px}
.bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_scu>div{margin:0 auto}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_controls.touch,
.bx-touch    .bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_controls.no_touch{display:none !important;}

/* Stickers */
.bx_item_list_you_looked_horizontal .bx_stick{
    position:absolute;
    width:123px;
    height:35px;
    background:url(images/stick.png) left center no-repeat;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 0 #ba3434;
    line-height:35px;
    white-space:nowrap;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}
.bx_item_list_you_looked_horizontal .bx_stick.short {font-weight: bold;font-size:18px}
.bx_item_list_you_looked_horizontal .bx_stick.average {font-weight: bold;font-size:13px}
.bx_item_list_you_looked_horizontal .bx_stick.long{font-weight:normal;font-size:11px}
.bx_item_list_you_looked_horizontal .bx_stick_disc{
    position:absolute;
    width:72px;
    height:74px;
    background:url(images/stick_disc.png) no-repeat center;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 0 #ba3434;
    font-weight:bold;
    font-size:23px;
    line-height:74px;
}
.bx_item_list_you_looked_horizontal .bx_stick.left,
.bx_item_list_you_looked_horizontal .bx_stick_disc.left{left:-2px;}
.bx_item_list_you_looked_horizontal .bx_stick.right,
.bx_item_list_you_looked_horizontal .bx_stick_disc.right{right:0;}
.bx_item_list_you_looked_horizontal .bx_stick.top,
.bx_item_list_you_looked_horizontal .bx_stick_disc.top{top:15px;}
.bx_item_list_you_looked_horizontal .bx_stick.bottom,
.bx_item_list_you_looked_horizontal .bx_stick_disc.bottom{bottom:5px;}
.bx_item_list_you_looked_horizontal .bx_stick.middle,
.bx_item_list_you_looked_horizontal .bx_stick_disc.middle{top:49%;}

/* buttons */
.bx_item_list_you_looked_horizontal .bx_bt_button,
.bx_item_list_you_looked_horizontal .bx_bt_button_type_2{
    display:inline-block;
    text-align:center;
    text-decoration:none;
    font-size:14px;
    cursor:pointer;
    white-space:nowrap;
}

.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button{
    display:inline-block;
    min-width:20px;
    line-height:20px;
}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2{
    display:inline-block;
    min-width:18px;
    line-height:18px;
}

.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2 		{
	color: #656565;
    border: 1px solid #b7b7b7;
    display: inline-block;
    font: 300 3.2em/2.6rem sans-serif;
    width: 3rem;
    height: 2.6rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000;
    outline: none;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2:hover 	{}
.bx_item_list_you_looked_horizontal .bx_small.bx_bt_button_type_2:active 	{}

.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button,
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2 		{}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2:hover  {}
.bx_item_list_you_looked_horizontal .bx_medium.bx_bt_button_type_2:active {}

.bx_item_list_you_looked_horizontal .bx_col_input{
	font: 600 1.4em/2.6rem sans-serif;
	height: 2.6rem;
	line-height: 3.1rem;
	padding: 0 0.7rem;
	text-align: left;
	vertical-align: middle;
	width: 4.2rem;
	color: #000;
	outline: none;
	border: 1px solid #b7b7b7;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
}

/* scu_detail_size */
.bx_item_list_you_looked_horizontal .bx_item_detail_size{
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_size.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%;
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_item_section_name_gray{
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size_scroller_container{position: relative}

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size{
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch 	 .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size{overflow-x: auto;}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch 	.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size ul{margin-left: 0 !important;}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li{
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 2px;
    left:2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;

    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:active .cnt,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: 2px solid #006cc0;
}
/*----*/

/* scu_detail_scu */
.bx_item_list_you_looked_horizontal .bx_item_detail_scu{
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_item_section_name_gray{
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu_scroller_container{position: relative}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu{
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.bx-touch 	 .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu{overflow-x: auto}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap
}
.bx-touch 	.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul{margin-left: 0 !important}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li{
    position: relative;
    display: block;
    float: left;
    height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 4px;
    left:2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    z-index:10;
}
.bx-touch	.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -moz-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li:active .cnt,
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
    padding: 3px;
    border: 2px solid #006cc0;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_missing>i{
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 4px;
    left: 2px;
    z-index:11;
    background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}

.bx-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border_active.png) 2 stretch;
    -moz-border-image: url(images/x2border_active.png) 2 stretch;
    -o-border-image: url(images/x2border_active.png) 2 stretch;
    border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item{
    position: absolute;
    top:   6%;
    right: 6%;
    bottom:6%;
    left:  6%;
    background-size:contain;
    background-repeat: no-repeat;
}
.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item img{
    width: auto;
    height: 25px;
}

/*----*/

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_left,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_right  	  {opacity:0.8}
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_left:hover,
.bx-no-touch .bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_slide_right:hover{opacity:1.0}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu.full .bx_slide_left,
.bx_item_list_you_looked_horizontal .bx_item_detail_scu.full .bx_slide_right{
    position: absolute;
    top: 0;
    bottom:4px;
    width :5%;
    max-width:11px;
    cursor: pointer;
}

.bx_item_list_you_looked_horizontal {
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px
}
.bx_item_list_you_looked_horizontal .bx_item_list_title {
	font-weight: bold;
	color: #636363;
	vertical-align: middle;
	text-align: left;
	line-height: 3.8rem;
	font-size: 2.4em;
	text-transform: uppercase;
	padding: 2rem 1.5rem;
}
.bx_item_list_you_looked_horizontal .bx_item_list_section .bx_item_list_slide {
    /*height: auto !important;*/
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_container.no-imgs > a {
    background-image: none !important;
}
.bx_item_list_you_looked_horizontal .slick-slider{
	position: static;
}
.bx_item_list_you_looked_horizontal .slick-track{
	margin-left: 0;
	margin-right: 0;
	height: auto !important;
}
.bx_item_list_you_looked_horizontal .slick-arrow {
    font-size: 0;
    color: #646464;
    border: none;
    background: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
	z-index: 1;
}
.bx_item_list_you_looked_horizontal .slick-arrow:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 45px;
    cursor: pointer;
    z-index: 1;
    margin: -1rem;
}
.bx_item_list_you_looked_horizontal .slick-next:before {
    content: "\f105";
}
.bx_item_list_you_looked_horizontal .slick-arrow.slick-prev{
	left: .9rem;
}
.bx_item_list_you_looked_horizontal .slick-arrow.slick-next{
	right: .9rem;
}