.bx-green .btn.btn-default{
	background-color: #ad1b34;
	color: #fff;
	width: 16rem;
	height: 4.4rem;
	line-height: 4.4rem;
	font-size: 1.6em;
	text-align: center;
	display: block;
	margin: 0 auto 0 auto;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;
	border: none;
	padding: 0;
}
.bx-green .btn.btn-default:hover {
	outline: none;
	background-image: linear-gradient(#e8520e,#d84406);
	background-image: -moz-linear-gradient(#e8520e,#d84406);
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8520e),color-stop(100%,#d84406));
	background-image: -webkit-linear-gradient(#e8520e,#d84406);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFE8520E',endColorstr='#FFD84406') \9;
	color: #FFF;
}
.bx-green .btn.btn-default:active {
	outline: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}