a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 0.6rem;
}
.search-item-rate {font-size: 1.1em;}
.not_found{    
	text-align: center;
    margin: 2rem 0;
    font-size: 2.4em;
    padding: 3rem 0;
    text-transform: uppercase;
    font-weight: bold;
}