.list-sections{
	display: inline-block;
	vertical-align: top;
	width: 248px;
}.catalog-b-list{
	position: relative;
}.bx_catalog_tile .bx_catalog_tile_img{
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #ccc;
	border-radius: 2px;
	display: block;
	height: 78px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	webkit-background-size: contain;
	width: 78px;
}.bx_catalog_tile .bx_catalog_tile_title{
	line-height: 14px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 0;
	vertical-align: top;
}.bx_catalog_tile .bx_catalog_tile_title a{
	color: #4c7da6;
	font-size: 14px;
}.bx_catalog_tile .bx_catalog_tile_title a:hover{
	text-decoration: none;
}.bx_catalog_tile .bx_catalog_tile_title span{
	font-size: 12px;
}.bx_catalog_list_home .bx_catalog_item{
	background: #fff;
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	box-sizing: border-box;
	float: left;
	height: 250px !important;
	moz-box-sizing: border-box;
	moz-transition: none;
	ms-transition: none;
	o-transition: none;
	position: relative;
	transition: none;
	webkit-box-sizing: border-box;
	webkit-transition: none;
	width: 238px !important;
}.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
	background: #fff;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}.bx_catalog_list_home .bx_catalog_item_articul{
	color: #a5a5a5;
	font-size: 13px;
}.bx_catalog_list_home .bx_catalog_item_title{
	overflow: hidden;
	text-overflow: ellipsis;
}.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_title{
	white-space: normal;
}.bx_catalog_list_home .bx_catalog_item_title a{
	color: #3f3f3f;
	display: block;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
}.bx_catalog_list_home .bx_catalog_item_title a:hover{
	text-decoration: underline;
}.bx_catalog_list_home .bx_catalog_item_price{
	color: #3f3f3f;
	font-weight: bold;
}.bx_catalog_list_home .bx_catalog_item_price span.price{
	color: #cc0001;
	font-size: 13px;
}.bx_catalog_list_home .bx_catalog_item_price span.old_price{
	color: #a5a5a5;
	font-size: 12px;
	font-weight: normal;
	text-decoration: line-through;
	white-space: nowrap;
}.bx_catalog_list_home .bx_catalog_item_controls{
	border-bottom: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	box-sizing: content-box;
	margin: 0 0px;
	margin: 0 -1px;
	opacity: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blockone{
	text-align: center;
	white-space: nowrap;
	width: 100%;
}.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blockone span{
	color: #3f3f3f;
	font-size: 13px;
}.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blockone,
.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo{
	text-align: center;
	width: 100%;
}.bx_catalog_list_home .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a{
	box-sizing: border-box;
	height: 25px;
	line-height: 25px;
	margin: 1%;
	min-width: 100px;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	width: 60%;
	border:none;
}.bx_catalog_list_home .bx_catalog_item_controls input[type=text]{
	border: none;
}.bx-touch .bx_catalog_list_home .bx_catalog_item_controls,
.bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_controls{
	opacity: 1;
}.bx_catalog_list_home .bx_cnt_desc{
	position: absolute;
	right: -45px;
	text-align: left;
	top: 2px;
	width: 40px;
}.bx_catalog_list_home .bx_catalog_item_controls a{
	margin-bottom: 5px;
}.bx_catalog_list_home .bx_catalog_item_price .bx_price{
	font-size: 13px;
	padding: 0 0 0 18px;
	padding-top: 5px;
}.bx_catalog_list_home .bx_catalog_item_images_double,
.bx_catalog_list_home .bx_catalog_item_images{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 166px;
	margin-bottom: 3px;
	position: relative;
	webkit-background-size: contain;
	width: 100%;
	z-index: 91;
}.bx_catalog_list_home .bx_catalog_item_images img{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	max-height:163px;
}
.bx_catalog_list_home .bx_catalog_item_images_double{
	margin-top: -100%;
	opacity: 0;
	z-index: 90;
}.bx-no-touch .bx_catalog_list_home .bx_catalog_item.double:hover .bx_catalog_item_images_double{
	animation: rotateimglast 0.5s;
	opacity: 1;
	webkit-animation: rotateimglast 0.5s;
}.bx_catalog_list_home .bx_bt_button,
.bx_catalog_list_home .bx_bt_button_type_2{
	display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #a9a9a9;
    text-align: center;
    font: 14px/25px sans-serif;
    line-height: 25px !important;
    background: #fff;
	color: #656565;
}.bx_catalog_list_home .bx_bt_button_type_2:hover{
	background: #fff;
	text-decoration:none;
}.bx_catalog_list_home .bx_bt_button_type_2:active{
	background-image: linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image: -moz-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image: -o-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#fcfcfc));
	background-image: -webkit-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .05);
}.bx_catalog_list_home .bx_bt_button{
	background: #ad1b34;
	color: #fff;
}.bx_catalog_list_home .bx_bt_button:hover{
	background: #d84406;
	text-decoration:none;
}.bx_catalog_list_home .bx_bt_button.favourite{
	background-image: linear-gradient(#7abc58,#7abc58);
	background-image: -moz-linear-gradient(#7abc58,#7abc58);
	background-image: -webkit-linear-gradient(#7abc58,#7abc58);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
}.bx_catalog_list_home .bx_bt_button.favourite:hover{
	background-image: linear-gradient(#6BA723,#6BA723);
	background-image: -moz-linear-gradient(#6BA723,#6BA723);
	background-image: -webkit-linear-gradient(#6BA723,#6BA723);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF6BA723',endColorstr='#FF6BA723');
}.bx_catalog_list_home .bx_small.bx_bt_button{
	display: inline-block;
	line-height: 20px;
	min-width: 20px;
}.bx_catalog_list_home .bx_small.bx_bt_button_type_2{
	display: inline-block;
	line-height: 18px;
	min-width: 18px;
}.bx_catalog_list_home .bx_small.bx_bt_button_type_2{
}.bx_catalog_list_home .bx_small.bx_bt_button_type_2:hover{
}.bx_catalog_list_home .bx_small.bx_bt_button_type_2:active{
}.bx_catalog_list_home .bx_medium.bx_bt_button{
	height: 25px;
	line-height: 25px;
	padding: 0 13px;
}.bx_catalog_list_home .bx_medium.bx_bt_button_type_2{
	height: 23px;
	line-height: 23px;
	padding: 0 13px;
}.bx_catalog_list_home .bx_medium.bx_bt_button_type_2:hover{
}.bx_catalog_list_home .bx_medium.bx_bt_button_type_2:active{
}.bx_catalog_list_home .bx_col_input {
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    padding: 0;
    vertical-align: middle;
    border: 1px solid #a9a9a9 !important;
    border-width: 1px 0 !important;
    text-align: center;
    vertical-align: top;
	font: 14px/25px sans-serif;
}