.item_listcategory{
	padding:0 45px;
}
.item_listcategory li{
	list-style:none;
	margin-bottom:15px;
}
.item_listcategory li a{
	color:#000;
	font-size:18px;
	text-decoration:none;
	border:1px solid #71a53b;
	list-style:none;
	height:60px;
	line-height:60px;
	display:block;
	text-align:center;
}