#detail_item .bx_item_title{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 1.6rem;
	min-height: 24px;
	padding-bottom: 1.4rem;
}#detail_item .bx_item_title h1{
	border-bottom: 0 none transparent;
	font-size: 2.4em;
	margin-bottom: 0;
	padding-bottom: 0;
}#detail_item .product-titles h1{
	color: #71a53b;
	font-size: 1.7em;
	margin: 2rem 0;
}#detail_item h1 span{
	color: #000;
}#detail_item .bx_item_container{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 2.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	padding: 1.5rem;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	table-layout: fixed;
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	width: 100%;
}#detail_item .bx_item_container .bx_lt{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	vertical-align: top;
	webkit-box-sizing: border-box;
}#detail_item .bx_item_container .bx_rt{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	vertical-align: top;
	webkit-box-sizing: border-box;
}#detail_item .bx_item_container .bx_md{
	clear: both;
}#detail_item .bx_item_container .bx_lb{
	float: left;
	margin-right: 2%;
	width: 48%;
}#detail_item .bx_item_container .bx_rb{
	float: right;
	margin-left: 2%;
	width: 48%;
}#detail_item .bx_optionblock{
	float: right;
	margin-left: 1em;
	width: 120px;
}#detail_item .item_name{
	margin: 0;
	padding: 0;
}#detail_item .item_name a{
	color: #000;
	font-size: 2.3em;
	text-decoration: none;
}#detail_item .wrap_price{
	line-height: 2.4rem;
}#detail_item .item_old_price{
	color: #b8b8b8;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 2.4rem;
	padding: 0 10px;
	text-decoration: line-through;
}#detail_item .item_current_price{
	color: #cf1515;
	font-size: 2.1em;
	font-weight: bold;
	line-height: 2.4rem;
}#detail_item .item_economy_price{
	color: #b8b8b8;
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 2.4rem;
}#detail_item .detail_text{
	font-size: 1.6em;
	line-height: 1.9rem;
	margin: 2rem 0;
}#detail_item .item_info_section{
	font-size:1.6em;
	margin: 1.5rem 0;
}#detail_item .item_info_section .props .prop{
	margin: 1.5rem 0;
}#detail_item .item_section_name_gray{
	color: #636363;
}#detail_item .item_info_section dl{
	margin: 2.0rem 0;
	overflow: hidden;
	padding: 0;
}#detail_item .item_info_section dl dt{
	clear: both;
	float: left;
}#detail_item .item_info_section dl dd{
	float: left;
	margin: 0 0.5em;
}#detail_item .item_buttons{
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}#detail_item .item_buttons_counter_block{
	color: #3f3f3f;
	display: inline-block;
	margin-bottom: 1rem;
	margin-right: 1rem;
	text-align: left;
	vertical-align: baseline;
}#detail_item .item_buttons_counter_block a{
	vertical-align: baseline;
}#detail_item .bx_cnt_desc{
	vertical-align: baseline;
}#detail_item .transparent_input{
	border: 1px solid #a9a9a9 !important;
	border-width: 1px 0 !important;
	height: 2.5rem;
	line-height: 2.5rem !important;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 2.5rem;
	outline:none;
}#detail_item .tab-section-container{
	position: relative;
}#detail_item .tab-list{
	border-bottom: 1px solid #d9e1e3;
	padding: 0;
	text-align: left;
	vertical-align: bottom;
}#detail_item .tab-list li{
	background: #f7f7f7;
	border: 1px solid #d9e1e3;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 -10px 5px -10px rgba(0,0,0,.12);
	display: inline-block;
	vertical-align: bottom;
}#detail_item .tab-list li a{
	box-shadow: none;
	color: #999;
	display: block;
	font-size: 1.3em;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1em;
	text-decoration: none;
}#detail_item .tab-list li:hover,
#detail_item .tab-list li.active{
	background: #fff;
}#detail_item .tab-list li.active a{
	background: #fff;
	bottom: -0.2rem;
	color: #3f3f3f;
	height: 3.5rem;
	line-height: 3.5rem;
	position: relative;
}#detail_item .tab-boby-container .container>div.tab-off{
	display: none;
}#detail_item .tab-boby-container .container>div{
}#detail_item .item_comments{
	display: block;
	padding-left: 1rem;
}#detail_item .item_comments li{
	display: block;
	padding-bottom: 1rem;
}#detail_item .item_comments_username{
	color: #5d90bd;
	display: inline-block;
	font-size: 1.4em;
}#detail_item .item_comments_date{
	color: #b8b8b8;
	display: inline-block;
	font-size: 1.4em;
	margin-left: 1em;
}#detail_item .item_comments_container p{
	color: #3f3f3f;
	font-size: 1.4em;
	margin-top: 0.5rem;
}#detail_item .bx_notavailable{
	background: #F3F3F3;
	border: 1px solid #E4E4E4;
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 1rem;
	padding: 0.5rem 1.5rem;
	text-align: left;
	white-space: normal;
}.bx_notavailable_subscribe{
	background: none !important;
	border: none !important;
	padding-left: 0 !important;
}#detail_item .bx_bt_button,
#detail_item .bx_bt_button_type_2{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}#detail_item .bx-catalog-subscribe-button{
	background-image: linear-gradient(#7abc58,#7abc58);
	background-image: -moz-linear-gradient(#7abc58,#7abc58);
	background-image: -webkit-linear-gradient(#7abc58,#7abc58);
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
	font-size: 1.6em;
	font-weight: bold;
	height: 6.5rem;
	line-height: 6.5rem;
	text-align: center;
	text-transform: uppercase;
	width: 16rem;
}#detail_item .bx_shadow.bx_bt_button,
#detail_item .bx_shadow.bx_bt_button_type_2{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}#detail_item .bx_shadow.bx_bt_button:active,
#detail_item .bx_shadow.bx_bt_button_type_2:active{
	box-shadow: none;
}#detail_item .bx_bt_button{
	background: #ad1b34;
	color: #fff;
}#detail_item .bx_bt_button.bx_bue{
	background-image: linear-gradient(#7abc58,#7abc58);
	background-image: -moz-linear-gradient(#7abc58,#7abc58);
	background-image: -webkit-linear-gradient(#7abc58,#7abc58);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
}#detail_item .bx_bt_button.bx_bue:hover{
	background-image: linear-gradient(#6BA723,#6BA723);
	background-image: -moz-linear-gradient(#6BA723,#6BA723);
	background-image: -webkit-linear-gradient(#6BA723,#6BA723);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF6BA723',endColorstr='#FF6BA723');
}#detail_item .bx_bt_button:hover{
	background-image: linear-gradient(#e8520e,#d84406);
	background-image: -moz-linear-gradient(#e8520e,#d84406);
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8520e),color-stop(100%,#d84406));
	background-image: -webkit-linear-gradient(#e8520e,#d84406);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFE8520E',endColorstr='#FFD84406') \9;
}#detail_item .bx_bt_button:focus{
	outline:none;
}#detail_item .bx_bt_button_type_2{
	border: 1px solid #c9c9c9;
	color: #656565;
	height: 2.3rem;
	line-height: 2.1rem;
	text-shadow: 0 1px 0 #fff;
}#detail_item .bx_bt_button_type_2:hover{
	background: #fff;
}#detail_item .bx_bt_button_type_2:active{
	background: #f1f1f1;
	background: linear-gradient(to bottom, #f1f1f1 0%,#fcfcfc 100%);
	background: -moz-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background: url(data:image/svg+xml);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfcfc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.05);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fcfcfc',GradientType=0 );
}#detail_item .bx_small.bx_bt_button,
#detail_item .bx_small.bx_bt_button_type_2{
	background: none;
	border: 1px solid #a9a9a9;
	display: inline-block;
	font: 1.6rem/2.5rem sans-serif;
	height: 2.5rem;
	line-height: 2.5rem;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 2.5rem;
}#detail_item .bx_small.bx_bt_button{
}#detail_item .bx_small.bx_bt_button:hover{
}#detail_item .bx_small.bx_bt_button:active{
}#detail_item .bx_small.bx_bt_button_type_2{
}#detail_item .bx_small.bx_bt_button_type_2:hover{
}#detail_item .bx_small.bx_bt_button_type_2:active{
}#detail_item .bx_medium.bx_bt_button:hover{
}#detail_item .bx_medium.bx_bt_button:active{
}#detail_item .bx_medium.bx_bt_button_type_2{
	font-weight: bold;
}#detail_item .bx_medium.bx_bt_button_type_2:hover{
}#detail_item .bx_medium.bx_bt_button_type_2:active{
}#detail_item .bx_big.bx_bt_button,
#detail_item .bx_big.bx_bt_button{
	height: 6.5rem;
	line-height: 6.5rem;
	width: 16rem;
	margin: 0 1.5em 1.5em 0;
	max-width: 16rem;
	vertical-align: top;
}#detail_item .bx_big.bx_bt_button span{
	font-size: 1.6em;
}#detail_item .bx_big.bx_bt_button:hover{
}#detail_item .bx_big.bx_bt_button:active{
}#detail_item .bx_big.bx_bt_button_type_2{
}#detail_item .bx_big.bx_bt_button_type_2:hover{
}#detail_item .bx_big.bx_bt_button_type_2:active{
}#detail_item .bx_item_slider .bx_slider_conteiner{
	margin-bottom: 1rem;
	max-width: 100%;
	position: relative;
	width: 100%;
}.bx-no-touch #detail_item .bx_item_slider .bx_slider_conteiner.full{
	margin-left: -5%;
	padding: 2rem 5% 0;
	position: relative;
}#detail_item .bx_item_slider .bx_slider_scroller_container{
	position: relative;
}#detail_item .bx_item_slider .bx_slide{
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}.bx-touch #detail_item .bx_item_slider .bx_slide{
	overflow-x: auto;
}#detail_item .bx_item_slider .bx_slide ul{
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
	width: 100%;
}.bx-touch #detail_item .bx_item_slider .bx_slide ul{
	margin-left: 0 !important;
}#detail_item .bx_item_slider .bx_slide ul li{
	width:8rem;
	height:8rem;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	float: left;
	moz-box-sizing: border-box;
	position: relative;
	webkit-box-sizing: border-box;
}#detail_item .bx_item_slider .bx_slide ul li.bx_active .cnt{
	border: 1px solid #cc0001;
}#detail_item .bx_item_slider .bx_slide ul li .cnt{
	background: #fff;
	border: 1px solid #b8b8b8;
	bottom: 0.4rem;
	display: block;
	left: 0rem;
	overflow: hidden;
	position: absolute;
	right: 1rem;
	top: 0;
}.bx-retina #detail_item .bx_item_slider .bx_slide ul li .cnt{
	border: 1px solid #b9b9b9;
}#detail_item .bx_item_slider .bx_slide ul li:hover .cnt{
	border: 1px solid #cc0001;
}#detail_item .bx_item_slider .bx_slide ul li:active .cnt,
#detail_item .bx_item_slider .bx_slide ul li.bx_active .cnt{
	border: 1px solid #b8b8b8;
	padding: 0.3rem;
}.bx-retina #detail_item .bx_item_slider .bx_slide ul li.bx_active .cnt{
	border: none;
	border-image: url(images/x2border_active.png) 2 fill stretch;
	border-style: solid;
	border-width: 1px;
	moz-border-image: url(images/x2border_active.png) 2 stretch;
	o-border-image: url(images/x2border_active.png) 2 stretch;
	webkit-border-image: url(images/x2border_active.png) 2 stretch;
}#detail_item .bx_item_slider .bx_slide ul li .cnt .cnt_item{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	bottom: 6%;
	left: 6%;
	position: absolute;
	right: 6%;
	top: 6%;
}#detail_item .bx_item_slider .bx_slide ul li .cnt .cnt_item img{
	height: 2.5rem;
	width: auto;
}#detail_item .bx_item_slider .bx_slider_conteiner.full .bx_slide_left,
#detail_item .bx_item_slider .bx_slider_conteiner.full .bx_slide_right{
	bottom: 0.4rem;
	cursor: pointer;
	max-width: 1.1rem;
	position: absolute;
	top: 0;
	width: 5%;
}.bx-no-touch #detail_item .bx_item_slider .bx_slide_left{
	background: url(images/arr_left.png) no-repeat left center;
	background-size: 100% auto;
	left: -5%;
}.bx-no-touch #detail_item .bx_item_slider .bx_slide_right{
	background: url(images/arr_right.png) no-repeat right center;
	background-size: 100% auto;
	right: -5%;
}.bx-touch 	 #detail_item .bx_item_slider .bx_slide_left{
	background: url(images/fade_left.png) repeat-y left center;
	background-size: 100% auto;
	left: 0;
}.bx-touch 	 #detail_item .bx_item_slider .bx_slide_right{
	background: url(images/fade_right.png) repeat-y right center;
	background-size: 100% auto;
	right: 0;
}#detail_item .bx_item_slider_lupe_small{
	background: rgba(0, 0, 0, 0.18);
	border: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
	cursor: pointer;
	moz-box-sizing: border-box;
	position: absolute;
	webkit-box-sizing: border-box;
}#detail_item .bx_item_slider_lupe{
	background: #fff url(images/wait.gif) no-repeat scroll center center;
	border: 1px solid #b2b2b2;
	bottom: 0.4rem;
	box-sizing: border-box;
	left: 105%;
	margin: 0;
	moz-box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	top: 0;
	webkit-box-sizing: border-box;
	z-index: 120;
}#detail_item .bx_item_slider_lupe img{
	max-height: 99999px !important;
	max-width: 99999px !important;
}#detail_item .bx_bigimages{
	position:relative;
	height:42rem;
	max-width: 32rem;
	border: 1px solid #b9b9b9;
	overflow:hidden;
}#detail_item .bx_bigimages a{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	max-width:32rem;
}#detail_item .bx_bigimages a img{
	position:absolute;
	top:-50%;
	bottom:-50%;
	left:-50%;
	right:-50%;
	margin:auto;
	max-width:32rem;
}#detail_item .bx_bigimages .bx_stick{
	background: url(images/stick.png) left center no-repeat;
	color: #fff;
	height: 3.5rem;
	line-height: 3.5rem;
	ms-text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 #ba3434;
	white-space: nowrap;
	width: 12.3rem;
}#detail_item .bx_bigimages .bx_stick.short{
	font-size: 1.8em;
	font-weight: bold;
}#detail_item .bx_bigimages .bx_stick.average{
	font-size: 1.3em;
	font-weight: bold;
}#detail_item .bx_bigimages .bx_stick.long{
	font-size: 1.1em;
	font-weight: normal;
}#detail_item .bx_bigimages .bx_stick_disc{
	background: url(images/stick_disc.png) no-repeat center;
	color: #fff;
	font-size: 2.3em;
	font-weight: bold;
	height: 7.4rem;
	line-height: 7.4rem;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px 0 #ba3434;
	width: 7.2rem;
}#detail_item .bx_bigimages .bx_stick.left,
#detail_item .bx_bigimages .bx_stick_disc.left{
	left: -0.2rem;
}#detail_item .bx_bigimages .bx_stick.right,
#detail_item .bx_bigimages .bx_stick_disc.right{
	right: 0;
}#detail_item .bx_bigimages .bx_stick.top,
#detail_item .bx_bigimages .bx_stick_disc.top{
	top: 1.5rem;
}#detail_item .bx_bigimages .bx_stick.bottom,
#detail_item .bx_bigimages .bx_stick_disc.bottom{
	bottom: 0.5rem;
}#detail_item .bx_bigimages .bx_stick.middle,
#detail_item .bx_bigimages .bx_stick_disc.middle{
	top: 49%;
}#detail_item #detail_item_size ul li:active .cnt,
#detail_item #detail_item_size ul li.bx_active .cnt{
	border: 2px solid #006cc0;
}.bx-retina #detail_item #detail_item_size ul li.bx_active .cnt{
	border: none;
	border-image: url(images/x2border_active.png) 2 fill stretch;
	border-style: solid;
	border-width: 1px;
	moz-border-image: url(images/x2border_active.png) 2 stretch;
	o-border-image: url(images/x2border_active.png) 2 stretch;
	webkit-border-image: url(images/x2border_active.png) 2 stretch;
}.bx-no-touch #detail_item #detail_item_size .bx_slide_left,
.bx-no-touch #detail_item #detail_item_size .bx_slide_right{
	opacity: 0.8;
}.bx-no-touch #detail_item #detail_item_size .bx_slide_left:hover,
.bx-no-touch #detail_item #detail_item_size .bx_slide_right:hover{
	opacity: 1.0;
}#detail_item #detail_item_size.full .bx_slide_left,
#detail_item #detail_item_size.full .bx_slide_right{
	bottom: 0.4rem;
	cursor: pointer;
	max-width: 1.1rem;
	position: absolute;
	top: 0;
	width: 5%;
}.bx-no-touch #detail_item #detail_item_size .bx_slide_left{
	background: url(images/arr_left.png) no-repeat left center;
	background-size: 100% auto;
	left: -5%;
}.bx-no-touch #detail_item #detail_item_size .bx_slide_right{
	background: url(images/arr_right.png) no-repeat right center;
	background-size: 100% auto;
	right: -5%;
}.bx-touch 	 #detail_item #detail_item_size .bx_slide_left{
	background: url(images/fade_left.png) repeat-y left center;
	background-size: 100% auto;
	left: 0;
}.bx-touch 	 #detail_item #detail_item_size .bx_slide_right{
	background: url(images/fade_right.png) repeat-y right center;
	background-size: 100% auto;
	right: 0;
}#detail_item #detail_item_scu .bx_scu_scroller_container{
	position: relative;
}#detail_item #detail_item_scu .bx_scu ul li .cnt{
	background: #fff;
	border: 1px solid #c0cfda;
	bottom: 0.4rem;
	cursor: pointer;
	display: block;
	left: 0.2rem;
	overflow: hidden;
	position: absolute;
	right: 0.2rem;
	top: 0;
	z-index: 10;
}#detail_item #detail_item_scu .bx_scu ul li:hover .cnt{
	border: 1px solid #006cc0;
}#detail_item #detail_item_scu .bx_scu ul li:active .cnt,
#detail_item #detail_item_scu .bx_scu ul li.bx_active .cnt{
	border: 2px solid #006cc0;
	padding: 0.3rem;
}#detail_item .bx_item_description p{
	font-size: 1.3em;
}#detail_item .bx_item_description .bx_item_section_name_gray{
	color: #9e9e9e;
	font-size: 1.3em;
}#detail_item .bx_item_description .bx_specifications_table{
	border-collapse: collapse;
	margin-top: 1rem;
	width: 100%;
}#detail_item .bx_item_description .bx_specifications_table tr:nth-child(odd){
	background: #f2f2f2;
}#detail_item .bx_item_description .bx_specifications_table tr:nth-child(even){
}#detail_item .bx_item_description .bx_specifications_table tr td{
	font-size: 1.2em;
	padding: 0.3rem 1rem;
}#detail_item .bx_item_description .bx_specifications_table tr td:first-child{
	font-weight: bold;
}#detail_item .price_element{
	border-bottom: 1px solid #c9c9c9;
	line-height: 2.4rem;
	margin-bottom: 0.5rem;
	position: relative;
}#detail_item .price_element .item_current_price{
	color: #cf1515;
	font-size: 2.1em;
	font-weight: bold;
	line-height: 2.4rem;
}#detail_item .price_element .item_current_price ins{
	text-decoration: none;
}.mod{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	padding: 2rem 1.5rem 2rem 1.5rem;
	margin-bottom: 2.5rem;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
}#product_album{
	padding:1.5rem 0;
}
@media (max-width: 767px){
	#detail_item .bx_item_container{
		margin:0;
		box-shadow:none;
		padding: 1.5rem 1.5rem 0 1.5rem;
	}#detail_item .item_buttons{
		margin-bottom: 0;
	}#detail_item .bx_item_container .bx_lt{
		margin-right: 0;
		margin:0 auto;
		display:block;
	}#detail_item .bx_item_container .bx_rt{
		padding:0;
	}#detail_item .product-titles h2{
		font-size:2.2em;
	}#detail_item .item_buttons_counter_block{
		margin: 0;
	}#detail_item .bx_bigimages{
		margin:0 auto;
		max-width:none;
	}#detail_item .detail_text{
		margin: 1em 0;
		font-size:1.6em;
	}#detail_item .bx_big.bx_bt_button span{
		font-size:1.6em;
	}#detail_item .item_info_section{
		margin: 1em 0;
		font-size:1.6em;
	}#detail_item .item_info_section .props .prop{
		margin: 1rem 0;
	}#detail_item .bx_small.bx_bt_button, #detail_item .bx_small.bx_bt_button_type_2{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}#detail_item .transparent_input{
		width:4rem;
		height:4rem;
		line-height:4rem;
	}.ya-share2__container_size_m{
		text-align:center;
	}.basic-ex-breadcrumbs{
		
	}.mod{
		margin:0;
		box-shadow:none;
		padding: 2rem 1.5rem 3.5rem 1.5rem;
	}
}