/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'PT Sans', sans-serif !important;
	line-height:1.1;
}body.noscroll{
	overflow:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FANCYBOX*/
.fancybox-skin{
	background:#fff !important;
	border-radius:0 !important;
}.fancybox-inner{
	overflow:hidden !important;
}

html,body{
	height: 100%;
	font-size:10px;
}body{
	background: #fff;
	color: #636363;
	padding-top: 3.7rem;
	background: #F6F6F6;
	min-width:32rem;
}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}.bx-404-container{
	font-size:1.8em;
}.bx-404-block img{
	width:34.9rem;
}.ui-widget-content{
	background:none !important;
}header{
	background:#fff;
}.header{
	max-width:120rem;
	margin:0 auto;
}section.main{
	max-width:120rem;
	min-width:32rem;
	margin:0 auto;
}a{
	color: #71a53b;
}a:hover{
	color: #71a53b;
	text-decoration: inderline;
}a:focus{
	outline:none;
	text-decoration:none;
}p.p{
	line-height: 1.5;
	margin: 0;
	text-indent: 40px;
}dt, dd, dl{
	font-weight: normal;
	line-height: normal;
	margin: 0;
}ul{
	margin: 0;
	padding: 0;
}ul li{
	list-style: none;
}label{
	font-weight: normal;
	padding: 0;
}.label{
	font-weight: normal;
	line-height: normal;
	padding: 0;
}.clear{
	clear: both;
}.bn_m{
	display:none;
}.not-output{
	margin:0 important;
	padding:0 !important;
}font.errortext{
	color: red;
	font-weight:normal;
}div.mf-ok-text{
	color: green;
	font-weight: bold;
	padding-bottom: 1rem;
}.btn.btn-primary{
	background: #71A43B;
	border: none;
	border-radius: 0;
	font-size: 1em;
	color: #fff;
	cursor: pointer;
	height: auto;
	outline: none;
	padding: 1rem 2rem;
	text-decoration: none;
	outline:none;
}.btn.btn-primary:hover{
	background: #4b9a2a;
}.btn.btn-primary:focus{
	background: #71A43B;
	outline:none;
	box-shadow:none;
}.btn.btn-link{
	background: #71A43B;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: auto;
	outline: none;
	padding: 1rem 2rem;
	text-decoration: none;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
}#not_autoriz{
	padding: 1.5rem;
}.ui-selectmenu-menu{
	background:#fff;
	font-size:1.6em;
}.ui-selectmenu-button.ui-button{
	color:#454545;
	outline:none;
}.ui-selectmenu-button.ui-button:active{
	color:#454545;
}.top-bar .ui-selectmenu-button.ui-button{
	border: none;
	height: 30px;
	text-align: left;
	white-space: nowrap;
	width: 100px;
}.top-bar .ui-selectmenu-button.ui-button:hover,.top-bar .ui-selectmenu-button.ui-button:focus{
	background: none;
	outline: none;
}.top-bar .currency{
	margin: 0 0.8rem 0 2rem;
	display: inline-block;
	vertical-align: top;
	line-height: 3rem;
}.top-bar .lang a, .top-bar .currency a{
	padding:0;
	float:unset;
	position:relative;
}.top-bar .lang{
	margin: 0 0.8rem 0 2rem;
	display: inline-block;
	vertical-align: top;
	line-height: 3rem;
}.top-bar .lang .dropdown-menu a, .top-bar .currency .dropdown-menu a{
	margin: 0;
	padding: 0.5rem;
}.top-bar .lang a img{
	vertical-align: text-top;
	width:2.2rem;
}#bx-panel.bx-panel-fixed{
	top: 3.6rem !important;
}.container{
	width:100%;
	max-width:120rem;
}.alert{
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding: 1.5rem;
}.thumbnail{
	border: 0;
	height: auto;
	line-height: auto;
	padding: 0;
	width: auto;
}.row{
	margin-left: 0;
	margin-right: 0;
}.no-indent{
	margin: 0 !important;
	padding: 0 !important;
}.out-indent-default{
	margin:0 -1.5rem;
}.btn{
	line-height: 1;
	padding: 1.2rem;
}.carousel{
	overflow:hidden;
}.box_loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	height: 100%;
	z-index: 995;
	width: 300px;
	height: 200px;
	margin: auto;
}.loader,.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}.loader {
	margin: 60px auto;
	font-size: 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(113, 165, 58, 0.2);
	border-right: 1.1em solid rgba(113, 165, 58, 0.2);
	border-bottom: 1.1em solid rgba(113, 165, 58, 0.2);
	border-left: 1.1em solid rgba(113, 165, 58, 1);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}.caret{
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-top: 0.4rem dashed;
	display: inline-block;
	height: 0;
	margin-left: 0.2rem;
	vertical-align: middle;
	width: .8rem;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}.bx_item_detail .item_current_price{
	background: none;
}.basket-link{
	margin: 0 0 0 2.6rem;
}.heart-ico{
	background: url(images/static/like-1.png);
	display: inline-block;
	height: 1.3rem;
	margin: 0 0.6rem 0 0;
	vertical-align: middle;
	width: 1.4rem;
}.logo-b{
	padding: 1rem 0 0 1.6rem;
}.logo-b span{
	display: inline-block;
	margin: 4rem 0 0;
	vertical-align: top;
}.logo-link{
	float:left;
	width:11.1rem;
	max-width:11.1rem;
	min-width:10rem;
}.logo-link img{
	width:11.1rem;
}.contacts-b{
	margin: 6rem 0 0.5rem;
}.contacts-b *{
	float:right;
}.contacts-b .contact-links-link a{
	position:relative;
	font-size:2em;
	color:#000000;
	text-decoration:none;
}.contacts-b .contact-links-link a::before{
    content: '';
    display: block;
    position: absolute;
    left: -25px;
    top: 50%;
    width: 15px;
    height: 30px;
    background: url(images/static/mobile.png) no-repeat top left;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}.achievements{
	padding: 0 1.5rem;
}.achievements h1{
	font-size: 2.4em;
	font-weight: 600;
	padding: 3rem 0;
	text-transform: uppercase;
}#main_slogan{
	font-size:2.4em;
	margin-left:12.1rem;
	display:block;
	text-align:center;
}.basket-b_head{
	margin: 5.2rem 0 0 0;
	float: right;
}#mobile_search_box, #mobile_language_select{
	display:none;
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 100%;
	z-index: 1030;
	border-bottom: 1px solid #c1c4bd;
	overflow:auto;
}#mobile_search_box button.cross, #mobile_language_select button.cross{
    outline: none;
    border: none;
    background: none;
    color: #71a53b;
    font-size: 2.8em;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 1;
}#mobile_search_box li, #mobile_language_select li {
    position: relative;
    height: 5.7rem;
    line-height: 5.7rem;
    border-bottom: 1px solid #c1c4bd;
}#mobile_language_select .mobile_list_language li a{
	display: block;
	color: #000;
	font-size: 1.4em;
	height: 5.7rem;
	line-height: 5.7rem;
	padding: 0 2rem;
	margin-bottom: -1px;
}#mobile_language_select .mobile_list_language li a.active{
	background: #71a53b;
	color:#fff;
}#mobile_language_select .mobile_list_language li a img{
	vertical-align:middle;
	margin-right: 1rem;
}#popupbutton{
	color: #fff;
	display: inline-block;
	float: right;
	margin: 0 2em;
	line-height:4rem;
	vertical-align: top;
	font-size:1.8em;
}#popupbutton:hover{
	color: #000;
	text-decoration: none;
}.popupform{
	padding: 0 1rem;
}.mfeedback{
	padding: 2rem 1.5rem;
}#form-feedback{
	margin: 0;
}.popupform .error{
	color: #c00000;
}.popupform h2{
	color: #353535;
	font: 1.714em/1em sans-serif;
	margin-bottom: 0.8rem;
}.popupform .comment{
	background: #71A43B;
	color: #fff;
	font: 1.6em sans-serif;
	margin: -2rem -1.5rem 2rem;
	padding: 1.4rem 4.5rem 1rem 1.7rem;
}.popupform label{
	display: block;
	padding: 1.6rem 0 0.4rem;
	font-size:1.6em;
}.popupform .input_text{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #777B83;
	display: block;
	font-size: 1.6em;
	height: 5.3rem;
	line-height: 3.3rem;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	width: 100%;
}.popupform .input_text:focus{
	border:1px solid #7abc58;
	box-shadow:0 0 3px #7abc58;
}.popupform .text_area{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #777B83;
	display: block;
	font-size: 1.6em;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	resize: none;
	width:100%;
}.popupform .text_area:focus{
	border:1px solid #7abc58;
	box-shadow:0 0 3px #7abc58;
}.popupform .button{
	background: #71A43B;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1.4em;
	height: 3.4rem;
	outline: none;
	padding: 0.2rem 1.6rem;
	width: 18.5rem;
}.popupform .button:hover{
	background: #8bc151;
}.popupform .warning{
	font-size:1.6em;
}.popupform .siberia_btn{
	font-size: 1.6em;
    padding: 2rem 3.5rem;
	margin:1.5rem 0;
	background:#71a53b;
	cursor:pointer;
}.popupform .error{
	border:1px solid red;
	box-shadow:0 0 3px red;
}#popAddCommentForm{
	display: none;
}#popAddCommentForm .error{
	color: #c00000;
}#popAddCommentForm h2{
	color: #353535;
	margin-bottom: 0.8rem;
}#popAddCommentForm .comment{
	color: #717171;
	margin-bottom: 0.3rem;
}#popAddCommentForm label{
	padding: 1.6rem 0 0.4rem;
}#popAddCommentForm .input_text{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	height: 5.3rem;
	line-height: 3.3rem;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	width: 40rem;
}#popAddCommentForm .text_area{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #777B83;
	display: block;
	margin-bottom: 2rem;
	outline: none;
	padding: 1rem 1.5rem;
	resize: none;
	width: 40rem;
}#popAddCommentForm .button{
	background: #71A43B;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 3.4rem;
	outline: none;
	padding: 0.2rem 1.6rem;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
	width: 18.5rem;
}#popAddCommentForm .button:hover{
	background: #8bc151;
}.popup-window-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #112d18;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.3;
    opacity: 0.3;
}.popup-window-with-titlebar{
	padding: 1rem 0;
}.popup-window-content {
    box-sizing: border-box;
    background-color: inherit;
}.siberia_btn{
	position:relative;
	background-image: linear-gradient(#7abc58,#7abc58);
	background-image: -moz-linear-gradient(#7abc58,#7abc58);
	background-image: -webkit-linear-gradient(#7abc58,#7abc58);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
	padding: 1.5rem 3rem 1.5rem 4.7rem;
	color: #fff;
	font-weight: normal;
	font-size: 1.3em;
	text-transform: uppercase;
	cursor:pointer;
	border:none;
	outline:none;
}.siberia_btn:before{
    content: "\f07a";
    position: absolute;
    left: 1.5rem;
    top: 0;
    bottom: 0;
	margin: auto;
    font: normal normal normal 20px/1 FontAwesome;
    height: 20px;
}.siberia_btn:hover{
	text-decoration:none;
	background:#4b9a2a;
	color: #fff;
}.wrapPopupWindow-addCart{
	padding:50px;
}.popup-window-with-titlebar {
    padding: 1rem;
}.popup-window-titlebar{
	height:auto;
	text-align:center;
	margin: 1.5rem 0;
}.popup-window-titlebar-text, .popup-window .popup-window-titlebar-text-version {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #636363;
	font-size: 3em;
	line-height:1;
	text-overflow: unset;
	white-space: unset;
	text-transform: uppercase;
	text-align: center;
}.popup-window-buttons {
    text-align: center;
    padding: 1.5rem;
	margin-top:1.5rem;
    position: relative;
}.popup-window-with-titlebar .popup-window-content {
    padding: 2em;
    font-size: 1.6em;
}.popup-window-close-icon:after{
	width:25px;
	height:25px;
}.filter-container input[type=submit]{
	background: #71a53b;
	border: none;
	border-radius: 5px;
	color: #fff;
	height: 4.0rem;
	padding: 0 1.5rem;
}#main_menu{
	width: 100%;
}.menu-wrp{
	background: #EDEDED;
	color: #fff;
	height:6rem;
	margin: 1.2rem -1.5rem 0 -1.5rem;
	border-bottom: 1px solid #D2D2D2;
}.dropdown-menu{
	position: absolute;
}.dropdown-submenu > a{
	position: relative;
}.dropdown-submenu.isset_child > a:after{
	border: 5px solid transparent;
	border-left: 5px solid #000;
	border-width: 3px 5px;
	content: '';
	margin: -0.5rem 0 0;
	position: absolute;
	right: 1.2rem;
	top: 50%;
}.dropdown-submenu:hover > a{
	background: #71a53b;
	color: #fff;
	text-decoration: none;
}.dropdown-submenu:hover > a:after{
	border-left-color: #fff;
}.dropdown-submenu:hover .dropdown-menu{
	background: #EDEDED;
	display: block;
	left: 17.5rem;
	top: 0;
}.dropdown-submenu.css-show-hidden-section > a{
	font-weight:bold;
}.main_top_menu{
	display: inline-block;
	margin: 0 0 0 2rem;
	height: 6rem;
	line-height: 6rem;
	overflow:hidden;
	vertical-align: top;
}.secondary-menu{
	display: inline-block;
	margin: 0;
	line-height:6rem;
	vertical-align: top;
}.secondary-menu li{
	display: inline-block;
	list-style: none;
	vertical-align: top;
}.secondary-menu li a{
	display:inline-block;
	color: #000;
	font-size: 1.3em;
	text-transform:uppercase;
	padding:0 1rem;
	line-height: 6rem;
}.secondary-menu li a:hover,
.secondary-menu li a.active{
	color: #82bf42;
	text-decoration: none;
}section.main{
	background: #F6F6F6;
	max-width: 120rem;
	min-height: 100%;
}.catalog-list{
	display: table-cell;
	vertical-align: top;
}.product-item{
	background: #fff;
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	float: left;
	height: 22.3rem;
	width: 25%;
}.product-item a:hover{
	text-decoration: none;
}.product-item a:hover .product-item-title{
	text-decoration: underline;
}.product-item-preview{
	height: 16.3rem;
	position: relative;
}.product-item-preview img{
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}.catalog-preview-text{
	background: #00cbf7 url(images/static/pattern.png) bottom left no-repeat;
	color: #fff;
	height: 10.5rem;
	overflow: hidden;
	padding: 1.5rem 1.4rem 1.5rem;
	text-align: center;
}.catalog-preview-text strong{
	display: block;
}.catalog-preview-text span{
	display: block;
	line-height: 1.2;
}.product-item-title{
	display: block;
	height: 1.4rem;
	line-height: 1;
	margin: 0.7rem 0;
	overflow: hidden;
}.product-item-price{
	color: #cc0001;
	display: block;
	padding: 0 0 0 1.8rem;
}.product-item-price span{
	text-decoration: line-through;
}footer{
	margin: 1.6rem 0 0;
	position: relative;
}footer:before{
	background: url(images/static/pattern-green.png) center top repeat-x;
	content: '';
	height: 16px;
	left: 0;
	position: absolute;
	top: -16px;
	width: 100%;
}.footer{
	max-width:120rem;
	min-width:32rem;
	margin:0 auto;
}.footer-main{
	background: #71a53b;
	color: #fff;
	padding: 0 0 2.6rem;
}.footer-main ul{
	display: inline-block;
	margin: 2.6rem 5.2rem 0 0;
	padding: 0;
	vertical-align: top;
}.footer-main ul li{
	color: #fff;
	line-height: 1.35rem;
	list-style: none;
}.footer-main ul li a{
	color: #fff;
}.footer-line{
	background: #625149;
	color: #fff;
	padding: 0 0 0.3rem;
}.footer-copyright{
	display: block;
	margin: 1.5rem 0 0.5rem 0;
	font-size:1.4em;
}.footer .our_app{
	margin:2.6rem 0 0 0;text-align:left;
}.footer .our_app a img{
	height:4rem;
}.footer .site_created{
	display:block; 
	text-align:right;
}.footer .site_created a{
	display:block;
	margin: 1.5rem 0 0.5rem 0;
	font-size: 1.4em;
	color:#fff;
}#bx-composite-banner{
	margin: 1.5rem 0 0.5rem 0;
}.bottom-line-links{
	margin: 1.5rem 0 0;
	padding: 0;
}.bottom-line-links li{
	display: inline-block;
	list-style: none;
	margin: 0 0 0 1.5rem;
	vertical-align: top;
}.bottom-line-links li a{
	color: #fff;
	vertical-align: top;
	font-size:1.4em;
}.table-f{
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}.cell-f{
	display: table-cell;
	vertical-align: middle;
}.right-bar{
	background: #5e524b;
	color: #fff;
	height: 100%;
	padding: 3.7rem 0 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 3.5rem;
	z-index: 1;
	z-index: 100;
}.right-bar a{
	color: #fff;
}.top-btn{
	width: 65.99px;
	height: 65.99px;
	border-radius: 50%;
	background: rgba(93, 181, 229, 0.2);
	color: #000;
	position: fixed;
	bottom: 50px;
	left: 50px;
	cursor:pointer;
	display:none;
	z-index:110;
}.top-btn-inner{
	width: 56.08px;
	height: 56.08px;
	border-radius: 50%;
	background: #5db5e5;
	color: #000;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	margin:auto;
	cursor:pointer;
	z-index:110;
}.top-btn-inner:after{
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 19.7'%3E%3Cpath fill='%23fff' d='M7 19.7c-.6 0-1-.4-1-1v-16c0-.6.4-1 1-1s1 .4 1 1v16c0 .6-.4 1-1 1z'/%3E%3Cpath fill='%23fff' d='M13 7.5c-.2 0-.5-.1-.7-.3L7 2.3 1.7 7c-.5.4-1.1.4-1.4 0-.4-.4-.3-1 .1-1.4l6-5.3c.4-.3 1-.3 1.3 0l6 5.5c.4.4.4 1 .1 1.4-.3.2-.5.3-.8.3z'/%3E%3C/svg%3E") no-repeat;
	background-size: 100%;
	background-position: 50%;
	width: 1.4rem;
	height: 1.97rem;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}.widget-links-top{
	position: absolute;
	right: 0;
	top: 4.3rem;
	width: 100%;
	z-index: 1;
}.widget-links-middle{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}.widget-links-middle ul{
	margin: 0;
	padding: 0;
}.widget-links-middle ul li{
	position:relative;
	list-style: none;
	margin: 0.5rem 0;
}.widget-links-middle ul li a{
	display: block;
    height: 2.5rem;
    width: 100%;
    line-height: 2.5rem;
}.widget-links-middle ul li img{
	width: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}.widget-links-middle ul li a:hover{
	background: #4b9a2a;
}.qr-right{
	background: url(images/static/right-bg.png);
	display: none;
	height: 362px;
	margin: -17.1rem 0 0;
	padding: 14.5rem 0 0 2.6rem;
	position: absolute;
	right: 3.5rem;
	top: 50%;
	width: 11.5rem;
}.qr-right-ins span{
	color: #fff;
	display: block;
	margin: 1rem 0 0;
	text-align: center;
}.widget-links-bottom{
	bottom: 0;
	cursor: pointer;
	padding: 2rem 0 1rem;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 1;
	font-size:1em;
}.up-arrow{
	background: url(images/static/top-arrow.png) no-repeat 50%;
	background-size: 1.4rem;
	display: inline-block;
	width: 1.4rem;
	height: 0.8rem;
	margin: 0 0 0.3rem;
}.basket-widget-link{
	display: block;
}.ico-card-red{
	background: url(images/static/cart-2.png) no-repeat 50%;
	background-size: 1.6rem;
	display: inline-block;
	height: 1.5rem;
	width: 1.6rem;
}.goods-count{
	background: #EE0000;
	border-radius: 2px;
	font-weight: 700;
	padding: 0.1rem 0.5rem;
	text-align: center;
}.goods-count:hover{
	text-decoration: none;
}#box li, #box li a{
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
}#box{
	display: none;
	left: 5rem;
	position: fixed;
	top: 16rem;
}#box ul li{
	border-bottom: 1px dotted #DADADA;
	height: 3.8rem;
	text-align: center;
	width: 3rem;
}#box ul li.last{
}#box ul li .num{
	color: #2828AC;
	line-height: 3.8rem;
}#box ul li .word{
	background: rgb(203, 28, 57);
	color: white;
	display: none;
}#p_prldr{
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #F6F6F6;
	color: #310a39;
	z-index: 300;
}.contpre small{
	font-size:25px;
}.contpre{
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:#310a39;
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;
}
/*=================STATIC PAGES========================*/
#contacts h1{
	font-size:2.4em;
	padding:0 3rem;
	margin:3.5rem 0;
}#contacts .top_data{
	padding:0 1.5rem;
}#contacts .contact{
	margin: 0 0 10rem 0;
}#contacts .contact .contact_name{
	font-size:2.4em;
	font-weight:bold;
	color:#71a53a;
}#contacts .contact .contact_post{
	font-size:2em;
	color:#71a53a;
}#contacts .contact .body_data{
	font-size:1.8em;
	margin-top: 2rem;
}#contacts .contact .body_data .photo{
	float:left;
	vertical-align:top;
}#contacts .contact .body_data .photo img{
	width: 100%;
	max-width: 26.8rem;
	width:24.3rem;
	height:24.3rem;
}#contacts .contact .body_data .info{
	vertical-align:top;
	padding:3rem 0 0 0;
	margin-left:24.3rem;
}#contacts .contact .body_data .info .data{
	position:relative;
	padding:1rem 1rem 1rem 5.5rem;
	color:#000;
}#contacts .contact .body_data .info .data::before{
	content:" ";
	position:absolute;
	left:1.5rem;
	top:0;
	bottom:0;
	margin:auto;
	background-image:url(images/static/sprite.png);
	background-repeat:no-repeat;
	background-size:cover;
	width: 2.9rem;
	height: 2.8rem;
	vertical-align: middle;
}#contacts .contact .body_data .info .number::before{
	background-position: 0 0;
}#contacts .contact .body_data .info .weixin::before{
	content: "\f1d7";
	font-family: FontAwesome;
	text-align: center;
	background: none;
	color: #71a53b;
	height: auto;
	display: inline-table;
}#contacts .contact .body_data .info .mail::before{
	background-position: 0 -2.5rem;
	height: 2.7rem;	
}#contacts .contact .body_data .info .skype::before{
	background-position: 0 -4.8rem;
}#contacts .contact .body_data .info .www::before{
	background-position: 0 -7.3rem;
	height: 2.5rem;			
}#contacts .contact .body_data .info .address::before{
	background-position: 0 -9.8rem;
}#contacts .map{
	margin:0 0 4.8rem 0;
}
@media (max-width: 767px){
	#contacts .contact{
		text-align:center;
	}#contacts .contact .body_data .photo{
		float:none;
		margin-top: 3.5rem;
	}#contacts .contact .body_data .info{
		margin-left:0;
		text-align:left;
	}#contacts .map{
		margin:0 0 0 0;
	}
}
		
/*===================================================*/
@media (max-width: 767px){
	html, body{
		height:auto;
		font-size:8px;
	}
	body{
		padding-top:6.5rem;
	}header{
		display:none;
	}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-left: 1rem;
		padding-right: 1rem;
	}a:hover{
		text-decoration:none;
	}.bn_m{
		display:block;
	}.primary-menu{
		display:none;
	}.container.output{
		padding:0;
	}.mobile-top-bar{
		display:block;
	}#top-bn-wrp,#wrapper_main_carousel, .wrapper-primary-menu, .right-bar,.top-bar, .menu-wrp,.main-b{
		display:none;
	}.carousel.bn_m{
		display:block;
	}.list-elements{
		width:100%;
		padding: 1.5rem;
	}.list-sections{
		width:100%;
	}.bottom-line-links{
		float:none !important;
		text-align:center;
	}
	.bottom-line-links li{
		display:block;
		margin:2rem 0;
	}.footer-copyright{
		text-align:center;
	}.footer_contact{
		text-align:center;
	}.footer .our_app{
		text-align:center;
	}.footer .our_app .link_app_googleplay{
		display:block;
	}.footer .our_app .link_app_appstore{
		display:block;
		margin-bottom:1rem;
	}#bx-composite-banner{
		text-align:center;
	}.b24-widget-button-popup.b24-widget-button-popup-show{
		display:none;
	}#bx-panel.bx-panel-fixed {
		top: 6.5rem !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body{
		font-size:7px;
	}#main_slogan{
		font-size:2.2em;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	#contacts .contact .body_data .photo{
		text-align:center;
		float:none;
	}#contacts .contact .body_data .info{
		text-align:left;
		margin-left:0;
	}#contacts .top_data{
		text-align:center;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		font-size:9px;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 1200px) {
	body{
		font-size:10px;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 1440px) {
	body{
		font-size:10px;
	}#mobile_left_menu{
		display:none !important;
	}
}
@media (min-width: 1600px) {
	body{
		font-size:11px;
	}
}
@media (min-width: 1800px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2048px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2160px) {
	body{
		font-size:12px;
	}
}
@media (min-width: 2400px) {
	body{
		font-size:13px;
	}
}
@media (min-width: 2880px) {
	body{
		font-size:15px;
	}
}
@media (min-width: 3200px) {
	body{
		font-size:16px;
	}
}
@media (min-width: 4096px) {
	body{
		font-size:22px;
	}
}
@media (min-width: 4320px) {
	body{
		font-size:24px;
	}
}
@media (min-width: 4800px) {
	body{
		font-size:28px;
	}
}
