html,body{
	height: 100%;
}body{
	background: #fff;
	color: #636363;
	font-family: Arial;
	font-size: 18px;
	min-width: 1240px;
	padding-top: 37px;
}a{
	color: #71a53b;
}a:hover{
	color: #71a53b;
	text-decoration: inderline;
}a:focus{
	color: #71a53b;
	outline:none;
}p.p{
	line-height: 1.5;
	margin: 0;
	text-indent: 40px;
}dt, dd, dl{
	font-weight: normal;
	line-height: inherit;
	margin: 0;
}ul{
	margin: 0;
	padding: 0;
}ul li{
	list-style: none;
}label{
	font-weight: normal;
	padding: 0;
}.label{
	font-weight: normal;
	line-height: inherit;
	padding: 0;
}.clear{
	clear: both;
}.clearfix{
	clear: both;
}font.errortext{
	color: red;
	font-size: 12pt;
}.btn.btn-primary{
	background: #71A43B;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	outline: none;
	padding: 10px 20px;
	text-decoration: none;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
}.btn.btn-link{
	background: #71A43B;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	outline: none;
	padding: 10px 20px;
	text-decoration: none;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
}.sib_btn_classic{
	background: #71a53b;
	color: #fff;
	padding: 20px 80px;
	display: inline-block;
}.sib_btn_classic:hover{
	color: #fff;
	text-decoration:none;
	background: #4b9a2a;
}.bx-authform-content-container, .bx-authform-label-container{
	color: #5a6c77;
	font-size: 18px;
	padding-bottom: 2px;
}.fancybox-wrap.fancybox-opened{
	top: 10% !important;
}.bx-authform{
	margin: 25px 0 25px;
	max-width: 500px;
}#not_autoriz{
	padding: 15px;
}.ui-selectmenu-menu{
	font-size: 16px;
}.top-bar .ui-selectmenu-button.ui-button{
	border: none;
	height: 30px;
	text-align: left;
	white-space: nowrap;
	width: 100px;
}.top-bar .ui-selectmenu-button.ui-button:hover,.top-bar .ui-selectmenu-button.ui-button:focus{
	background: none;
	outline: none;
}.top-bar .currency{
	display: inline-block;
	margin: 0 8px 0 20px;
	vertical-align: top;
}.top-bar .currency a{
	font-size: 14px;
	margin: 0;
	padding: 5px;
}.top-bar .lang{
	display: inline-block;
	margin: 0 8px 0 20px;
	vertical-align: top;
}.top-bar .lang a{
	font-size: 14px;
	margin: 0;
	padding: 5px;
}.top-bar .lang a img{
	vertical-align: text-top;
}#bx-panel.bx-panel-fixed{
	top: 36px !important;
}.container{
	padding: 0 20px !important;
	width: 1240px !important;
}body{
	line-height: normal;
}.alert{
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 15px;
}.thumbnail{
	border: 0;
	height: auto;
	line-height: auto;
	padding: 0;
	width: auto;
}.row{
	margin-left: 0;
	margin-right: 0;
}.no-indent{
	margin: 0 !important;
	padding: 0 !important;
}.btn{
	line-height: 1;
	padding: 12px;
}.box_loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	height: 100%;
	z-index: 995;
	width: 300px;
	height: 200px;
	margin: auto;
}.loader,.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}.loader {
	margin: 60px auto;
	font-size: 10px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(113, 165, 58, 0.2);
	border-right: 1.1em solid rgba(113, 165, 58, 0.2);
	border-bottom: 1.1em solid rgba(113, 165, 58, 0.2);
	border-left: 1.1em solid rgba(113, 165, 58, 1);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}.caret{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px dashed;
	display: inline-block;
	height: 0;
	margin-left: 2px;
	margin-top: -4px;
	vertical-align: middle;
	width: 0;
}.fancybox-skin{
	background: #fff !important;
	border-radius: 0 !important;
	padding: 0 !important;
}.bx_item_detail .item_current_price{
	background: none;
}.top-bar{
	background: #F6F6F6;
	border-bottom: 1px solid #CACACA;
	font-size: 14px;
	height: 36px;
	padding: 4px 0;
	z-index: 1000;
}.user-b{
	display: inline-block;
	margin: 6px 20px 2px 20px;
	vertical-align: top;
}.basket-line{
	margin: 6px 20px 2px 20px;
}.user-b span{
	margin: 0 10xp 0 0;
}.user-b a{
	color: #000;
}.lang{
	display: inline-block;
	vertical-align: top;
}.lang a{
	color: #000;
}.lang .dropdown-menu img{
	margin: 0 10px 0 0;
}.btn .caret{
	margin-left: 4px;
}.top-bar-links a{
	color: #000;
}.top-bar-links a .num_products{
	color: #c81e3a;
}.basket-link{
	margin: 0 0 0 26px;
}.heart-ico{
	background: url(images/static/like-1.png);
	display: inline-block;
	height: 13px;
	margin: 0 6px 0 0;
	vertical-align: middle;
	width: 14px;
}.logo-b{
	font-size: 24px;
	padding: 10px 0 0 16px;
}.logo-b span{
	display: inline-block;
	margin: 40px 0 0;
	vertical-align: top;
}.logo-link{
	display: inline-block;
	margin: 0 68px 0 0;
}.search-form-wrp{
	padding: 0 0 0 70px;
}.search-form{
	margin: 23px 0 5px;
	position: relative;
}.search-form input[type=text]{
	background: url(images/static/loupe.png) 13px center no-repeat;
	border: 2px solid #71a53b;
	border-radius: 5px;
	height: 43px;
	outline: none;
	padding: 0 100px 0 50px;
	width: 100%;
}.search-form input[type=submit]{
	background: #71a53b;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #fff;
	height: 43px;
	padding: 0 17px;
	position: absolute;
	right: 0;
	top: 0;
}.search-form input[type=submit]:hover{
	background: #4b9a2a;
}.search-form-sub-text{
	color: #b7b7b7;
}#popupbutton{
	color: #fff;
	display: inline-block;
	float: right;
	margin: 0 20px;
	padding: 11px 0 0 14px;
	vertical-align: top;
}#popupbutton:hover{
	color: #000;
	text-decoration: none;
}#popupform{
	display: none;
}.mfeedback{
	padding: 20px 15px;
}#form-feedback{
	margin: 0;
}#popupform .error{
	color: #c00000;
}#popupform h2{
	color: #353535;
	font: 1.714em/1em sans-serif;
	margin-bottom: 8px;
}#popupform .comment{
	background: #71A43B;
	color: #fff;
	font: 0.928em sans-serif;
	margin: -20px -15px 20px;
	padding: 14px 45px 10px 17px;
}#popupform label{
	display: block;
	padding: 16px 0 4px;
}#popupform .input_text{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	font: 18px/24px;
	font-size: 12pt;
	height: 53px;
	line-height: 33px;
	margin: 0 0 20px 0;
	outline: none;
	padding: 10px 15px;
	width: 400px;
}#popupform .text_area{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	font: 18px/24px;
	font-size: 12pt;
	margin-bottom: 20px;
	outline: none;
	padding: 10px 15px;
	resize: none;
	width: 400px;
}#popupform .button{
	background: #71A43B;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	outline: none;
	padding: 2px 16px;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
	width: 185px;
}#popupform .button:hover{
	background: #8bc151;
}#window{
	width: 400px;
}#window .comment{
	background: #71A43B;
	color: #fff;
	font: 0.928em 'Trebuchet MS';
	margin: -20px -15px 20px;
	padding: 14px 45px 10px 17px;
}#popAddCommentForm{
	display: none;
}#popAddCommentForm .error{
	color: #c00000;
}#popAddCommentForm h2{
	color: #353535;
	margin-bottom: 8px;
}#popAddCommentForm .comment{
	color: #717171;
	margin-bottom: 3px;
}#popAddCommentForm label{
	padding: 16px 0 4px;
}#popAddCommentForm .input_text{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	font-size: 12pt;
	height: 53px;
	line-height: 33px;
	margin-bottom: 20px;
	outline: none;
	padding: 10px 15px;
	width: 400px;
}#popAddCommentForm .text_area{
	background-color: #fff;
	border: 1px solid;
	border-radius: 0;
	color: #555;
	color: #777B83;
	display: block;
	font-size: 12pt;
	margin-bottom: 20px;
	outline: none;
	padding: 10px 15px;
	resize: none;
	width: 400px;
}#popAddCommentForm .button{
	background: #71A43B;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	outline: none;
	padding: 2px 16px;
	transition: background .225s ease-in;
	webkit-transition: background .225s ease-in;
	width: 185px;
}#popAddCommentForm .button:hover{
	background: #8bc151;
}.filter-container input[type=submit]{
	background: #71a53b;
	border: none;
	border-radius: 5px;
	color: #fff;
	height: 40px;
	padding: 0 15px;
}.menu-wrp{
	background: #71a53b;
	color: #fff;
	margin: 12px 0 0;
}.primary-menu{
	display: inline-block;
	position: relative;
	vertical-align: top;
}.primary-menu__trigger{
	background-color: #59832d;
	color: #fff;
	cursor: pointer;
	height: 39px;
	padding: 9px 0 0 23px;
	width: 176px;
}.primary-menu.contracted .primary-menu__trigger{
	background-color: transparent;
}.primary-menu.contracted:hover .primary-menu__trigger,
.primary-menu.contracted:focus .primary-menu__trigger{
	background-color: #59832d;
}.primary-menu__trigger span{
	display: inline-block;
	margin: 2px 0 0 11px;
	vertical-align: top;
}.menu-ico{
	background: url(images/static/menu.png);
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}.primary-menu__cont{
	background: #EDEDED;
	border: 1px solid #D2D2D2;
	height: 488px;
	left: 0;
	padding: 10px 0 23px;
	position: absolute;
	top: 39px;
	width: 176px;
	z-index: 994;
}.primary-menu.contracted .primary-menu__cont{
	display: none;
}.primary-menu__cont ul{
	margin: 0;
	padding: 0;
}.primary-menu__cont ul li{
	list-style: none;
}.primary-menu__cont ul li a{
	color: #000;
	display: block;
	outline: none;
	padding: 9.8px 21px;
}.primary-menu__cont ul li a:hover{
	background: #71a53b;
	color: #fff;
	text-decoration: none;
}.dropdown-menu{
	position: absolute;
}.dropdown-submenu{
	position: relative;
}.dropdown-submenu > a{
	position: relative;
}.dropdown-submenu.isset_child > a:after{
	border: 5px solid transparent;
	border-left: 5px solid #000;
	border-width: 3px 5px;
	content: '';
	margin: -5px 0 0;
	position: absolute;
	right: 12px;
	top: 50%;
}.dropdown-submenu:hover > a{
	background: #71a53b;
	color: #fff;
	text-decoration: none;
}.dropdown-submenu:hover > a:after{
	border-left-color: #fff;
}.dropdown-submenu:hover .dropdown-menu{
	background: #EDEDED;
	display: block;
	left: 175px;
	top: 0;
}.secondary-menu{
	display: inline-block;
	margin: 0;
	padding: 11px 0 0 14px;
	vertical-align: top;
}.secondary-menu li{
	display: inline-block;
	list-style: none;
	margin: 0 24px 0 0;
	vertical-align: top;
}.secondary-menu li a{
	color: #fff;
}.secondary-menu li a:hover,
.secondary-menu li a.active{
	color: #000;
	text-decoration: none;
}section.main{
	background: #F6F6F6;
	min-height: 100%;
}.catalog-nav {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 49px;
	left: -79px;
	text-align: center;
	margin:40px 0;
}
.catalog-nav li {
	list-style: none;
	border-bottom: 1px solid #E3E3E3;
}.catalog-nav li a{
	width:44px;
	height:37px;
	display:block;
	line-height:37px;
}.catalog-nav li a:hover{
	background: #eaeaea;
}.catalog-nav li a.active{
	background: #eaeaea;
}.catalog-nav-ico {
	display: inline-block;
	background: url(images/static/catalog-nav-ico.png);
}
.catalog-nav--ico-1 {
	width: 11px;
	height: 28px;
}
.catalog-nav--ico-1:hover,
.catalog-nav--ico-1.active {
	background-position: 0 -28px;
}
.catalog-nav--ico-2 {
	width: 19px;
	height: 19px;
	background-position: -21px 0;
}
.catalog-nav--ico-2:hover,
.catalog-nav--ico-2.active {
	background-position: -21px -23px;
}
.catalog-nav--ico-3 {
	width: 17px;
	height: 29px;
	background-position: -52px -1px;
}
.catalog-nav--ico-3:hover,
.catalog-nav--ico-3.active {
	background-position: -52px -32px;
}
.catalog-nav--ico-4 {
	width: 11px;
	height: 28px;
	background-position: -84px -3px;
}
.catalog-nav--ico-4:hover,
.catalog-nav--ico-4.active {
	background-position: -84px -33px;
}
.catalog-nav--ico-5 {
	width: 22px;
	height: 21px;
	background-position: -110px -6px;
}
.catalog-nav--ico-5:hover,
.catalog-nav--ico-5.active {
	background-position: -110px -33px;
}
.catalog-nav--ico-6 {
	width: 25px;
	height: 10px;
	background-position: -5px -71px;
}
.catalog-nav--ico-6:hover,
.catalog-nav--ico-6.active {
	background-position: -5px -89px;
}
.catalog-nav--ico-7 {
	width: 10px;
	height: 27px;
	background-position: -51px -67px;
}
.catalog-nav--ico-7:hover,
.catalog-nav--ico-7.active {
	background-position: -51px -100px;
}
.catalog-nav--ico-8 {
	width: 25px;
	height: 12px;
	background-position: -77px -69px;
}
.catalog-nav--ico-8:hover,
.catalog-nav--ico-8.active {
	background-position: -77px -89px;
}
.catalog-nav--ico-9 {
	width: 14px;
	height: 21px;
	background-position: -118px -65px;
}
.catalog-nav--ico-9:hover,
.catalog-nav--ico-9.active {
	background-position: -118px -92px;
}
.catalog-nav--ico-10 {
	width: 16px;
	height: 16px;
	background-position: -11px -113px;
}
.catalog-nav--ico-10:hover,
.catalog-nav--ico-10.active {
	background-position: -11px -134px;
}.catalog-b-header{
	border-bottom: 5px solid transparent;
	font-size: 24px;
	width: 1200px;
}.catalog-b-header strong{
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
}.catalog-b-header a{
	color: #000;
	display: inline-block;
	vertical-align: middle;
}.catalog-b-header a:hover{
	text-decoration: none;
}.catalog-preview{
	display: table-cell;
	vertical-align: top;
	width: 248px;
}.catalog-preview > a{
	display: block;
	max-height: 500px;
}.catalog-list{
	display: table-cell;
	vertical-align: top;
}.product-item{
	background: #fff;
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	float: left;
	height: 223px;
	width: 25%;
}.product-item a:hover{
	text-decoration: none;
}.product-item a:hover .product-item-title{
	text-decoration: underline;
}.product-item-preview{
	height: 163px;
	position: relative;
}.product-item-preview img{
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}.catalog-preview-text{
	background: #00cbf7 url(images/static/pattern.png) bottom left no-repeat;
	color: #fff;
	height: 105px;
	overflow: hidden;
	padding: 15px 14px 15px;
	text-align: center;
}.catalog-preview-text strong{
	display: block;
	font-size: 18px;
}.catalog-preview-text span{
	display: block;
	font-size: 16px;
	line-height: 1.2;
}.product-item-title{
	display: block;
	font-size: 14px;
	height: 14px;
	line-height: 1;
	margin: 7px 0;
	overflow: hidden;
}.product-item-price{
	color: #cc0001;
	display: block;
	padding: 0 0 0 18px;
}.product-item-price span{
	text-decoration: line-through;
}footer{
	margin: 16px 0 0;
	position: relative;
}footer:before{
	background: url(images/static/pattern-green.png) center top repeat-x;
	content: '';
	height: 16px;
	left: 0;
	position: absolute;
	top: -16px;
	width: 100%;
}.footer-main{
	background: #c81e3a;
	color: #fff;
	padding: 0 0 27px;
}.footer-main ul{
	display: inline-block;
	margin: 26px 52px 0 0;
	padding: 0;
	vertical-align: top;
}.footer-main ul li{
	color: #fff;
	font-size: 14px;
	line-height: 1.35;
	list-style: none;
}.footer-main ul li a{
	color: #fff;
}.footer-line{
	background: #ad1b34;
	color: #fff;
	padding: 0 0 3px;
}.footer-copyright{
	display: block;
	font-size: 14px;
	margin: 15px 0 5px 8px;
}.bottom-line-links{
	margin: 15px 0 0;
	padding: 0;
}.bottom-line-links li{
	display: inline-block;
	list-style: none;
	margin: 0 0 0 15px;
	vertical-align: top;
}.bottom-line-links li a{
	color: #fff;
	font-size: 14px;
	vertical-align: top;
}.table-f{
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}.cell-f{
	display: table-cell;
	vertical-align: middle;
}.right-bar{
	background: #5e524b;
	color: #fff;
	height: 100%;
	padding: 37px 0 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 35px;
	z-index: 1;
	z-index: 100;
}.right-bar a{
	color: #fff;
}.widget-links-top{
	position: absolute;
	right: 0;
	top: 43px;
	width: 100%;
	z-index: 1;
}.widget-links-middle{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}.widget-links-middle ul{
	margin: 0;
	padding: 0;
}.widget-links-middle ul li{
	list-style: none;
	margin: 5px 0;
}.widget-links-middle ul li a{
	display: block;
	height: 25px;
	width: 34.44px;
}.widget-links-middle ul li img{
	line-height: 25px;
}.widget-links-middle ul li a:hover{
	background: #4b9a2a;
}.qr-right{
	background: url(images/static/right-bg.png);
	display: none;
	height: 362px;
	margin: -171px 0 0;
	padding: 145px 0 0 26px;
	position: absolute;
	right: 35px;
	top: 50%;
	width: 115px;
}.qr-right-ins span{
	color: #fff;
	display: block;
	margin: 10px 0 0;
	text-align: center;
}.widget-links-bottom{
	bottom: 0;
	cursor: pointer;
	font-size: 11px;
	padding: 20px 0 10px;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 1;
}.up-arrow{
	background: url(images/static/top-arrow.png);
	display: inline-block;
	height: 8px;
	margin: 0 0 3px;
	width: 14px;
}.basket-widget-link{
	display: block;
}.ico-card-red{
	background: url(images/static/cart-2.png);
	display: inline-block;
	height: 15px;
	width: 16px;
}.goods-count{
	background: #EE0000;
	border-radius: 2px;
	font-size: 11px;
	font-weight: 700;
	padding: 1px 5px;
	text-align: center;
}.goods-count:hover{
	text-decoration: none;
}.profile{
	position: relative;
}.profile .pageTitle{
	color: #636363;
	font-size: 16px;
	margin: 17px 0;
	padding-left: 20px;
}.profile .tuningLink{
	color: #71a53b;
	font-size: 14px;
}.profile .tuningLink:hover{
	color: #71a53b;
	text-decoration: underline;
}.profile input[type="text"],input[type="email"],input[type="password"]{
	border: 1px solid #b8b8b8;
	border-radius: 3px;
	height: 28px;
	outline: none;
	padding: 0 10px;
}.profile select{
	border: 1px solid #b8b8b8;
	border-radius: 3px;
	height: 28px;
	outline: none;
	padding: 0 10px;
}.profile label{
	font-weight: normal;
	margin: 0;
}.profile .row_input .error{
	color: #99192f;
	display: block;
	font-size: 16px;
	margin-top: 5px;
}.profile .wrap_input{
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 30px;
	vertical-align: top;
}.profile input::-webkit-input-placeholder{
	color: #636363;
}.profile input::-moz-placeholder{
	color: #636363;
}.profile input:-moz-placeholder{
	color: #636363;
}.profile input:-ms-input-placeholder{
	color: #636363;
}.profile .profile-b-cont{
	color: #636363;
	display: table;
	width:100%;
}.profile .wrap-sidebar-menu{
	max-width: 300px;
	min-width: 300px;
	width: 300px;
}.profile .wrap-sidebar-menu a{
	color: #636363;
}.profile .wrap-sidebar-menu .head{
	color: #6c6c6c;
	display: block;
	font-size: 18px;
	margin-bottom: 19px;
}.profile .wrap-sidebar-menu a:hover{
	color: #71a53b;
	text-decoration: none;
}.profile .wrap-sidebar-menu a.active{
	color: #71a53b;
	text-decoration: none;
}.profile .wrap-sidebar-menu .sidebar-menu{
	list-style: none;
	padding: 0;
}.profile .block-out-background{
	background: #fff;
	box-shadow: 2px 3px 3px #d2d2d2;
	margin-bottom: 15px;
}.profile .block-out-background-view-2{
	background: #fff;
	border: 1px solid #b8b8b8;
	margin-bottom: 15px;
}#profile_menu{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}.profile .wrap-sidebar-menu{
	display: table-cell;
	position: relative;
	vertical-align: top;
}.profile .wrap-sidebar-menu.fixed{
	left: 0;
	position: fixed;
	top: 0;
}.profile .wrap-profile{
	display: table-cell;
	vertical-align: top;
	width: 100%;
}.profile .wrap-center{
	box-sizing: content-box;
	display: table-cell;
	padding-right: 15px;
	width: 470px;
}.profile .right-sidebar{
	display: table-cell;
	width: 400px;
}.profile .profile-form-option{
	padding: 40px 20px 20px 20px;
}.profile .profile-form-option fieldset{
	margin-bottom: 10px;
}.profile .profile-form-option .wrap-btn{
	text-align: right;
}.profile .profile-form-option input[type="submit"]{
	background: #ad1b34;
	border: none;
	color: #ffffff;
	height: 50px;
	outline: none;
	padding: 0 43px;
}.profile .profile-form-search-prod .wrap-btn{
	float: right;
	margin: 0;
}.profile .profile-form-search-prod{
	padding: 0 5px;
}.profile .profile-form-search-prod input[type="text"]{
	width: 160px;
}.profile .profile-form-search-prod input[type="submit"]{
	background: #71a53b;
	border: none;
	color: #ffffff;
	height: 30px;
	outline: none;
	padding: 0 30px;
}.profile .profile-form-search-prod input[type="submit"]:hover{
	background: #4b9a2a;
}.profile .profile-form-search-prod .wrap_input{
	margin-bottom: 0;
}.profile .profile-form-option input[type="submit"]:hover{
	background: #99192f;
}.profile .profile.my-data .wrap-center{
	font-size: 16px;
}.profile.my-data .wrap-center .b-head, .profile.my-data .right-sidebar .b-head{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 25px;
}.profile.my-data .wrap-center .b-cont, .profile.my-data .right-sidebar .b-cont{
	font-size: 16px;
}.profile.my-data .wrap-center .b-foot, .profile.my-data .right-sidebar .b-foot{
	margin-top: 10px;
}.profile .user-data td{
	padding: 0 50px 35px 0;
}.profile table.delivery{
	width: 100%;
}.profile table.delivery th{
	border-collapse: collapse;
	border-right: 1px double #c9c9c9;
}.profile table.delivery td{
	border-bottom: 1px double #c9c9c9;
	border-collapse: collapse;
	border-right: 1px double #c9c9c9;
}.profile table.delivery thead{
	background: #e5f5d4;
}.profile table.delivery thead th{
	font-weight: normal;
	padding: 15px 25px;
}.profile table.delivery tbody td{
	padding: 25px 25px;
}.profile table.delivery tbody td.summ{
	color: #c81e3a;
}.profile .prod{
	border: 1px solid #b8b8b8;
	float: left;
	margin-right: 20px;
	min-height: 82px;
	padding: 8px 0;
	text-align: center;
	width: 86px;
}.profile .prod_name{
	display: inline-block;
}.profile .prod img{
	max-width: 82px;
}.profile .row_button{
	margin: 18px 0;
}.profile .row_button .reviews{
	position: relative;
}.profile .row_button .reviews::before{
	background: url(../img/personal-ico/star.png) 0 0 no-repeat;
	content: " ";
	display: inline-block;
	height: 16px;
	margin: auto;
	margin-right: 7px;
	vertical-align: text-bottom;
	width: 16px;
}.profile .row_button .comments{
	position: relative;
}.profile .row_button .comments::before{
	background: url(../img/personal-ico/cloud.png) 0 0 no-repeat;
	content: " ";
	display: inline-block;
	height: 16px;
	margin: auto;
	margin-right: 7px;
	vertical-align: text-bottom;
	width: 16px;
}.profile .row_button .quests{
	position: relative;
}.profile .row_button .quests::before{
	background: url(../img/personal-ico/quest.png) 0 0 no-repeat;
	content: " ";
	display: inline-block;
	height: 18px;
	margin: auto;
	margin-right: 7px;
	vertical-align: text-bottom;
	width: 18px;
}.profile .row_button a{
	background: #ededed;
	border: 1px solid #b8b8b8;
	color: #636363;
	margin-right: -1px;
	padding: 8px;
}.profile .row_button a:hover{
	background: #fff;
	text-decoration: none;
}.profile .avatar{
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	margin-right: 13px;
	padding: 0;
	vertical-align: top;
	width: 80px;
}.profile .avatar img{
	display: block;
	margin: 0 auto;
}.profile .head_review{
	display: inline-block;
}.profile .head_review .user_login{
	margin-top: 8px;
	text-align: center;
}.profile .review_body{
	display: inline-block;
	padding-top: 30px;
	vertical-align: top;
}.profile .status_order{
	cursor: pointer;
	margin-right: 15px;
}.profile .itemInfo{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 15px;
	padding: 22px 15px;
}.profile .itemPicture{
	display: inline-block;
	width: 320px;
}.profile .itemDescription{
	display: inline-block;
	margin-left: 80px;
	vertical-align: top;
	width: 443px;
}.profile .itemDescription h1{
	color: #71a53b;
	font-size: 17px;
	margin: 0;
}.profile .itemDescription .item_description{
	font-size: 17px;
	margin-top: 15px;
}.profile .blog-comments{
	margin-top: 15px;
}#box li, #box li a{
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
}#box{
	display: none;
	left: 50px;
	position: fixed;
	top: 160px;
}#box ul li{
	border-bottom: 1px dotted #DADADA;
	height: 38px;
	text-align: center;
	width: 30px;
}#box ul li.last{
}#box ul li .num{
	color: #2828AC;
	line-height: 38px;
}#box ul li .word{
	background: rgb(203, 28, 57);
	color: white;
	display: none;
}
