.sale-order-detail{
	margin-top:1rem;
}.sale-order-detail-title-element{
	color:#000;
	font:2.4em sans-serif;
	padding:0 1.5rem;
	margin: 1rem 0;
}.sale-order-detail-general-head{
	padding:1rem;
	color:#fff;
}.sale-order-detail-general-item{
	margin: 1.5rem 0;
	line-height: 1;
	text-transform: uppercase;
	font-size: 2.4em;
	color: #636363;
}.sale-order-detail-about-order-container{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 1.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	padding: 1.5rem;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	table-layout: fixed;
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	width: 100%;
}.sale-order-detail-payment-options{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 1.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	padding: 1.5rem;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	table-layout: fixed;
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	width: 100%;
}.sale-order-detail-payment-options-info-container{
	font-size:1.6em;
}.sale-order-detail-payment-options-order-content{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 1.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	padding: 1.5rem;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	table-layout: fixed;
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	width: 100%;
}.sale-order-detail-total-payment{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 2.5rem;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	padding: 1.5rem;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	table-layout: fixed;
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	width: 100%;
}.sale-order-detail-about-order-title-element{
	font-weight: 600;
	margin-bottom: 3rem;
	font-size: 1.6em;
}.sale-order-detail-payment-options-title-element{
	font-weight: 600;
	margin-bottom: 3rem;
	font-size: 1.6em;
}.sale-order-detail-payment-options-order-content-title-element{
	font-weight: 600;
	margin-bottom: 3rem;
	font-size: 1.6em;
}.sale-order-detail-about-order-inner-container{
	font-size:1.6em;
}.sale-order-detail-about-order-inner-container-name-read-more,.sale-order-detail-about-order-inner-container-name-read-less{
	cursor:pointer;
}.sale-order-detail-about-order-inner-container-repeat-button{
	background: #7abc58;
	color:#fff;
	font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    width: 12rem;
	display:inline-block;
	text-align:center;
	margin:1rem 0;
}.sale-order-detail-about-order-inner-container-repeat-button:focus{
	color:#fff;
	text-decoration:none;
}.sale-order-detail-about-order-inner-container-repeat-button:hover{
	background:#50A62C; 
	color:#fff;
	text-decoration:none;
}.sale-order-detail-about-order-inner-container-repeat-cancel{
	background: #ad1b34;
	color: #fff;
	font-size: 1.6rem;
    height: 4rem;
    line-height: 4rem;
    width: 12rem;
	display:inline-block;
	text-align:center;
	margin:1rem 0;
}.sale-order-detail-about-order-inner-container-repeat-cancel:focus{
	color:#fff;
	text-decoration:none;
}.sale-order-detail-about-order-inner-container-repeat-cancel:hover{
	background: #e8520e;
	color:#fff;
	text-decoration:none;
}.sale-order-detail-order-item-imgcontainer{
	width:11rem;
	height:9.2rem;
	background-repeat:no-repeat;
	background-position:50% 50%;
}.sale-order-detail-order-item-img-block{
	float:left;
	border:1px solid #E4E4E4;
}.sale-order-detail-order-item-content,.sale-order-detail-order-item-properties{
	margin-left:12rem;
}.sale-order-detail-order-item-tr{
	margin-bottom:1rem;
}.sale-order-detail-order-section{
	font-size:1.6em;
}
@media (max-width: 767px){
	.sale-order-detail-about-order-container,.sale-order-detail-payment-options,.sale-order-detail-payment-options-order-content{
		box-shadow:none;
		margin:0;
		width:100%;
	}
}