#mobile_left_menu{
	background: #71a53b;
	position: fixed;
	width: 32rem;
	top: 6.5rem;
	left: -32rem;
	z-index: 1030;
	border-top: 1px solid #000;
	display: none;
}
#mobile_left_menu li{
	position:relative;
	height:5.7rem;
	line-height:5.7rem;
}
#mobile_left_menu a{
	display:block;
	color:#fff;
	font-size:1.8em;
	text-transform: uppercase;
	height:5.7rem;
	line-height:5.7rem;
	padding:0 2rem;
	margin-bottom: -1px;
	-webkit-transition: background .225s ease-in;
    transition: background .225s ease-in;
}#mobile_left_menu a:hover{
	background: #59832D;
}#mobile_left_menu a.active{
	background: #59832D;
}#mobile_left_menu button.cross{
	outline:none;
	border:none;
	background:none;
	color:#71a53b;
	font-size:2.8em;
	padding:1.5rem;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	line-height:1;
}