.item_listcategory{
	padding:0 45px;
	margin:20px 0;
}
.item_listcategory li{
	list-style:none;
	margin-bottom:15px;
	line-height: 1.5;
}
.item_listcategory li a{
	color:#000;
	font-size:18px;
	text-decoration:none;
	border:1px solid #71a53b;
	list-style:none;
	padding:10px 15px;
	display:block;
	text-align:center;
}