#wrap_personal{
	position:relative;
	margin-top:1.5rem;
}
.simple_personal_text{
	font-size:1.6em;
}
.sale-personal-section-index-block{
	opacity: .8;
	padding: 0;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
	color: #fff;
	background-size: cover;
	border-radius: 3px;
	height: 87%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.sale-personal-section-index-block.bx-theme-green{
	background: url(images/wt_green.png) center top;
}
.sale-personal-section-index-block.bx-theme-blue{
	background: url(images/wt_blue.png) center top;
}
.sale-personal-section-index-block.bx-theme-red{
	background: url(images/wt_red.png) center top;
}
.sale-personal-section-index-block.bx-theme-yellow{
	background: url(images/wt_yellow.png) center top;
}
.sale-personal-section-index-block.bx-theme-black{
	background: url(images/wt_black.png) center top;
}
.sale-personal-section-index-block:hover{
	opacity: 1;
}
.sale-personal-section-index-block-link,
.sale-personal-section-index-block-link:hover,
.sale-personal-section-index-block-link:active,
.sale-personal-section-index-block-link:focus,
.sale-personal-section-index-block-link:visited{
	text-decoration: none;
	display: block;
	padding:25px 15px;
	color: #fff;
}
.sale-personal-section-index-block-link{color: #fff;}
.sale-personal-section-index-block-ico {font-size: 64px;}
.sale-personal-section-index-block-name{font-size: 16px;}
.sale-personal-section-account-sub-header{
	margin-top:40px;
}

.sale-personal-section-row-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
}
.profile{
	position: relative;
	padding-left:30rem;
}.profile .pageTitle{
	color: #636363;
	margin: 1.5rem 0;
	padding-left: 2rem;
	font-size: 2.4em;
	text-transform: uppercase;
}.profile .tuningLink{
	color: #71a53b;
}.profile .tuningLink:hover{
	color: #71a53b;
	text-decoration: underline;
}.profile input[type="text"],input[type="email"],input[type="password"],select{
	border: 1px solid #b8b8b8;
	border-radius: 3px;
	height: 2.8rem;
	outline: none;
	padding: 0 1rem;
	font-size:1.6em;
}.profile label{
	font-weight: normal;
	margin: 0;
}.profile .row_input .error{
	color: #99192f;
	display: block;
	margin-top: 0.5rem;
}.profile .wrap_input{
	display: inline-block;
	margin-bottom: 2rem;
	margin-right: 3rem;
	vertical-align: top;
}.profile input::-webkit-input-placeholder{
	color: #636363;
}.profile input::-moz-placeholder{
	color: #636363;
}.profile input:-moz-placeholder{
	color: #636363;
}.profile input:-ms-input-placeholder{
	color: #636363;
}.profile .profile-b-cont{
	color: #636363;
}.profile .block-out-background{
	background: #fff;
	moz-box-shadow: 2px 3px 9px #d2d2d2;
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	webkit-box-shadow: 2px 3px 9px #d2d2d2;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 1.5rem;
	padding:1.5rem;
}.profile .block-out-background-view-2{
	background: #fff;
	border: 1px solid #b8b8b8;
	margin-bottom: 1.5rem;
}.profile .wrap-profile{
	padding-left: 1.5rem;
	vertical-align: top;
	width: 100%;
}.profile .wrap-center{
	box-sizing: border-box;
	padding-right: 1.5rem;
	vertical-align: top;
	width: 54.03%;
    float: left;
}.profile .right-sidebar{
	width: 45.97%;
	float: right;
}.profile .profile-form-option fieldset{
	margin-bottom: 1rem;
}.profile .profile-form-option .wrap-btn{
	text-align: right;
}.profile .profile-form-option input[type="submit"]{
	background: #ad1b34;
	border: none;
	color: #ffffff;
	height: 5rem;
	outline: none;
	padding: 0 4.3rem;
	font-size:1.6em;
}.profile .profile-form-search-prod .wrap-btn{
	float: right;
	margin: 0;
}.profile .profile-form-search-prod{
	padding: 0 0.5rem;
}.profile .profile-form-search-prod input[type="text"]{
	width: 16rem;
}.profile .profile-form-search-prod input[type="submit"]{
	background: #71a53b;
	border: none;
	color: #ffffff;
	height: 3rem;
	outline: none;
	padding: 0 3rem;
}.profile .profile-form-search-prod input[type="submit"]:hover{
	background: #4b9a2a;
}.profile .profile-form-search-prod .wrap_input{
	margin-bottom: 0;
}.profile .profile-form-option input[type="submit"]:hover{
	background: #99192f;
}.profile.my-data .wrap-center .b-head, .profile.my-data .right-sidebar .b-head{
	font-weight: 600;
	margin-bottom: 3rem;
	font-size:1.6em;
}.profile.my-data .wrap-center .b-cont, .profile.my-data .right-sidebar .b-cont{
	font-size:1.6em;
}.profile.my-data .wrap-center .b-foot, .profile.my-data .right-sidebar .b-foot{
	margin-top: 2rem;
	font-size:1.4em;
}.profile .user-data td{
	padding: 0 5rem 3.5rem 0;
}.profile table.delivery{
	width: 100%;
}.profile table.delivery th{
	border-collapse: collapse;
	border-right: 1px double #c9c9c9;
}.profile table.delivery td{
	border-bottom: 1px double #c9c9c9;
	border-collapse: collapse;
	border-right: 1px double #c9c9c9;
}.profile table.delivery thead{
	background: #e5f5d4;
}.profile table.delivery thead th{
	font-weight: normal;
	padding: 1.5rem 2.5rem;
}.profile table.delivery tbody td{
	padding: 2.5rem 2.5rem;
}.profile table.delivery tbody td.summ{
	color: #c81e3a;
}.profile .prod{
	border: 1px solid #b8b8b8;
	float: left;
	margin-right: 2rem;
	min-height: 8.2rem;
	padding: 0.8rem 0;
	text-align: center;
	width: 8.6rem;
}.profile .prod_name{
	display: inline-block;
}.profile .prod img{
	max-width: 8.2rem;
}.profile .row_button{
	margin: 1.8rem 0;
}.profile .row_button .reviews{
	position: relative;
}.profile .row_button .reviews::before{
	background: url(../img/personal-ico/star.png) 0 0 no-repeat;
	content: " ";
	display: inline-block;
	height: 1.6rem;
	margin: auto;
	margin-right: 0.7rem;
	vertical-align: text-bottom;
	width: 1.6rem;
}.profile .row_button .comments{
	position: relative;
}.profile .row_button .comments::before{
	background: url(../img/personal-ico/cloud.png) 0 0 no-repeat;
	content: " ";
	display: inline-block;
	height: 1.6rem;
	margin: auto;
	margin-right: 0.7rem;
	vertical-align: text-bottom;
	width: 1.6rem;
}.profile .row_button .quests{
	position: relative;
}.profile .row_button .quests::before{
	background: url(../img/personal-ico/quest.png) 0 0 no-repeat;
	content: " ";
	display: inline-block;
	height: 1.8rem;
	margin: auto;
	margin-right: 0.7rem;
	vertical-align: text-bottom;
	width: 1.8rem;
}.profile .row_button a{
	background: #ededed;
	border: 1px solid #b8b8b8;
	color: #636363;
	margin-right: -1px;
	padding: 0.8rem;
}.profile .row_button a:hover{
	background: #fff;
	text-decoration: none;
}.profile .avatar{
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	margin-right: 1.3rem;
	padding: 0;
	vertical-align: top;
	width: 8rem;
}.profile .avatar img{
	display: block;
	margin: 0 auto;
}.profile .head_review{
	display: inline-block;
}.profile .head_review .user_login{
	margin-top: 8px;
	text-align: center;
}.profile .review_body{
	display: inline-block;
	padding-top: 3rem;
	vertical-align: top;
}.profile .status_order{
	cursor: pointer;
	margin-right: 15px;
}.profile .itemInfo{
	background: #fff;
	box-shadow: 2px 3px 9px #d2d2d2;
	margin-bottom: 1.5rem;
	padding: 2.2rem 1.5rem;
}.profile .itemPicture{
	display: inline-block;
	width: 32rem;
}.profile .itemDescription{
	display: inline-block;
	margin-left: 8rem;
	vertical-align: top;
	width: 44.3rem;
}.profile .itemDescription h1{
	color: #71a53b;
	margin: 0;
}.profile .itemDescription .item_description{
	margin-top: 1.5rem;
}.profile .blog-comments{
	margin-top: 1.5rem;
}

@media (max-width: 767px){
	#wrap_personal{
		margin:0;
	}#personal_menu{
		margin:0;
		position:static;
		width:100%;
		box-shadow:none;
	}.profile{
		padding:0;
	}.profile .block-out-background{
		margin:0;
		box-shadow:none;
		width:100%;
	}.profile .wrap-profile{
		padding:0;
	}.profile .wrap_input{
		display:block;
		width:100%;
		margin-right:0;
	}.profile .wrap_input input,select{
		width:100%;
	}.profile .wrap-center{
		width:100%;
		padding:0;
	}.profile .right-sidebar{
		width:100%;
		padding:0;
	}
}
@media (max-width: 991px) {
	.profile .wrap-center{
		width:100%;
		padding-right:0;
	}.profile .right-sidebar{
		width:100%;
		padding:0;
	}
}