.main-b{
	min-height: 488px;
	padding: 0 0 0 176px;
}
.carousel{
	min-height: 488px;
}.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
}#carousel-example-generic .carousel-indicators li{
	border: none;
}#carousel-example-generic .carousel-indicators .active{
	height: 14px;
	width: 14px;
}.carousel-main .item{
	background-position: center;
	background-size: cover;
	height: 488px;
}.carousel-control img{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.carousel-indicators li {
    display: inline-block;
    width: 14px !important;
    height: 14px !important;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
	background-color:#fff !important;
	vertical-align:middle;
}
.carousel-indicators li.active{
    background-color:#71a53b !important;
}