<?
CHTTP::SetStatus("404 Not Found");
@define("ERROR_404","Y");

require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");

$APPLICATION->SetTitle("Page not found");?>
<br/>
	<div class="bx-404-container">
		<div class="bx-404-block"><img src="<?=SITE_DIR?>images/404.png" alt=""></div><br/>
		<div class="bx-404-text-block">错误网址或不存在的网页</div>
		<div class=""><a href="<?=SITE_DIR?>">返回首页</a></div>
		
	</div>
<br/>