<?
CHTTP::SetStatus("404 Not Found");
@define("ERROR_404","Y");

require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");

$APPLICATION->SetTitle("Page not found");?>
<br/>
	<div class="bx-404-container">
		<div class="bx-404-block"><img src="<?=SITE_DIR?>images/404.png" alt=""></div><br/>
		<div class="bx-404-text-block">Adress is incorrect or this page of the web site does not exist any more</div>
		<div class="">Return to the <a href="<?=SITE_DIR?>">main page</a></div>
		
	</div>
<br/>