<?
CHTTP::SetStatus("404 Not Found");
@define("ERROR_404","Y");

require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");

$APPLICATION->SetTitle("Page not found");?>
<br/>
	<div class="bx-404-container">
		<div class="bx-404-block"><img src="<?=SITE_DIR?>images/404.png" alt=""></div><br/>
		<div class="bx-404-text-block">페이지 주소가 일치하지 않거나 페이지가 없어집니다.</div>
		<div class=""><a href="<?=SITE_DIR?>">메인 페이지로</a> 돌아가시기</div>
		
	</div>
<br/>