<?
CHTTP::SetStatus("404 Not Found");
@define("ERROR_404","Y");

require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");

$APPLICATION->SetTitle("Страница не найдена");?>
<br/>
	<div class="bx-404-container">
		<div class="bx-404-block"><img src="<?=SITE_DIR?>images/404.png" alt=""></div><br/>
		<div class="bx-404-text-block">Неверный адрес или эта страница больше не существует</div>
		<div class="">Перейти на <a href="<?=SITE_DIR?>">главную страницу</a></div>
		
	</div>
<br/>