.main-b{
	min-height: 48.8rem;
}.carousel{
	overflow:hidden;
}.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
}#carousel-example-generic .carousel-indicators{
	bottom: 1.5rem;
}#carousel-example-generic .carousel-indicators li{
	border: none;
}#carousel-example-generic .carousel-indicators .active{
	height: 1.4rem;
	width: 1.4rem;
}.carousel-main .item{
	background-position: center;
	background-size: cover;
}.carousel-control img{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width:2.4rem;
}.carousel-indicators li {
    display: inline-block;
    width: 1.4rem !important;
    height: 1.4rem !important;
    margin: 0.1rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
	background-color:#fff !important;
	vertical-align:middle;
}.carousel-indicators li.active{
    background-color:#71a53b !important;
	 margin: 0.1rem !important;
}
@media (max-width: 767px){
	.carousel-main{
		width:100%;
		padding-left: 0;
	}
}