.main-b{
	min-height: 48.8rem;
}.carousel{
	margin:0 -1.5rem;
}.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
}#carousel-example-generic .carousel-indicators{
	bottom: 1.5rem;
}#carousel-example-generic .carousel-indicators li{
	border: none;
}#carousel-example-generic .carousel-indicators .active{
	height: 1.4rem;
	width: 1.4rem;
}.carousel-main .item{
	background-position: center;
	background-size: cover;
}.carousel-control img{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width:2.4rem;
}.carousel-indicators li {
    display: inline-block;
    width: 1.4rem !important;
    height: 1.4rem !important;
    margin: 0.1rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
	background-color:#fff !important;
	vertical-align:middle;
}.carousel-indicators li.active{
    background-color:#71a53b !important;
	 margin: 0.1rem !important;
}
@media (max-width: 767px){
	.carousel-main{
		width:100%;
		padding-left: 0;
	}.carousel.bn_m{
		display:block !important;
	}
}
.carousel.bn_m{
	margin:0;
}.b-fl-slider .slick-slide{
	height:380px;
}.b-fl-slider .slick-list, .b-fl-slider .slick-track, .b-fl-slider a{
	padding:0 !important;
}.slick-track::after, .slick-track::before {
	content: "";
	display: table;
}.b-fl-slider .slick-list, .b-fl-slider .slick-track, .b-fl-slider a {
	display: block;
	height: 100%;
}.slick-initialized .slick-slide{
	display:block;
}.b-fl-slider__slide{
	position:relative;
}.b-fl-slider{
	height:380px;
	overflow:hidden;
	position:relative
}
@media only screen and (min-width:768px){
	.b-fl-slider{
		height:47.5rem
	}
}
@media only screen and (min-width:1366px){
	.b-fl-slider{
		padding-right:2rem
	}
}
.b-fl-slider .slick-list,.b-fl-slider .slick-track,.b-fl-slider a{
	display:block;
	height:100%
}.b-fl-slider__slide{
	height:100%;
	overflow:hidden
}.b-fl-slider img{
	position:absolute;
	left:50%;
	-webkit-transform:translate(-50%);
	transform:translate(-50%);
	height:100%;
	width:auto
}.b-fl-slider .slick-arrow{
	position:absolute;
	bottom:2rem;
	z-index:2;
	border:0;
	font-size:0;
	padding:0;
	height:5rem;
	width:5rem;
	background:none;
	cursor:pointer;
	outline:none;
}
@media only screen and (min-width:768px){
	.b-fl-slider .slick-arrow{
		height:auto;
		width:auto;
		bottom:1.8rem
	}
}
.b-fl-slider .slick-arrow:after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
@media only screen and (min-width:768px){
	.b-fl-slider .slick-arrow:after{
		position:static;
		-webkit-transform:none;
		transform:none;
		transition:-webkit-transform .2s ease-out;
		transition:transform .2s ease-out;
		transition:transform .2s ease-out,-webkit-transform .2s ease-out
	}
}
.b-fl-slider .slick-arrow.slick-prev{
	left:0
}
.b-fl-slider .slick-arrow.slick-prev:after{
	background:url("/local/templates/siberia_limited/images/static/slider-left.png") no-repeat;
	background-size:100%;
	background-position:50%;
	width:24px;
	height:45px;
	opacity: .5;
}
@media only screen and (min-width:768px){
	.b-fl-slider .slick-arrow.slick-prev{
		left:auto;
		right:8rem
	}
}
@media only screen and (min-width:768px){
	.b-fl-slider .slick-arrow.slick-prev:hover:after{
		-webkit-transform:translateX(-10%);
		transform:translateX(-10%)
	}
}
.b-fl-slider .slick-arrow.slick-next{
	right:0
}.b-fl-slider .slick-arrow.slick-next:after{
	background:url("/local/templates/siberia_limited/images/static/slider-right.png") no-repeat;
	background-size:100%;
	background-position:50%;
	width:24px;
	height:45px;
	opacity: .5;
}
@media only screen and (min-width:768px){
	.b-fl-slider .slick-arrow.slick-next{
		right:5rem
	}
}
@media only screen and (min-width:768px){
	.b-fl-slider .slick-arrow.slick-next:hover:after{
		-webkit-transform:translateX(10%);
		transform:translateX(10%)
	}
}
.b-fl-slider .slick-dots{
	position:absolute;
	bottom:2rem;
	left:50%;
	-webkit-transform:translate(-50%);
	transform:translate(-50%);
	margin:0;
	padding:0;
	list-style:none;
	white-space:nowrap
}.b-fl-slider .slick-dots li{
	display:inline-block;
	vertical-align:middle;
	margin:0 .8rem
}.b-fl-slider .slick-dots li button{
	background:transparent;
	font-size:0;
	padding:0;
	height:1.2rem;
	width:1.2rem;
	border:2px solid #ededed;
	border-radius:50%;
	transition:easy-in-out .2s
}.b-fl-slider .slick-dots li.slick-active button{
	background:#ededed
}