#main_catalog_list{
	display:none;
}.primary-menu{
	position:relative;
	vertical-align:middle;
	margin-top:-6rem;
	margin-left:-1.5rem;
	margin-right:-1.5rem;
}.primary-menu.contracted{
	position:absolute;
	left:1.5rem;
	right:1.5rem;
	z-index:100;
}.primary-menu__trigger{
	background-color: #71a53b;
	color: #fff;
	cursor: pointer;
	height: 6rem;
	width: 100%;
	padding-left: 3rem;
	line-height: 6rem;
}.primary-menu.contracted .primary-menu__trigger{
}.primary-menu.contracted:hover .primary-menu__trigger,
.primary-menu.contracted:focus .primary-menu__trigger{
	background-color: #4b9a2a;
}.primary-menu__trigger span{
	display: inline-block;
	margin: 0 0 0 1.1em;
	vertical-align: middle;
	font-size:1.6em;
	text-transform: uppercase;
	height: 6rem;
	line-height: 6rem;
}.primary-menu__trigger .fa.fa-list-ul{
	font-size:1.8em;
	vertical-align:middle;
}.primary-menu__cont.parent{
	font-size:1.3em;
}.primary-menu__cont.parent.more{
	display:none;
}.primary-menu__cont{
	background: #EDEDED;
	left: 0;
	z-index: 994;
	min-width:14rem;
}.primary-menu__cont.secondary{
	position: absolute;
	left: 17.6rem;
	bottom: 0;
	top: 0;
	display:none;
	background: #EDEDED;
	border-left: none;
}.primary-menu.contracted .primary-menu__cont{
	display: none;
}.primary-menu__cont ul{
	margin: 0;
	padding: 0;
}.primary-menu__cont.parent ul li{
	border-bottom: 1px solid #D2D2D2;
}.primary-menu__cont.secondary{
	border-left: 1px solid #D2D2D2;
}.primary-menu__cont ul li{
	list-style: none;
}.primary-menu__cont ul li:hover > .primary-menu__cont.secondary{
	display:block !important;
}.primary-menu__cont ul li a{
	color: #000;
	display: block;
	padding: 1rem 2.5rem 1rem 3.9rem;
	outline: none;
	overflow: hidden;
	line-height: 1.8;
	text-transform: uppercase;
}.primary-menu__cont ul li a:hover{
	background: #82bf42;
	color: #fff;
	text-decoration: none;
}.primary-menu__cont ul li a img{
	position: absolute;
	left: 1.1rem;
	top: 0;
	bottom: 0;
	margin: auto;
}