.catalog-b-list .catalog-b-header{
	margin:4rem 0 0 0;
}.catalog-b-list .catalog-b{
	height:50rem;
	margin:4rem 0;
}.catalog-b-list .list-sections{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}.catalog-b-list .catalog-b-header{
	margin-top:4rem;
	height:0.5rem;
}.catalog-b-list{
	position: relative;
}.catalog-b-list .ui-accordion .ui-accordion-header{

}.catalog-b-list .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border:none !important;
}.catalog-b-list .ui-accordion .ui-accordion-header span{
	line-height:1;
}.catalog-b-list .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border:none !important;
	outline:none !important;
}.catalog-b-list .ui-widget-content{
	border:none;
}.catalog-b-list .ui-accordion .ui-accordion-content{
	padding:0;
}.catalog-b-list .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border:none;
	background:none;
}.catalog-b-list .ui-accordion .ui-accordion-header{
	margin:0;
}.catalog-b-list .bx_catalog_tile .bx_catalog_tile_img{
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #ccc;
	border-radius: 2px;
	display: block;
	height: 7.8rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	webkit-background-size: contain;
	width: 7.8rem;
}.catalog-b-list .bx_catalog_tile .bx_catalog_tile_title{
	line-height: 1.4rem;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	padding: 0;
	vertical-align: top;
}.catalog-b-list .bx_catalog_tile .bx_catalog_tile_title a{
	color: #4c7da6;
	font-size: 1.4em;
}.catalog-b-list .bx_catalog_tile .bx_catalog_tile_title a:hover{
	text-decoration: none;
}.catalog-b-list .bx_catalog_tile .bx_catalog_tile_title span{
	font-size: 1.2em;
}.catalog-b-list .bx_catalog_list_home{
	padding-left:24.8rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item{
	background: #fff;
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	box-sizing: border-box;
	float: left;
	height: 25rem !important;
	moz-box-sizing: border-box;
	moz-transition: none;
	ms-transition: none;
	o-transition: none;
	position: relative;
	transition: none;
	webkit-box-sizing: border-box;
	webkit-transition: none;
	width: 23.8rem;
}.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
	background: #fff;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_articul{
	color: #a5a5a5;
	font-size: 1.3em;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_title{
	overflow: hidden;
	text-overflow: ellipsis;
}.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_title{
	white-space: normal;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_title a{
	color: #3f3f3f;
	display: block;
	font-size: 1.3em;
	text-align: center;
	text-decoration: none;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_title a:hover{
	text-decoration: underline;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price{
	color: #3f3f3f;
	font-weight: bold;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price span.price{
	color: #cc0001;
	font-size: 1.3em;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price span.old_price{
	color: #a5a5a5;
	font-size: 1.2em;
	font-weight: normal;
	text-decoration: line-through;
	white-space: nowrap;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls{
	border-bottom: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	box-sizing: content-box;
	margin: 0 0px;
	margin: 0 -0.1rem;
	opacity: 0;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	text-align: center;
	width: 100%;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blockone{
	text-align: center;
	white-space: nowrap;
	width: 100%;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blockone span{
	color: #3f3f3f;
	font-size: 1.3em;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blockone,
.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo{
	text-align: center;
	width: 100%;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a{
	box-sizing: border-box;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 1%;
	min-width: 10rem;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	width: 60%;
	border:none;
	text-decoration:none;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls input[type=text]{
	border: none;
}.bx-touch .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls,
.catalog-b-list .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_controls{
	opacity: 1;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_cnt_desc{
	position: absolute;
	right: -4.5rem;
	text-align: left;
	top: 0.2rem;
	width: 4rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls a{
	margin-bottom: 0.5rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_price .bx_price{
	font-size: 1.3em;
	padding: 0 0 0 1.8rem;
	padding-top: 0.5rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_images_double,
.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_images{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 16.6rem;
	margin-bottom: 0.3rem;
	position: relative;
	webkit-background-size: contain;
	width: 100%;
	z-index: 91;
	overflow:hidden;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_images img{
	position:absolute;
	left:-50%;
	right:-50%;
	top:-50%;
	bottom:-50%;
	margin:auto;
	max-width:20rem;
	max-height:16.3rem;
}.bx-no-touch .bx_catalog_list_home .bx_catalog_item.double:hover .bx_catalog_item_images_double{
	animation: rotateimglast 0.5s;
	opacity: 1;
	webkit-animation: rotateimglast 0.5s;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button,
.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button_type_2{
	display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #a9a9a9;
    text-align: center;
    font: 1.4em/2.5rem sans-serif;
    line-height: 2.5rem;
    background: #fff;
	color: #656565;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button_type_2:hover{
	background: #fff;
	text-decoration:none;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button_type_2:active{
	background-image: linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image: -moz-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image: -o-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#fcfcfc));
	background-image: -webkit-linear-gradient(#f1f1f1 0%, #fcfcfc 100%);
	box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .05);
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button{
	background: #ad1b34;
	color: #fff;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button:hover{
	background: #d84406;
	text-decoration:none;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button.favourite{
	background-image: linear-gradient(#7abc58,#7abc58);
	background-image: -moz-linear-gradient(#7abc58,#7abc58);
	background-image: -webkit-linear-gradient(#7abc58,#7abc58);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF7abc58',endColorstr='#FF7abc58');
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_bt_button.favourite:hover{
	background-image: linear-gradient(#6BA723,#6BA723);
	background-image: -moz-linear-gradient(#6BA723,#6BA723);
	background-image: -webkit-linear-gradient(#6BA723,#6BA723);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF6BA723',endColorstr='#FF6BA723');
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_small.bx_bt_button{
	display: inline-block;
	line-height: 2rem;
	min-width: 2rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_small.bx_bt_button_type_2{
	display: inline-block;
	line-height: 2.5rem;
	min-width: 2.5rem;
	text-decoration:none;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_small.bx_bt_button_type_2{
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_small.bx_bt_button_type_2:hover{
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_small.bx_bt_button_type_2:active{
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_medium.bx_bt_button{
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.3rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_medium.bx_bt_button_type_2{
	height: 2.3rem;
	line-height: 2.3rem;
	padding: 0 1.3rem;
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_medium.bx_bt_button_type_2:hover{
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_medium.bx_bt_button_type_2:active{
}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_col_input {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem !important;
    padding: 0;
    vertical-align: middle;
    border: 1px solid #a9a9a9 !important;
    border-width: 1px 0 !important;
    text-align: center;
    vertical-align: top;
	font: 1.4em/2.5rem sans-serif;
	outline:none;
}.catalog-b-list .catalog-b-header, #catalog-products .ui-accordion.ui-accordion-header{
	min-height:0.5rem;
	border:none !important;
	border-radius:0 !important;
	color:#fff;
	outline:none;
}.catalog-b-list .catalog-b-header{
	line-height: 6.5rem;
	padding: 0;
	padding-left:1.5rem;
}.catalog-b-list .catalog-b-cont{
	margin:0 0 12rem 0;
	height:auto;
}.catalog-b-list .catalog-b-header span{
	display:none;
}.catalog-b-list .catalog-b-header strong{
	display: inline-block;
	margin: 0 1rem 0 0;
	vertical-align: middle;
}.catalog-b-list .catalog-b-header a{
	color: #fff;
	display:none;
	vertical-align: middle;
	line-height:6.5rem;
}.catalog-b-list .catalog-b-header a:hover{
	text-decoration: none;
}.catalog-b-list .catalog-b-header a:focus{
	border:none;
	outline:none;
	text-decoration:none;
}.catalog-b-list .catalog-preview{
	vertical-align: top;
	float:left;
}.catalog-b-list .catalog-preview > a{
	display: block;
	max-height: 50rem;
}.catalog-b-list .catalog-preview > a > img{
	width:24.8rem;
	height:50rem;
}.catalog-b-list .catalog-preview > a.catalog-b-title{
	display:none;
}
@media (max-width: 767px){
	.catalog-b-list{
		margin:1rem 0;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item{
		width:100%;
		display:none;
		border-left: 1px solid #E4E4E4;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item:nth-child(-n+3){
		display:block;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item:nth-child(3){
		/*border-bottom:none;*/
	}.catalog-b-list .bx_catalog_list_home{
		padding:0;
	}.catalog-b-list .catalog-b-header span.wrap-catalog-b-text{
		display:inline;
		color:#fff;
		line-height:5.3rem;
		padding:0 2rem;
	}.catalog-b-list .catalog-b-header span.wrap-catalog-b-text span{
		display:inline;
	}.catalog-b-list .catalog-b-header{
		font-size:2.4em;
		vertical-align: middle;
		padding:0;
	}.catalog-b-list .catalog-b-header span.wrap-catalog-b-text span.rarr{
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 2px solid #fff;
		padding: 0.2rem 0.4rem;
		margin-left: 1rem;
		vertical-align: middle;
		font-size: 1.6rem;
	}.catalog-b-list .catalog-b-header a{
		position:relative;
		display:inline-block;
		padding:0 1.5rem;
	}.catalog-b-list .catalog-b-header a .ico_rarrow{
		position: relative;
		width: 3.7rem;
		height: 3.7rem;
		display: inline-block;
		font-size: .7rem;
		vertical-align: middle;
		margin-left:1rem;
	}.catalog-b-list .catalog-b-header a .ico_rarrow:after{
		content: "";
		position: absolute;
		top: -1px;
		left: -1px;
		width: 100%;
		height: 100%;
		border: 2px solid hsla(0,0%,100%,.5);
		border-radius: 100px;
		-webkit-transform: scale(1);
		transform: scale(1);
		transition: -webkit-transform .15s ease-out;
		transition: transform .15s ease-out;
		transition: transform .15s ease-out,-webkit-transform .15s ease-out;
	}.catalog-b-list .catalog-b-header a .ico_rarrow:before{
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 14'%3E%3Csymbol id='a' viewBox='-10 -7 20 14'%3E%3Cpath fill='none' stroke='%23ededed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M7 0H-9M3.4 6l5.3-6-5.5-6'/%3E%3C/symbol%3E%3Cuse xlink:href='%23a' x='-10' y='-7' transform='matrix(1 0 0 -1 10 7)' overflow='visible'/%3E%3C/svg%3E") no-repeat;
		background-size: 100%;
		background-position: 50%;
		width: 19px;
		height: 13.3px;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}.catalog-b-list .catalog-b-header{
		width:100%;
		height:6.5rem;
		margin:0;
	}.catalog-b-list .catalog-b-header .title_txt{
	}.catalog-b-list .section{
		margin:0;
	}.catalog-b-list .ui-icon{
		display:none;
	}.catalog-b-list .ui-accordion .ui-accordion-header{
		padding:0;
	}.catalog-b-list .catalog-b{
		height:auto;
		margin: 1rem 0;
		border:none !important;
	}.catalog-b-list .catalog-b .catalog-preview{
		background:#F6F6F6;
		float:none;
	}.catalog-b-list .catalog-b .catalog-preview:focus{
		outline:none;
	}.catalog-b-list .catalog-b .catalog-preview .catalog-b-pic{
		display:none;
	}.catalog-b-list .catalog-b .catalog-preview .catalog-b-title{
		font-size:1.8em;
		font-weight:bold;
		display:block;
		padding:0;
		background:#EDEDED;
		color:#000;
		height:11rem;
		line-height:11rem;
	}.catalog-b-list .catalog-b .catalog-preview .catalog-b-title .catalog-b-title-pic{
		float:left;
		height:11rem;
		width:11rem;
	}.catalog-b-list .catalog-b .catalog-preview .catalog-b-title .catalog-b-title-txt{
		padding:2rem;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_title a{
		font-size:1.6em;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a span{
		display:none;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a{
		background:#ad1b34 url(images/cart.png);
		background-repeat:no-repeat;
		background-position:50%;
		background-size:2rem;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a.favourite{
		background:#7abc58 url(images/like.png);
		background-repeat:no-repeat;
		background-position:50%;
		background-size:2rem;
	}.catalog-b-list .bx_catalog_list_home{
		width:100%;
		display:none;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item{
		width:100% !important;
		height: auto !important;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls{
		opacity:1;
		padding-top:1.5rem;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls{
		padding-bottom:2rem;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a {
		height: 5rem;
		line-height: 5rem;
		border: none;
		width: 5rem;
		min-width:auto;
		overflow: hidden;
		padding:0;
		margin:1rem;
	}.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container{
		position:static;
		background:none;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls{
		border:none;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a::before{
		 background-color: #ad1b34;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a.favourite::before{
		 background-color: #59832d;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_small.bx_bt_button_type_2{
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_col_input{
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls a{
		margin-bottom:1.5rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.catalog-b-list .bx_catalog_list_home .bx_catalog_item{
		width:50%;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item:nth-child(8),.bx_catalog_item:nth-child(7),.bx_catalog_item:nth-child(6),.bx_catalog_item:nth-child(5){
		display:none;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.catalog-b-list .bx_catalog_list_home .bx_catalog_item{
		width:33%;
	}.catalog-b-list .bx_catalog_list_home .bx_catalog_item:nth-child(8),.bx_catalog_item:nth-child(7){
		display:none;
	}
}
@media (min-width: 1200px) {
	.catalog-b-list .bx_catalog_list_home .bx_catalog_item{
		width:25%;
	}
	
}
