.top-bar{
	background: #F6F6F6;
	border-bottom: 1px solid #CACACA;
	font-size:1.4em;
	padding: 0.4rem 0;
	z-index: 1000;
}.top-bar .user-b{
	display: inline-block;
	vertical-align: top;
	line-height:3rem;
}.top-bar .basket-line{
	display: inline-block;
	vertical-align: top;
	line-height:3rem;
}.top-bar .basket-line{

}.top-bar .user-b span{
	margin: 0 1rem 0 0;
}.top-bar .user-b a{
	color: #000;
}.top-bar .lang{
	display: inline-block;
	vertical-align: top;
}.top-bar .lang a{
	color: #000;
}.top-bar .lang .dropdown-menu img{
	margin: 0 1rem 0 0;
}.top-bar a{
	color: #000;
}.top-bar a.basket-link:before{
	content:"\f07a";
	font-family: FontAwesome;
	padding-right:.7rem;
}.top-bar a.basket-link.favorites:before{
	content:"\f08a";
	font-family: FontAwesome;
	padding-right:.7rem;
}.top-bar a:hover{
	color: #000;
	text-decoration:none;
}.top-bar .top-bar-links a .num_products{
	color: #c81e3a;
	font-weight:600;
}.top-bar .btn-group .dropdown-toggle{
	width: 5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	overflow: hidden;
	padding-right:.8rem;
}.top-bar .btn-group .dropdown-toggle .data-drop{
	margin-right: .5rem;
}
 