.goods-item{
	font-size: 16px;
}.bx_catalog_list_home.list .goods-item{
	background: #fff;
	border: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,.1);
	list-style: none;
	margin-bottom: 15px;
	moz-box-shadow: 0px 0px 8px rgba(0,0,0,.1);
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.1);
}.goods-item .goods-name{
	font-weight: 400;
}.goods-item .goods-name{
	_height: 36px;
	font-size: 16px;
	max-height: 36px;
	overflow: hidden;
}.goods-item .goods-desc{
	font-size: 16px;
}.bx_catalog_list_home .goods-item{
	border-bottom: 1px dotted #ccc;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}.bx_catalog_list_home.list .goods-pic{
	border: 0 none;
	float: left;
	font-family: Arial;
	height: 180px;
	line-height: 98px;
	margin-right: 10px;
	overflow: hidden;
	text-align: center;
	width: 180px;
}.bx_catalog_list_home .goods-pic{
	position: relative;
}.bx_catalog_list_home.list .goods-pic img{
	_height: 180px;
	_width: 180px;
	max-height: 180px;
	max-width: 180px;
}.bx_catalog_list_home.list .goods-action{
	float: right;
	margin-top: 25px;
	width: 210px;
}.bx_catalog_list_home.list .goods-item .goods-buy{
	margin-bottom: 10px;
}.bx_catalog_list_home.list .goods-item .p-quantity{
	display: block;
	margin: 10px auto;
	margin-bottom: 10px;
	padding-left: 0px;
	width: 90px;
}.bx_catalog_list_home.list .goods-item .p-quantity input{
	border: 1px solid #a9a9a9 !important;
	border-width: 1px 0 !important;
	font: 14px/25px sans-serif;
	height: 31px;
	line-height: 31px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	vertical-align: top;
	width: 30px;
}.bx_catalog_list_home .goods-item .p-quantity a{
	border: 1px solid #a9a9a9;
	color: #656565;
	display: inline-block;
	font: 14px/31px simsun,serif;
	height: 31px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 30px;
}.bx_catalog_list_home .goods-item .btn-simple{
	margin-right: 10px;
}.bx_catalog_list_home.list .goods-item .goods-others .btn span{
	padding-left: 6px;
}.bx_catalog_list_home.list .goods-price{
	float: right;
	line-height: 22px;
	padding-right: 20px;
	width: 142px;
}.bx_catalog_list_home.list .goods-price{
	margin-top: 25px;
}.bx_catalog_list_home.list .goods-item .goods-price ins{
	font-size: 24px;
	font-weight: 600;
}.bx_catalog_list_home.list .goods-info{
	margin-left: 130px;
	margin-right: 380px;
}.bx_catalog_list_home.list .goods-item .btn.action-addtocart{
	background: #ad1b34;
	border-radius: 0;
	color: #fff;
	display: block;
	margin: 10px auto;
}.bx_catalog_list_home.list .goods-item .btn.action-addtocart:hover{
	background-image: linear-gradient(#e8520e,#d84406);
	background-image: -moz-linear-gradient(#e8520e,#d84406);
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#e8520e),color-stop(100%,#d84406));
	background-image: -webkit-linear-gradient(#e8520e,#d84406);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FFE8520E',endColorstr='#FFD84406') \9;
}.bx_catalog_list_home.list .goods-item .btn.action-addtofavourite{
	background: #7abc58;
	border-radius: 0;
	color: #fff;
	display: block;
	margin: 10px auto;
}.bx_catalog_list_home.list .goods-item .btn.action-addtofavourite:hover{
	background-image: linear-gradient(#6BA723,#6BA723);
	background-image: -moz-linear-gradient(#6BA723,#6BA723);
	background-image: -webkit-linear-gradient(#6BA723,#6BA723);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF6BA723',endColorstr='#FF6BA723');
}.bx_catalog_list_home.grid .goods-item{
	background: #fff;
	border: 1px solid #fff;
	box-shadow: 0px 0px 8px rgba(0,0,0,.1);
	margin-bottom: 20px;
	margin-right: 20px;
	moz-box-shadow: 0px 0px 8px rgba(0,0,0,.1);
	progid: DXImageTransform.Microsoft.Shadow(color=#000000, direction=0, strength=80);
	webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.1);
}.bx_catalog_list_home.grid .goods-item{
	float: left;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	width: 237px;
}.bx_catalog_list_home.grid .goods-item.last{
	margin-right: none;
}.bx_catalog_list_home.grid .goods-pic{
	border: 0 none;
	font-family: Arial;
	font-size: 0 !important;
	height: 160px;
	line-height: 158px;
	line-height: 286px !important;
	margin: 0 auto 10px;
	max-height: 200px !important;
	max-width: 200px !important;
	overflow: hidden;
	text-align: center;
	width: 160px;
}.goods-item .goods-price ins{
	color: #cc0001;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}